<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="page-title">Transactions</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink] = "routes.pharmacyDashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Transactions</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <app-pagination-header></app-pagination-header>
              <table matSort (matSortChange)="sortData($event)" class="datatable table table-hover table-center mb-0">
                <thead>
                  <tr>
                    <th mat-sort-header="invoiceNo">Invoice No</th>
                    <th mat-sort-header="productId">Product ID</th>
                    <th mat-sort-header="productName">Product Name</th>
                    <th mat-sort-header="totalAmount">Total Amount</th>
                    <th mat-sort-header="status">Status</th>
                    <th mat-sort-header="actions">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  @for (data of tableData; track data) {
                    <tr>
                      <td><a [routerLink] = "routes.pharmacyInvoice">{{data.invoiceNo}}</a></td>
                      <td>{{data.productId}}</td>
                      <td>
                        <h2 class="table-avatar">
                          <span class="avatar avatar-sm me-2"><img class="avatar-img" [src]="data.img" alt="User Image"></span>
                          {{data.productName}}
                        </h2>
                      </td>
                      <td>{{data.totalAmount}}</td>
                      <td>
                        <span class="badge rounded-pill bg-success inv-badge">{{data.status}}</span>
                      </td>
                      <td>
                        <div class="actions">
                          <a class="btn btn-sm bg-danger-light" data-bs-toggle="modal" href="#delete_modal">
                            <i class="fe fe-trash"></i> {{data.actions}}
                          </a>
                        </div>
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
            <app-custom-pagination></app-custom-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Page Wrapper -->