<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-7 col-auto">
          <h3 class="page-title">Supplier</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink] = "routes.pharmacyDashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Supplier</li>
          </ul>
        </div>
        <div class="col-sm-5 col">
          <a [routerLink] = "routes.addSupplier" class="btn btn-primary float-end mt-2">Add New</a>
        </div>
      </div>
    </div>
    <!-- /Page Header -->
    <div class="row">
      <div class="col-md-12">

        <!-- Recent Orders -->
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <app-pagination-header></app-pagination-header>
              <table matSort (matSortChange)="sortData($event)" class="datatable table table-hover table-center mb-0">
                <thead>
                  <tr>
                    <th mat-sort-header="id">ID</th>
                    <th mat-sort-header="product">Product</th>
                    <th mat-sort-header="name">Name</th>
                    <th mat-sort-header="phone">Phone</th>
                    <th mat-sort-header="email">Email</th>
                    <th mat-sort-header="address">Address</th>
                    <th mat-sort-header="company">Company</th>
                    <th mat-sort-header="action">Action</th>
                  </tr>
                </thead>
                <tbody>
                  @for (data of tableData; track data) {
                    <tr>
                      <td>{{data.id}}</td>
                      <td>
                        <h2 class="table-avatar">
                          <span class="avatar avatar-sm me-2"><img class="avatar-img" [src]="data.img" alt="product image"></span>
                          {{data.product}}
                        </h2>
                      </td>
                      <td>{{data.name}}</td>
                      <td>{{data.phone}}</td>
                      <td>{{data.email}}</td>
                      <td>{{data.address}}</td>
                      <td>{{data.company}}</td>
                      <td>
                        <div class="actions">
                          <a class="btn btn-sm bg-success-light me-1" [routerLink] = "routes.editSupplier">
                            <i class="fe fe-pencil"></i> {{data.action1}}
                          </a>
                          <a href="javascript:void(0);" class="btn btn-sm bg-danger-light" data-bs-toggle="modal" href="#delete_modal">
                            <i class="fe fe-trash"></i> {{data.action2}}
                          </a>
                        </div>
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
            <app-custom-pagination></app-custom-pagination>
          </div>
        </div>
        <!-- /Recent Orders -->

      </div>
    </div>
  </div>
</div>
<!-- Model -->
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="acc_title">Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="acc_msg">Are you sure you want to delete?</p>
      </div>
      <div class="modal-footer">
        <a href="javascript:void(0)" class="btn btn-success si_accept_confirm">Yes</a>
        <button type="button" class="btn btn-danger si_accept_cancel" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- /Modele -->