<app-header></app-header>

<ng-container *ngIf="bookAppointmentbtn === false">
  <!-- Home Banner -->
  <section class="banner-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="banner-content aos" data-aos="fade-up" data-aos-duration="2000">
            <h1 class="fs-2">
              Transform Your <span>Hair & Skin</span> with Our Online
              Dermatology Consult
            </h1>
            <img src="assets/img/icons/header-icon.svg" class="header-icon" alt="header-icon" />
            <p class="text-success">
              Proven Results with 98.7% User Satisfaction 
            </p>
            <!-- <a [routerLink]="routes.booking1" class="btn">Start a Consult</a> -->
            <!-- <div class="banner-img banner_img aos" data-aos="fade-up" data-aos-duration="2000">
            <img src="assets/img/banner-img.png" class="img_fluid" alt="patient-image" />
          </div> -->
            <div class="banner-img banner_img aos" data-aos="fade-up" data-aos-duration="2000">
              <img src="assets/img/banner-img.png" class="img-fluid img_fluid" alt="patient-image" />
              <div class="banner-img1">
                <img src="assets/img/banner/banner-img1.svg" class="img-fluid" alt="checkup-image" />
              </div>
              <div class="banner-img2">
                <img src="assets/img/banner/banner-img2.svg" class="img-fluid" alt="doctor-slide" />
              </div>
              <div class="banner-img3">
                <img src="assets/img/banner/banner-img3.svg" class="img-fluid" alt="doctors-list" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <!-- app.component.html -->
          <div class="form" [formGroup]="appointmentForm">
            <h4 class="text-center mb-2 form_title_appointment">Get an Appointment</h4>
            <div class="row mt-4">
              <!-- age and gender -->
              <div class="row">
                <div class="col-lg-6 col-md-6 col-6 p-0">
                  <input type="text" placeholder="Enter Age" formControlName="age" (keypress)="validateNumber($event)" (input)="checkLengthage($event, 2)">
                  <div
                    *ngIf="appointmentForm.get('age')?.touched && appointmentForm.get('age')?.invalid || (submitted &&  appointmentForm.get('age')?.invalid)"
                    class="text-danger">
                    Age is required.
                  </div>
                  <div *ngIf="appointmentForm.get('age')?.hasError('pattern') && appointmentForm.get('age')?.touched"
                    class="text-danger">
                    Age must be a number
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-6 p-0">
                  <select name="gender" id="gender" formControlName="gender" class="mt-0">
                    <option value="">Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                  </select>
                  <div
                    *ngIf="appointmentForm.get('gender')?.touched && appointmentForm.get('gender')?.invalid || (submitted && appointmentForm.get('gender')?.invalid)"
                    class="text-danger">
                    Gender is required.
                  </div>
                </div>
              </div>
              <div class="col-lg-12 mt-3">
                <h5 class="text-center form_title">Select your concern(s)</h5>
              </div>
              <!-- list of concerns/decease -->
              <!-- <div class="row concerns" *ngIf="!isMobileResolution">
                <div *ngFor="let concern of concerns; let i = index"
                  class="col-lg-6 col-md-6 mt-3 d-flex align-items-center">
                  <input type="checkbox" id="concern{{i}}" [checked]="isConcernSelected(concern)"
                    (change)="onCheckboxChange($event, concern)">
                  <label class="concern_label" for="concern{{i}}">{{concern.issueName}}</label>
                </div>
              </div> -->
              <div class="row concerns p-0">
                <div class=" mt-0 p-0">
                  <!-- <p-multiSelect [options]="concerns" optionLabel="issueName"
                  (onChange)="onCheckboxChange($event, concerns)"   placeholder="Select Concerns" class="mutiselect">
   </p-multiSelect> -->
                  <p-multiSelect [options]="concerns" optionLabel="issueName"
                    (onChange)="onCheckboxChanges($event.value)" placeholder="Select Concerns" class="mutiselect">
                  </p-multiSelect>

                </div>
              </div>
              <div *ngIf="submitted && (!choosenIssues?.length)" class="text-danger">
                Please select issue
              </div>
              <!-- Are you consulting for first time? -->
              <!-- <div class="concerns mt-3">
                <h5 class="text-center const form_title">
                  Are you consulting for the first time?
                </h5>
                <div class="yes_no_btn d-flex align-items-center justify-content-center">
                  <input type="radio" id="yes" value="true" formControlName="firstTimeConsult" (change)="onRadioChange('true')" />
                  <label [ngClass]="{'selected-yes': selectedValue === 'true'}" for="yes">Yes</label>
                  <input type="radio" id="no" value="false" formControlName="firstTimeConsult" (change)="onRadioChange('false')" />
                  <label [ngClass]="{'selected-yes': selectedValue === 'false'}" for="no">No</label>
                </div>
              </div> -->
              <div class="mt-1 col-12 p-0">
                <!-- <input type="text" placeholder="Enter description" formControlName="description"> -->
                <textarea placeholder="Enter description" class="description" formControlName="description" rows="3"
                  cols="50" (input)="checkLength($event, 150)"></textarea>
              </div>
              <div
                *ngIf="appointmentForm.get('description')?.touched && appointmentForm.get('description')?.invalid || (submitted && appointmentForm.get('description')?.invalid)"
                class="text-danger">
                Description is required.
              </div>
              <div class="file-UploadSection mt-3">
                <h5 class="text-center const form_title">Upload up to 5 Images</h5>

                <!-- Display count of selected files -->

                <div class="file-upload-container d-flex justify-content-evenly">
                  <input type="file" (change)="onFileChange($event)" multiple id="fileInput" style="display: none" />
                  <label for="fileInput" class="custom-file-upload">Select Files</label>
                  <div *ngIf="files.length === 0" class="no-files-uploaded">
                    No file uploaded
                  </div>
                  <span *ngIf="files.length > 0">{{ files.length }}
                    {{ files.length === 1 ? "file" : "files" }} selected</span>
                  
                  <!-- <button *ngIf="files.length > 0" class="preview-button" (click)="openImagePreviewModal()"
                    [disabled]="files.length === 0">
                    View Images
                  </button> -->
                </div>
                <div *ngIf="files.length>0" class="d-flex justify-content-evenly img_box">
                  <div  *ngFor="let file of files; let i = index" 
                  >
                    <div class="position-relative">
                      <img [src]="file.url" class="issueImages"  alt="File Preview" />
                      <span class="delete_img" (click)="deleteFile(file)"><i class="fa fa-times" aria-hidden="true"></i></span>
                      

                    </div>
                   
                </div>
                </div>
                <span  class="text-danger" *ngIf="files.length>5">Select Upto 5 images only</span>
              </div>

             
              <div class="img-custom-modal" *ngIf="isImageModalOpen">
                <div class="img-custom-modal-content">
                  <button type="button" class="img-close" (click)="closeImageModal()">
                    <i class="fa-regular fa-circle-xmark text-black"></i>
                  </button>
                  <div class="img-custom-modal-body">
                    <div id="fileCarousel" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner">
                        <div *ngFor="let file of files; let i = index" class="carousel-item carousel-items"
                          [ngClass]="{ 'active': i === activeIndex }">
                          <ng-container *ngIf="file.type.startsWith('image')">
                            <img [src]="file.url" class="d-block w-100 img-fluid" alt="File Preview" />
                          </ng-container>
                          <ng-container *ngIf="!file.type.startsWith('image')">
                            <span>{{ file.name }}</span>
                          </ng-container>
                        </div>
                      </div>
                      <a class="carousel-control-prev" role="button" data-slide="prev" (click)="prev()">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" role="button" data-slide="next" (click)="next()">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="custom-modal-backdrop" *ngIf="isImageModalOpen" (click)="closeImageModal()"></div>
              <ng-container *ngIf="slotConfirmed===false && submitted===true">
                <div>
                  <p class="mb-0 text-center text-danger">Please select time slot</p>
                </div>
              </ng-container>
              <ng-container *ngIf="selectedTimeSlot">

                <p class="mb-0 text-center">Selected Slot: <strong class="strong_color">{{ selectedTimeSlot.startTime
                    }}, {{
                    selectedDate | date: 'yyyy-MM-dd'
                    }}</strong></p>

              </ng-container>

              <div class="d-flex justify-content-center align-items-center mt-4">
                <button class="form_btn me-3" (click)="openModal()">Select Time</button>
                <button class="form_btn mobile-fixed-bottom" (click)="onSubmit()">Book Appointment</button>
              </div>
            </div>
          </div>

          <!-- Custom Modal -->
          <div class="custom-modal" *ngIf="isModalOpen">
            <div class="custom-modal-content">
              <div class="custom-modal-header">
                <h3 class="custom-modal-title">Select Preferred Date and Available Time Slot</h3>
                <button type="button" class="close" (click)="closeModal()">
                  <i class="fa-regular fa-circle-xmark text-black"></i>
                </button>
              </div>
              <div class="custom-modal-body">
                <div class="row mt-3">
                  <div class="col-lg-6  d-flex justify-content-center align-items-center">
                    <p-calendar [(ngModel)]="selectedDate" [minDate]="minDate" inline="true" dateFormat="yy-mm-dd"
                      (onSelect)="onSelectDate($event)" class="calendar-p"  (ngModelChange)="onDateChange($event)"
                      (onInput)="onDateChange($event)"></p-calendar>
                  </div>
                  <div class="col-lg-6  justify-content-center">
                    <!-- Available Times -->
                    <h6 class="text-center mt-md-5">Available Time Slots</h6>
                    <div class="row mt-md-5 mb-5">
                      <div *ngFor="let slot of filteredAppointments" class="col-lg-3 col-md-4 col-sm-4 col-6 mt-2"
                        (click)="onSelectTimeSlot(slot)">
                        <div [ngClass]="{
                            selected: tempSelectedTimeSlot === slot,
                            'not-selected': tempSelectedTimeSlot !== slot
                          }">
                          {{ slot.startTime }}
                        </div>
                      </div>
                      <div *ngIf="!filteredAppointments.length" class="alt_text">
                        no slots available
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="tempSelectedTimeSlot" class=" row ps-5 pe-5">
                  <div class="col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center align-items-center">
                    <p class="mb-0 text-center">Selected Slot: <strong class="strong_color">{{
                        tempSelectedTimeSlot.startTime }}, {{
                        selectedDate | date: 'yyyy-MM-dd'
                        }}</strong></p>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center align-items-center">
                    <button class="modal_btn" (click)="confirmSlot();slotConfirmed=true">Confirm Slot</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Form -->
        <div class="custom-modal-backdrop" *ngIf="isModalOpen" (click)="closeModal()"></div>
      </div>
    </div>
  </section>
  <!-- /Home Banner -->

  <!-- Work Section -->
  <section class="work-section mt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 work-details">
          <div class="section-header-one aos" data-aos="fade-up" data-aos-duration="2000">
            <h5>How it Works</h5>
            <h2 class="section-title">3 easy steps to get your solution</h2>
          </div>
          <div class="row">
            <div class="col-lg-12 aos" data-aos="fade-up">
              <div class="work-info">
                <div class="work-icon">
                  <span><img src="assets/img/icons/work-03.svg" alt="calendar-icon" /></span>
                </div>
                <div class="work-content">
                  <h5>Schedule Appointment</h5>
                  <p>
                    After you choose your preferred doctor, select a convenient
                    time slot, & confirm your appointment.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-12 aos" data-aos="fade-up">
              <div class="work-info">
                <div class="work-icon">
                  <span><img src="assets/img/icons/work-01.svg" alt="search-doctor-icon" /></span>
                </div>
                <div class="work-content">
                  <h5>Meet your dermatologist online</h5>
                  <p>
                    At your chosen date & time slot, meet your dermatologist
                    online via a Google Meet call, to discuss your skin & hair
                    goals and concerns.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-12 aos" data-aos="fade-up">
              <div class="work-info">
                <div class="work-icon">
                  <span><img src="assets/img/icons/work-04.svg" alt="solution-icon" /></span>
                </div>
                <div class="work-content">
                  <h5>Get Your Solution</h5>
                  <p>
                    Discuss your health concerns with the doctor and receive
                    personalized advice & solution.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 work-img-info aos" data-aos="fade-up" data-aos-duration="2000">
          <img src="assets/img/work-img.png" class="img-fluid mirror-image" alt="doctor-image" />
        </div>
      </div>
    </div>
  </section>
  <!-- /Work Section -->

  <!-- Doctors Section -->
  <section class="doctors-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 aos" data-aos="fade-up">
          <div class="section-header-one section-header-slider text-center">
            <h2 class="section-title">Best Doctors</h2>
          </div>
        </div>
      </div>
      <div class="doctor-slider-one owl-theme aos" data-aos="fade-up" data-aos-duration="2000">
        <owl-carousel-o [options]="doctorSlider">
          @for (data of Doctors; track data) {
          <ng-template carouselSlide>
            <div class="item">
              <div class="doctor-profile-widget doc-item">
                <div class="doc-pro-img">
                  <!-- [routerLink]="routes.doctorProfile2" -->
                  <a>
                    <div class="doctor-profile-img">
                      <img *ngIf="!data.doctorImage" src="../../../../assets/img/dummy/doload.jpg" class="img-fluid" alt="doctor" />
                      <img *ngIf="data.doctorImage" [src]="generateImageUrl(data.doctorImage)" (error)="handleImageError($event)" class="img-fluid doc_img" alt="doctor">
                    </div>
                  </a>
                  <!-- <div class="doctor-amount">
                    <span>{{ data.amount }}</span>
                  </div> -->
                </div>
                <div class="doc-content">
                  <div class="doc-pro-info">
                    <div class="doc-pro-name">
                      <a >{{
                        data.name
                        }}</a>
                      <p>{{ data.specialty }}</p>
                    </div>
                    <div class="reviews-ratings">
                    </div>
                  </div>
                  <div class="doc-pro-location">
                    <p>
                      {{ data.email }}
                    </p>
                    <span *ngIf="data.isAvailable" class="badge badge-success doc-badge"><i
                        class="fa-solid fa-circle"></i>Available</span>
                    <span *ngIf="!data.isAvailable" class="badge badge-warning doc-badge"><i
                        class="fa-solid fa-circle"></i>Unavailable</span>

                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          }
        </owl-carousel-o>
      </div>
    </div>
  </section>

  <!-- Testimonial Section -->
  <section class="testimonial-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ngx-slick-carousel class="testimonial-slider" #slickModal="slick-carousel" [config]="slideConfig">
            @for (data of aboutUs; track data) {
            <div class="testimonial-grid" ngxSlickItem>
              <div class="testimonial-info">
                <div class="testimonial-img">
                  <img [src]="data.img" class="img-fluid" alt="client-image" />
                </div>
                <div class="testimonial-content">
                  <div class="section-inner-header testimonial-header">
                    <h6>{{ data.heading1 }}</h6>
                    <h2>{{ data.heading2 }}</h2>
                  </div>
                  <div class="testimonial-details">
                    <p>{{ data.content }}</p>
                    <h6>
                      <span>{{ data.name }}</span> {{ data.location }}
                    </h6>
                  </div>
                </div>
              </div>
            </div>
            }
          </ngx-slick-carousel>
        </div>
      </div>
    </div>
  </section>
  <!-- /Testimonial Section -->

  <!-- /FAQ Section -->
  <section class="faq-section mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header-one aos" data-aos="fade-up" data-aos-duration="2000">
            <h5>Get Your Answer</h5>
            <h2 class="section-title">Frequently Asked Questions</h2>
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12 aos" data-aos="fade-up" data-aos-duration="2000">
          <div class="faq-img">
            <img src="assets/img/faq-img.png" class="img-fluid" alt="img" />
            <div class="faq-patients-count">
              <div class="faq-smile-img">
                <img src="assets/img/icons/smiling-icon.svg" alt="icon" />
              </div>
              <div class="faq-patients-content">
                <h4>
                  <span class="count-digit" [countUp]="95" [options]="{ enableScrollSpy: true }">95</span>k+
                </h4>
                <p>Happy Patients</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="faq-info aos" data-aos="fade-up" data-aos-duration="2000">
            <div class="accordion" id="faq-details">
              <!-- FAQ Item -->
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <a href="javascript:void(0);" class="accordion-button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    How do I book an appointment with a doctor?
                  </a>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                  data-bs-parent="#faq-details">
                  <div class="accordion-body">
                    <div class="accordion-content">
                      <p>
                        Yes, simply visit our website and log in or create an
                        account. Search for a doctor based on specialization,
                        location, or availability & confirm your booking.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /FAQ Item -->

              <!-- FAQ Item -->
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <a href="javascript:void(0);" class="accordion-button collapsed" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Can I request a specific doctor when booking my appointment?
                  </a>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                  data-bs-parent="#faq-details">
                  <div class="accordion-body">
                    <div class="accordion-content">
                      <p>
                        Yes, you can usually request a specific doctor when
                        booking your appointment, though availability may vary
                        based on their schedule.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /FAQ Item -->

              <!-- FAQ Item -->
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <a href="javascript:void(0);" class="accordion-button collapsed" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    What should I do if I need to cancel or reschedule my
                    appointment?
                  </a>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                  data-bs-parent="#faq-details">
                  <div class="accordion-body">
                    <div class="accordion-content">
                      <p>
                        If you need to cancel or reschedule your appointment,
                        contact the doctor as soon as possible to inform them
                        and to reschedule for another available time slot.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /FAQ Item -->

              <!-- FAQ Item -->
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                  <a href="javascript:void(0);" class="accordion-button collapsed" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    What if I'm running late for my appointment?
                  </a>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                  data-bs-parent="#faq-details">
                  <div class="accordion-body">
                    <div class="accordion-content">
                      <p>
                        If you know you will be late, it's courteous to call the
                        doctor's office and inform them. Depending on their
                        policy and schedule, they may be able to accommodate you
                        or reschedule your appointment.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /FAQ Item -->

              <!-- FAQ Item -->
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                  <a href="javascript:void(0);" class="accordion-button collapsed" data-bs-toggle="collapse"
                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Can I book appointments for family members or dependents?
                  </a>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                  data-bs-parent="#faq-details">
                  <div class="accordion-body">
                    <div class="accordion-content">
                      <p>
                        Yes, in many cases, you can book appointments for family
                        members or dependents. However, you may need to provide
                        their personal information and consent to do so.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /FAQ Item -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /FAQ Section -->

  <!-- Partners Section -->
  <!-- <section class="partners-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header-one text-center aos" data-aos="fade-up" data-aos-duration="2000">
          <h2 class="section-title">Our Partners</h2>
        </div>
      </div>
    </div>
    <div class="partners-info aos" data-aos="fade-up" data-aos-duration="2000">
      <ul class="partners-slider">
        <owl-carousel-o [options]="partnersSliderOption">
          @for (data of partnersSlider; track data) {
          <ng-template carouselSlide>
            <li>
              <a href="javascript:void(0);">
                <img class="img-fluid" [src]="data.img" alt="partners" />
              </a>
            </li>
          </ng-template>
          }
        </owl-carousel-o>
      </ul>
    </div>
  </div>
</section> -->
  <!-- /Partners Section -->
</ng-container>

<ng-container *ngIf="bookAppointmentbtn === true">
  <div class="content ">
    <div class="container mt-5">
      <div class="card card_custom">
      <div class="row">
        <div class="col-md-7 col-lg-8">
          <div class="">
            <h4 class="ms-4"><i class="fa-solid fa-chevron-left fs-4" ></i>  Your Details</h4>
            <div class="card-body">
              <!-- Checkout Form -->
              <form [formGroup]="InfoForm" (ngSubmit)="initiatePayment()">
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <div class="mb-3 card-label">
                      <label for="first-name" class="mb-2">First Name<span class="required-asterisk">*</span></label>
                      <input formControlName="firstName" [readOnly]="existingUser" class="form-control" type="text" placeholder="Enter First Name" />
                      <div *ngIf="InfoForm.get('firstName')?.errors?.['required'] && InfoForm.get('firstName')?.touched">
                        First Name is required
                      </div>
                      <div *ngIf="InfoForm.get('firstName')?.errors?.['alphabetic'] && InfoForm.get('firstName')?.touched">
                        First name must contain only letters.
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div class="mb-3 card-label">
                      <label for="last-name" class="mb-2">Last Name<span class="required-asterisk">*</span></label>
                      <input formControlName="lastName" [readOnly]="existingUser" class="form-control" type="text" placeholder="Enter Last Name" />
                      <div *ngIf="InfoForm.get('lastName')?.errors?.['required'] && InfoForm.get('lastName')?.touched">
                        Last Name is required
                      </div>
                      <div *ngIf="InfoForm.get('lastName')?.errors?.['alphabetic'] && InfoForm.get('lastName')?.touched">
                        Last name must contain only letters.
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <div class="mb-3 card-label">
                      <label for="address" class="mb-2">Address<span class="required-asterisk">*</span></label>
                      <input formControlName="address" [readOnly]="existingUser" class="form-control" type="text" placeholder="Enter address" />
                      <div *ngIf="InfoForm.get('address')?.errors?.['required'] && InfoForm.get('address')?.touched">
                        Address is required
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <div class="mb-3 card-label">
                      <label for="city" class="mb-2">City<span class="required-asterisk">*</span></label>
                      <input formControlName="city" [readOnly]="existingUser" class="form-control" type="text" placeholder="Enter City" />
                      <div *ngIf="InfoForm.get('city')?.errors?.['required'] && InfoForm.get('city')?.touched">
                        City is required
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <div class="mb-3 card-label">
                      <label for="state" class="mb-2">State<span class="required-asterisk">*</span></label>
                      <input formControlName="state" [readOnly]="existingUser" class="form-control" type="text" placeholder="Enter State" />
                      <div *ngIf="InfoForm.get('state')?.errors?.['required'] && InfoForm.get('state')?.touched">
                        State is required
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div class="mb-3 card-label">
                      <label for="country" class="mb-2">Country<span class="required-asterisk">*</span></label>
                      <input formControlName="country" [readOnly]="existingUser" class="form-control" type="text" placeholder="Enter Country"/>
                      <div *ngIf="InfoForm.get('country')?.errors?.['required'] && InfoForm.get('country')?.touched">
                        Country is required
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div class="mb-3 card-label">
                      <label for="pinCode" class="mb-2">pinCode<span class="required-asterisk">*</span></label>
                      <input formControlName="pinCode" [readOnly]="existingUser" class="form-control" type="text" placeholder="Enter PinCode" (keypress)="validateNumber($event)" (input)="checkLength($event, 6)"/>
                      <div *ngIf="InfoForm.get('pinCode')?.errors?.['required'] && InfoForm.get('pinCode')?.touched">
                        pinCode is required
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div class="mb-3 card-label">
                      <label for="email" class="mb-2">Email<span class="required-asterisk">*</span></label>
                      <input formControlName="email" [readOnly]="existingUser" class="form-control" type="email" placeholder="Enter Email" (keypress)="preventWhitespace($event)" id="email">
                      <div *ngIf="InfoForm.get('email')?.errors?.['required'] && InfoForm.get('email')?.touched">
                       Email is required
                      </div>
                      <div *ngIf="InfoForm.get('email')?.errors?.['email'] && InfoForm.get('email')?.touched">
                    Enter correct email format
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12">
                    <div class="mb-3 card-label">
                      <label for="phone" class="mb-2">Phone<span class="required-asterisk">*</span></label>
                      <input formControlName="phone" [readOnly]="existingUser" class="form-control" type="text" placeholder="Enter Phone Number" (keypress)="validateNumber($event)" maxlength="10" id="phone">
                      <div *ngIf="InfoForm.get('phone')?.errors?.['required'] && InfoForm.get('phone')?.touched">
                        Phone number is required
                      </div>
                      <div *ngIf="InfoForm.get('phone')?.errors?.['tenDigitNumber'] && InfoForm.get('phone')?.touched">
                        Phone number must be 10 digits
                      </div>
                    </div>
                  </div>
                </div>
                <div class="">
                  <button type="submit" class="btn pay-btn text-white">Proceed to pay</button>
                  <p *ngIf="!isPatient" class="mb-0">Existing Customer?
                    <a class="login_link" [routerLink]="routes.userLogin">Click here to login</a>
                  </p>
                </div>
              </form>
              <div class="exist-customer mt-2">
              </div>
              <!-- /Checkout Form -->
            </div>
          </div>
        </div>

          <div class="col-md-5 col-lg-4">
            <div class="stickybar">
              <!-- Booking Summary -->
              <div class="">
                <div class="card-header">
                  <h4 class="card-title">Booking Summary</h4>
                </div>
                <div class="card-body">

                  <div class="booking-summary">
                    <div class="booking-item-wrap">
                      <div class="">
                        <div class="row mb-1">
                          <div class="col-6">
                            <span><span class="fw-bold">Date : </span>{{formatDatetoSend( this.selectedDate)}}</span>
                          </div>
                          <div class="col-6">
                            <span><span class="fw-bold">Time : </span>{{selectedTimeSlot.startTime}}</span>
                          </div>
                        </div>
                        <div class="row mb-1">
                          <div class="col-6">
                            <span><span class="fw-bold">Age : </span>{{appointmentForm.value.age}}</span>
                          </div>
                          <div class="col-6">
                            <span><span class="fw-bold">Gender : </span>{{appointmentForm.value.gender}}</span>
                          </div>
                        </div>
                        <div class="mb-1"><span class="fw-bold">Concern: </span><ng-container
                            *ngFor="let issue of choosenIssues">{{issue.issueName}},</ng-container></div>
                        <!-- <div class="mb-1"><span class="fw-bold">Are you consulting for this first time?: </span>{{appointmentForm.value.firstTimeConsult === true?'Yes':'No'}}</div> -->
                      </div>

                    <ul class="booking-fee">
                      <li>Consulting Fee<span>INR {{consultationFees}}</span></li>
                    </ul>
                    <div class="booking-total">
                      <ul class="booking-total-list">
                        <li>
                          <span>Total</span>
                          <span class="total-cost">INR {{consultationFees}}</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Booking Summary -->
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</ng-container>
<app-footer></app-footer>