.form {
    width: 100%;
    height: auto;
    padding: 25px 50px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0px 10px 79px -5px rgb(0 0 0 / 23%);
    animation: slideIn 1.5s ease-out;
    position: relative;
}

@keyframes slideIn {
    from {
        transform: translateY(80px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}


input[type="text"]:hover {
    border: 1px solid #0e82fd;
}

input[type="checkbox"]:hover {
    border: 1px solid #0e82fd;
}

input[type="radio"]:hover {
    border: 1px solid #0e82fd;
}

select:hover {
    border: 1px solid #0e82fd;
}

.hover_concern:hover {
    color: #0e82fd;
}


input[type="text"] {
    height: 40px;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #0000001c;
    width: 90%;
    border-radius: 8px;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    border: 1px solid #eeeff4;
    border-radius: 3px;
    margin-right: 10px;
}

select {
    appearance: none;
    padding: 8px 10px;
    padding-right: 20px;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px);
    background-size: 5px 5px, 5px 5px;
    background-repeat: no-repeat;
    border: 1px solid #eeeff4;
    border-radius: 8px;
    width: 100%;
    color: gray;
    height: 40px;
}



.concerns {
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.no_padding {
    padding-left: 0px;
    padding-right: 0px;
}

.yes_no_btn input[type="radio"] {
    display: none;
}

.strong_color{
    color: #0e82fd;
}

.yes_no_btn input[type="radio"]+label {
    background: #fbf7ff;
    border-color: #0e82fd;
}

.yes_no_btn label {
    padding: 4px 12px;
    border: 1px solid #eeeff4;
    cursor: pointer;
    border-radius: 8px;
    margin: 5px;
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #18191f;
}


.preview-container {
    display: flex;
    flex-wrap: wrap;
}

.preview-container img {
    max-width: 75px;
    max-height: 75px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.file-upload-container {
    display: flex;
    align-items: center;
}

.concern_label:hover {
    color: #0e82fd;
}

.concern_label {
    font-size: 14px;
    color: black;
}

.banner-content p {
    width: 40%;
}

.form h3 {
    color: #0e82fd;
    font-weight: 600;
}

.custom-file-upload {
    border: 1px solid #0e82fd;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #f9f9f9;
    margin-right: 10px;
    border-radius: 5px;
}

.no-files-uploaded {
    margin-right: 10px;
}

// Define the CSS variables and mixins if they are not already defined
$__relative: relative;
$__absolute: absolute;
$__none: none;

@mixin position($pos, $top: null, $right: null, $bottom: null, $left: null) {
    position: $pos;

    @if $top !=null {
        top: $top;
    }

    @if $right !=null {
        right: $right;
    }

    @if $bottom !=null {
        bottom: $bottom;
    }

    @if $left !=null {
        left: $left;
    }
}

@mixin transform($value) {
    -webkit-transform: $value;
    -ms-transform: $value;
    transform: $value;
}

@mixin respond-below($breakpoint) {
    @media (max-width: $breakpoint) {
        @content;
    }
}

// Define the styles for .banner-img and its child elements
.banner-img {
    position: $__relative;
    text-align: right;

    .banner-img1 {
        @include position($__absolute, 260px, null, null, -120px);
        -webkit-animation: float 2s ease-in-out infinite;
        animation: float 2s ease-in-out infinite;
    }

    .banner-img2 {
        @include position($__absolute, 250px, -80px, null, null);
        -webkit-animation: mover 3s infinite alternate;
        animation: mover 3s infinite alternate;
    }

    .banner-img3 {
        @include position($__absolute, 480px, 100px, null, null);
        -webkit-animation: mover 1s infinite alternate;
        animation: mover 1s infinite alternate;
    }

    @keyframes float {
        0% {
            @include transform(translateY(0px));
        }

        50% {
            @include transform(translateY(-15px));
        }

        100% {
            @include transform(translateY(0px));
        }
    }

    @-webkit-keyframes mover {
        0% {
            @include transform(translateY(0px));
        }

        100% {
            @include transform(translateY(-15px));
        }
    }

    @keyframes mover {
        0% {
            @include transform(translateY(0px));
        }

        100% {
            @include transform(translateY(-15px));
        }
    }

    @include respond-below(991px) {
        display: $__none;
    }

    @media (max-width: 1200px) {
        .banner-img1 {
            @include position($__absolute, 200px, null, null, -130px);
            /* Adjusted position */
        }

        .banner-img2 {
            @include position($__absolute, 220px, -80px, null, null);
            /* Adjusted position */
        }

        .banner-img3 {
            @include position($__absolute, 320px, 125px, null, null);
            /* Adjusted position */
        }
    }
}

// Define the styles for .banner_img class
.banner_img {
    max-width: 500px;
    position: absolute;
    top: 70px;
    right: 20px;
}


.form_btn {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: #0e82fd;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.modal_btn {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: #0e82fd;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}


.custom-modal {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 99999;
    width: 1000px;
    max-width: 100%;
    padding: 20px;
    border-radius: 25px;
    max-height: 80vh; /* Added max-height for responsiveness */
    overflow-y: auto;
}


// ::ng-deep .p-calendar {
//     width: 300px !important; /* Adjust width as needed */
//   }

.custom-modal-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
}

.custom-modal-title {
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.custom-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040;
}

.date_picker {
    background-color: white;
    border: none;
}

.custom-calendar {
    width: 250px;
    /* Adjust width to make it smaller */
    font-size: 14px;
    /* Adjust font size */
}

.custom-calendar .p-datepicker {
    width: 100%;
    /* Ensure date picker fits within the defined width */
}

.position-relative.daterange-wraper {
    position: relative;
}

.input-groupicon.calender-input {
    display: flex;
    align-items: center;
}

.input-groupicon.calender-input input {
    width: 100%;
}

.fa-calendar-days {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

/* Ensure the datepicker is always visible */
.bs-datepicker {
    display: block !important;
    /* Force display block */
    visibility: visible !important;
    /* Force visibility */
    opacity: 1 !important;
    /* Force opacity */
    z-index: 1050;
    /* Ensure it is above other elements */
}

.calender-input {
    position: relative;
    display: inline-block;
}

.calender-input input.transparent-input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
}

.calender-input i {
    position: absolute;
    right: 0;
    top: 0;
    pointer-events: none;
}

.fa-calendar-days {
    cursor: pointer;
}

.p-datepicker table td.p-datepicker-today>span {
    background: #0e82fd;
    color: #ffffff;
    border-color: transparent;
}

.selected {
    background-color: #0e82fd;
    color: white;
    cursor: pointer;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.not-selected {
    cursor: pointer;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.img_fluid {
    max-width: 100%;
}

.mirror-image {
    transform: scaleX(-1);
}

.preview-button {
    border: 1px solid #a7a7a700;
    padding: 10px;
}

@media (max-width: 1200px) {
    .container {
        max-width: 90%;
    }
    
    h4 {
        font-size: 14px;
    }
    
    .banner-content p {
        width: 70%;
    }
    
    .form_btn {
        font-size: 10px;
    }
    
    h3 {
        font-size: 16px;
    }
    
    .concern_label {
        font-size: 12px;
    }
    
    .banner_img {
        max-width: 375px;
        top: 110px;
    }
    
    .custom-file-upload {
        font-size: 12px;
    }
    
    .yes_no_btn label {
        font-size: 12px;
    }
    
    input[type="text"] {
        height: 30px;
        padding-left: 5px;
        align-items: center;
        border: 1px solid #0000001c;
        width: 90%;
        border-radius: 4px;
        font-size: 12px;
    }
    select {
        appearance: none;
        padding: 5px;
        padding-right: 20px;  
        border-radius: 8px;
        height: 30px;
        font-size: 12px;
    }
    .img-fluid{
        width: 100%;
    }
    
    .banner-content .btn {
        border-radius: 4px;
        padding: 10px;
        min-width: 140px;
        font-size: 12px;
    }
    h2{
        font-size: 28px;
    }
    .work-img-info{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .work-img-info img{
        width: 100%;
    }
    .concerns{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 10px;
    }
}


@media (max-width: 1050px) {
    h4 {
        font-size: 14px;
    }
    
    .banner-content p {
        width: 70%;
    }
    .form_btn{
        font-size: 10px;
    }
    
    h3 {
        font-size: 16px;
    }
    
    .concern_label {
        font-size: 12px;
    }
    
    .banner_img {
        max-width: 350px;
        top: 85px;
    }
    .concerns{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 10px;
    }
    
}


@media (max-width: 768px) {
    .banner-content p {
        width: 100%;
        text-align: center;
    }
    .work-img-info img{
        display: none;
    }
    .work-img-info{
        display: none;
    }
    .custom-modal{
        position: fixed;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        z-index: 99999;
        max-width: 90%;
        padding: 20px;
        border-radius: 25px;
        max-height: 80vh;
        overflow-y: auto;
    }
    input[type="text"] {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .mobile-fixed-bottom {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1030;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 20px;
        border-radius: 5px;
        /* Ensure it's above other content */
    }

    select {
        margin-top: 20px;
    }

    input[type="text"] {
        width: 100%;
    }

    .banner-content p {
        width: 100%;
    }
    .custom-modal{
        position: fixed;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        z-index: 99999;
        max-width: 90%;
        padding: 20px;
        border-radius: 10px;
        max-height: 80vh;
        overflow-y: auto;
    }
}