 

<!-- Page Content -->
<div class="content">
    <div class="container">
        <div class="row">
            <app-patient-sidebar class="col-lg-4 col-xl-3"></app-patient-sidebar>
            
            <div class="col-lg-8 col-xl-9">
                <div class="dashboard-header">
                    <h3>Change Password</h3>
                </div>
                <form>
                    <div class="card pass-card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-block input-block-new">
                                        <label for="Old Password" class="form-label">Old Password</label>
                                        <input type="password" class="form-control">									
                                    </div>
                                    <div class="input-block input-block-new">
                                        <label for="New Password" class="form-label">New Password</label>
                                        <div class="pass-group">
                                            <input [type]="password[1] ? 'text' : 'password' "
                                                class="form-control pass-input">
                                            <span class="toggle-password feather"
                                                [ngClass]=" password[1] ? 'icon-eye' : 'icon-eye-off'"
                                                (click)="togglePassword(1)" (keydown)="togglePassword(1)" tabindex="1"></span>
                                        </div>								
                                    </div>
                                    <div class="input-block input-block-new mb-0">
                                        <label class="form-label" for="Confirm Password">Confirm Password</label>
                                        <div class="pass-group">
                                            <input [type]="password[2] ? 'text' : 'password' "
                                                class="form-control pass-input-sub">
                                            <span class="toggle-password feather"
                                                [ngClass]=" password[2] ? 'icon-eye' : 'icon-eye-off'"
                                                (click)="togglePassword(2)" (keydown)="togglePassword(2)" tabindex="1"></span>
                                        </div>								
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-set-button">
                        <button class="btn btn-light" type="button">Cancel</button>
                        <button class="btn btn-primary" type="submit">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>		
<!-- /Page Content -->