<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-7 col-auto">
          <h3 class="page-title">Specialities</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink] = "routes.adminDashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Specialities</li>
          </ul>
        </div>
        <div class="col-sm-5 col">
          <a href="#Add_Specialities_details" data-bs-toggle="modal" class="btn btn-primary float-end mt-2">Add</a>
        </div>
      </div>
    </div>
    <!-- /Page Header -->
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <app-pagination-header></app-pagination-header>
              <table matSort (matSortChange)="sortData($event)" class="datatable table table-hover table-center mb-0">
                <thead>
                  <tr>
                    <th mat-sort-header="id">#</th>
                    <th mat-sort-header="specialities">Specialities</th>
                    <th mat-sort-header="action">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  @for (data of tableData; track data) {
                    <tr>
                      <td>{{data.id}}</td>
                      <td>
                        <h2 class="table-avatar">
                          <a [routerLink] = "routes.adminProfile" class="avatar avatar-sm me-2">
                            <img class="avatar-img" [src]="data.img" alt="Speciality">
                          </a>
                          <a [routerLink] = "routes.adminProfile">{{data.specialities}}</a>
                        </h2>
                      </td>
                      <td>
                        <div class="actions">
                          <a class="btn btn-sm bg-success-light me-1" data-bs-toggle="modal" href="#edit_specialities_details">
                            <i class="fe fe-pencil"></i> Edit
                          </a>
                          <a  data-bs-toggle="modal" href="#delete_modal" class="btn btn-sm bg-danger-light">
                            <i class="fe fe-trash"></i> Delete
                          </a>
                        </div>
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
              <app-custom-pagination></app-custom-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Page Wrapper -->
<!-- Add Modal -->
<div class="modal fade" id="Add_Specialities_details" aria-hidden="true" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Specialities</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-12 col-sm-6">
              <div class="mb-3">
                <label class="mb-2" for="specialities">Specialities</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="mb-3">
                <label class="mb-2" for="image">Image</label>
                <input type="file"  class="form-control">
              </div>
            </div>

          </div>
          <button type="submit" class="btn btn-primary w-100">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /ADD Modal -->

<!-- Edit Details Modal -->
<div class="modal fade" id="edit_specialities_details" aria-hidden="true" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Specialities</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-12 col-sm-6">
              <div class="mb-3">
                <label class="mb-2" for="specialities">Specialities</label>
                <input type="text" class="form-control" value="Cardiology">
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="mb-3">
                <label class="mb-2" for="image">Image</label>
                <input type="file"  class="form-control">
              </div>
            </div>

          </div>
          <button type="submit" class="btn btn-primary w-100">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Edit Details Modal -->