<!-- Breadcrumb -->
<div class="breadcrumb-bar-two">
  <div class="container">
    <div class="row align-items-center inner-banner">
      <div class="col-md-12 col-12 text-center">
        <h2 class="breadcrumb-title">Social Media</h2>
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="routes.home1">Home</a></li>
            <li class="breadcrumb-item" aria-current="page">Social Media</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
  <div class="container">

    <div class="row">
      <app-doctor-sidebar class="col-md-5 col-lg-4 col-xl-3"></app-doctor-sidebar>

      <div class="col-lg-8 col-xl-9">
        <div class="dashboard-header">
          <h3>Social Media</h3>
        </div>
        <div class="add-btn text-end mb-4">
          <a href="javascript:void(0);" class="btn btn-primary prime-btn add-social-media" (click)="addMedical()">Add
            New Social
            Media</a>
        </div>
        <form class="social-media-form">
          <div class="social-media-links d-flex align-items-center">
            <div class="input-block input-block-new select-social-link">
              <mat-select class="custom-mat-select" placeholder="Facebook">
                <mat-option value="Facebook">Facebook</mat-option>
                <mat-option value="Linkedin">Linkedin</mat-option>
                <mat-option value="Twitter">Twitter</mat-option>
                <mat-option value="Instagram">Instagram</mat-option>
              </mat-select>
            </div>
            <div class="input-block input-block-new flex-fill">
              <input type="password" class="form-control" placeholder="Add Url">
            </div>
          </div>
          <div class="social-media-links d-flex align-items-center">
            <div class="input-block input-block-new select-social-link">
              <mat-select class="custom-mat-select" placeholder="Linkedin">
                <mat-option value="Facebook">Facebook</mat-option>
                <mat-option value="Linkedin">Linkedin</mat-option>
                <mat-option value="Twitter">Twitter</mat-option>
                <mat-option value="Instagram">Instagram</mat-option>
              </mat-select>
            </div>
            <div class="input-block input-block-new flex-fill">
              <input type="password" class="form-control" placeholder="Add Url">
            </div>
          </div>
          <div class="social-media-links d-flex align-items-center">
            <div class="input-block input-block-new select-social-link">
              <mat-select class="custom-mat-select" placeholder="Twitter">
                <mat-option value="Facebook">Facebook</mat-option>
                <mat-option value="Linkedin">Linkedin</mat-option>
                <mat-option value="Twitter">Twitter</mat-option>
                <mat-option value="Instagram">Instagram</mat-option>
              </mat-select>
            </div>
            <div class="input-block input-block-new flex-fill">
              <input type="password" class="form-control" placeholder="Add Url">
            </div>
          </div>
          <div class="social-media-links d-flex align-items-center">
            <div class="input-block input-block-new select-social-link">
              <mat-select class="custom-mat-select" placeholder="Instagram">
                <mat-option value="Facebook">Facebook</mat-option>
                <mat-option value="Linkedin">Linkedin</mat-option>
                <mat-option value="Twitter">Twitter</mat-option>
                <mat-option value="Instagram">Instagram</mat-option>
              </mat-select>
            </div>
            <div class="input-block input-block-new flex-fill">
              <input type="password" class="form-control" placeholder="Add Url">
            </div>
          </div>
          @for (item of medical; track item; let i = $index) {
            <div class="social-media-links d-flex align-items-center">
              <div class="input-block input-block-new select-social-link">
                <mat-select class="custom-mat-select" placeholder="Facebook">
                  <mat-option value="Facebook">Facebook</mat-option>
                  <mat-option value="Linkedin">Linkedin</mat-option>
                  <mat-option value="Twitter">Twitter</mat-option>
                  <mat-option value="Instagram">Instagram</mat-option>
                </mat-select>
              </div>
              <div class="input-block input-block-new flex-fill">
                <input type="password" class="form-control" placeholder="Add Url">
              </div>
            </div>
          }
        </form>
      </div>
    </div>

  </div>

</div>
<!-- /Page Content -->