<app-doctor-breadcrumb></app-doctor-breadcrumb>
<!-- Page Content -->
<div class="content doctor-content">
  <div class="container">

    <div class="row">
      <app-doctor-sidebar class="col-md-5 col-lg-4 col-xl-3"></app-doctor-sidebar>
      <div class="col-lg-8 col-xl-9">

        <!-- Profile Settings -->
        <div class="dashboard-header">
          <h3>Profile Settings</h3>
        </div>

        <!-- Settings List -->
        <div class="setting-tab">
          <div class="appointment-tabs">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link " [routerLink]="routes.doctorProfileSettings">Basic Details</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " [routerLink]="routes.doctorExperienceSettings">Experience</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="routes.doctorEducationSettings">Education</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink] = "routes.doctorAwardsSettings">Awards</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" [routerLink]="routes.doctorInsuranceSettings">Insurances</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="routes.doctorClinicSettings">Clinics</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="routes.doctorBusinessSettings">Business Hours</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- /Settings List -->

        <div class="dashboard-header border-0 mb-0">
          <h3>Insurance</h3>
          <ul>
            <li>
              <a (click)="addEducationFunc()" href="javascript:void(0);" class="btn btn-primary prime-btn add-insurance">Add New Insurance</a>
            </li>
          </ul>
        </div>

        <form >

          <div class="accordions insurance-infos" id="list-accord">

            <!-- Insurance Item -->
            <div class="user-accordion-item">
              <a href="javascript:void(0)" class="accordion-wrap" data-bs-toggle="collapse" data-bs-target="#insurance1">Insurance<span>Delete</span></a>
              <div class="accordion-collapse collapse show" id="insurance1" data-bs-parent="#list-accord">
                <div class="content-collapse">
                  <div class="add-service-info">
                    <div class="add-info">
                      <div class="row align-items-center">
                        <div class="col-md-12">
                          <div class="form-wrap mb-2">
                            <div class="change-avatar img-upload">
                              <div class="profile-img">
                                <i class="fa-solid fa-file-image"></i>
                              </div>
                              <div class="upload-img">
                                <h5>Logo</h5>
                                <div class="imgs-load d-flex align-items-center">
                                  <div class="change-photo">
                                    Upload New
                                    <input type="file" class="upload">
                                  </div>
                                  <a href="javascript:void(0)" class="upload-remove">Remove</a>
                                </div>
                                <p class="form-text">Your Image should Below 4 MB, Accepted format Jpg,Png,Svg</p>
                              </div>
                            </div>
                          </div>
                          <div class="form-wrap">
                            <label class="col-form-label" for="insurence">Insurance Name</label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="text-end">
                      <a href="javascript:void(0)" class="reset more-item">Reset</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Insurance Item -->

            <!-- Insurance Item -->
            <div class="user-accordion-item">
              <a href="javascript:void(0)" class="collapsed accordion-wrap" data-bs-toggle="collapse" data-bs-target="#insurance2">Star health<span>Delete</span></a>
              <div class="accordion-collapse collapse" id="insurance2" data-bs-parent="#list-accord">
                <div class="content-collapse">
                  <div class="add-service-info">
                    <div class="add-info">
                      <div class="row align-items-center">
                        <div class="col-md-12">
                          <div class="form-wrap mb-2">
                            <div class="change-avatar img-upload">
                              <div class="profile-img">
                                <i class="fa-solid fa-file-image"></i>
                              </div>
                              <div class="upload-img">
                                <h5>Logo</h5>
                                <div class="imgs-load d-flex align-items-center">
                                  <div class="change-photo">
                                    Upload New
                                    <input type="file" class="upload">
                                  </div>
                                  <a href="javascript:void(0)" class="upload-remove">Remove</a>
                                </div>
                                <p class="form-text">Your Image should Below 4 MB, Accepted format Jpg,Png,Svg</p>
                              </div>
                            </div>
                          </div>
                          <div class="form-wrap">
                            <label class="col-form-label" for="insurence">Insurance Name</label>
                            <input type="text" class="form-control" value="Star health">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="text-end">
                      <a href="javascript:void(0)" class="reset more-item">Reset</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Insurance Item -->
            <!-- New Awards Item -->
            @for (item of education; track item) {
              <div class="awrad-content">
                <div class="user-accordion-item">
                  <a href="javascript:void(0)" class="accordion-wrap" data-bs-toggle="collapse" data-bs-target="#insurance">Insurance<span (click)="deleteEducationFunc(0)" (keydown.enter)="deleteEducationFunc(0)" tabindex="0">Delete</span></a>
                  <div class="accordion-collapse collapse show" id="insurance" data-bs-parent="#list-accord">
                    <div class="content-collapse">
                      <div class="add-service-info">
                        <div class="add-info">
                          <div class="row align-items-center">
                            <div class="col-md-12">
                              <div class="form-wrap mb-2">
                                <div class="change-avatar img-upload">
                                  <div class="profile-img">
                                    <i class="fa-solid fa-file-image"></i>
                                  </div>
                                  <div class="upload-img">
                                    <h5>Logo</h5>
                                    <div class="imgs-load d-flex align-items-center">
                                      <div class="change-photo">
                                        Upload New
                                        <input type="file" class="upload">
                                      </div>
                                      <a href="javascript:void(0)" class="upload-remove">Remove</a>
                                    </div>
                                    <p class="form-text">Your Image should Below 4 MB, Accepted format Jpg,Png,Svg</p>
                                  </div>
                                </div>
                              </div>
                              <div class="form-wrap">
                                <label class="col-form-label" for="insurence">Insurance Name</label>
                                <input type="text" class="form-control">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="text-end">
                          <a href="javascript:void(0)" class="reset more-item">Reset</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            }

          </div>

          <div class="modal-btn text-end">
            <a href="javascript:void(0)" class="btn btn-gray">Cancel</a>
            <button class="btn btn-primary prime-btn">Save Changes</button>
          </div>

        </form>
        <!-- /Profile Settings -->

      </div>
    </div>
  </div>
</div>
<!-- /Page Content -->
