<footer class="footer-twelve">
    <div class="footer-top-sec">
        <div class="container">
            <div class="footer-top">
                <div class="logo-footer">
                    <img src="assets/img/icons/footer-logo-.svg" alt="Img">
                </div>
                <div class="footer-buy-btn">
                    <h6>Ready to get started with Doccure?</h6>
                    <a [routerLink] = "routes.booking2" class="btn btn-primary">Book Now</a>
                </div>
            </div>
            <div class="footer-middle">
                <div class="row">
                    <div class="col-lg-3 col-md-5 col-sm-6">
                        <div class="footer-links-middle">
                            <h4>Contact Us</h4>
                            <ul>
                                <li><span><i class="feather icon-map-pin"></i></span>3556 Beech Street, USA</li>
                                <li><span><i class="feather icon-phone"></i></span>+1 315 369 5943</li>
                                <li><span><i class="feather icon-mail"></i></span>info&#64;example.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="footer-links-middle">
                            <h4>Company</h4>
                            <ul>
                                <li><a [routerLink] = "routes.aboutUs">About Us</a></li>
                                <li><a [routerLink] = "routes.blogGrid">Blogs</a></li>
                                <li><a href="javascript:void(0);">Careers</a></li>
                                <li><a href="javascript:void(0);">Success Stories</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="footer-links-middle">
                            <h4>Specialities</h4>
                            <ul>
                                <li><a href="javascript:void(0);">Pregnancy Test</a></li>
                                <li><a href="javascript:void(0);">Vitamin D & B12 Combo</a></li>
                                <li><a href="javascript:void(0);">Cancer Screening - Male</a></li>
                                <li><a href="javascript:void(0);">Advanced Renal Package</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="footer-links-middle">
                            <h4>Join Our Newsletter</h4>
                            <form>
                                <div class="input-block">
                                    <input type="email" class="form-control" placeholder="Enter Email Address">
                                    <button class="submit-btn">Submit</button>
                                </div>
                            </form>
                            <p>*  Will send you weekly updates for your better</p>
                            <ul class="social-icons">
                                <li><a href="javascript:void(0);" class="fb"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="javascript:void(0);" class="insta"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="javascript:void(0);" class="linked-in"><i class="fa-brands fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fooeter-bottom">
        <div class="container">
            <div class="copy-right-footer">
                <h5>Copyright © 2024 Doccure. All Rights Reserved</h5>
                <ul class="privacy-policy">
                    <li><a [routerLink] = "routes.privacyPolicy">Privacy Policy</a></li>
                    <li><a [routerLink] = "routes.termsCondition">Terms & Conditions</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>