<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col">
          <h3 class="page-title">Data Tables</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink] = "routes.adminDashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Data Tables</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Default Datatable</h4>
            <p class="card-text">
              This is the most basic example of the datatables with zero configuration. Use the <code>.datatable</code> class to initialize datatables.
            </p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <app-pagination-header></app-pagination-header>
              <table matSort (matSortChange)="sortData($event)" class="datatable table table-stripped">
                <thead>
                  <tr>
                    <th mat-sort-header="name">Name</th>
                    <th mat-sort-header="position">Position</th>
                    <th mat-sort-header="office">Office</th>
                    <th mat-sort-header="age">Age</th>
                    <th mat-sort-header="startDate">Start date</th>
                    <th mat-sort-header="salary">Salary</th>
                  </tr>
                </thead>
                <tbody>
                  @for (data of tableData; track data) {
                    <tr>
                      <td>{{data.name}}</td>
                      <td>{{data.position}}</td>
                      <td>{{data.office}}</td>
                      <td>{{data.age}}</td>
                      <td>{{data.startDate}}</td>
                      <td>{{data.salary}}</td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
            <app-custom-pagination></app-custom-pagination>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>