<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="page-title">Appointments</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink] = "routes.adminDashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Appointments</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->
    <div class="row">
      <div class="col-md-12">

        <!-- Recent Orders -->
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <app-pagination-header></app-pagination-header>
              <table matSort (matSortChange)="sortData($event)" class="datatable table table-hover table-center mb-0">
                <thead>
                  <tr>
                    <th mat-sort-header="doctorName">Doctor Name</th>
                    <th mat-sort-header="speciality">Speciality</th>
                    <th mat-sort-header="patientName">Patient Name</th>
                    <th mat-sort-header="appointmentTime">Appointment Time</th>
                    <th mat-sort-header="status">Status</th>
                    <th mat-sort-header="amount">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  @for (data of tableData; track data; let i = $index) {
                    <tr>
                      <td>
                        <h2 class="table-avatar">
                          <a [routerLink] = "routes.adminProfile" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" [src]="data.img1" alt="User Image"></a>
                          <a [routerLink] = "routes.adminProfile">{{data.doctorName}}</a>
                        </h2>
                      </td>
                      <td>{{data.speciality}}</td>
                      <td>
                        <h2 class="table-avatar">
                          <a [routerLink] = "routes.adminProfile" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" [src]="data.img2" alt="User Image"></a>
                          <a [routerLink] = "routes.adminProfile">{{data.patientName}} </a>
                        </h2>
                      </td>
                      <td>{{data.appointmentDate}} <span class="text-primary d-block">{{data.appointmentTime}}</span></td>
                      <td>
                        <div class="status-toggle">
                          <input type="checkbox" id="{{ 'data.toggle' + i }}" class="check" [(ngModel)]="data.isStatus" />
                          <label for="{{ 'data.toggle' + i }}" class="checktoggle">checkbox</label>
                        </div>
                      </td>
                      <td>
                        {{data.amount}}
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
            <app-custom-pagination></app-custom-pagination>
          </div>
        </div>
        <!-- /Recent Orders -->

      </div>
    </div>
  </div>
</div>