 
<!-- Page Content -->
<div class="content doctor-content">
    <div class="container">
        <div class="row">

            <app-patient-sidebar class="col-lg-4 col-xl-3"></app-patient-sidebar>

            <!-- Invoices -->
            <div class="col-lg-8 col-xl-9">

                <div class="dashboard-header">
                    <h3>Invoices</h3>
                </div>

                <div class="search-header">
                        <div class="search-field">
                            <input type="text" [(ngModel)]="searchTerm" class="form-control" placeholder="Search">
                            <button class="search-icon" (click)="filterAppointments()" class="search_button search-icon"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </div>

                    <div class="custom-table">
                        <div class="table-responsive">
                            <table class="table table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Doctor</th>
                                        <th>Appointment Date</th>
                                        <th>Booked on</th>
                                        <th>Amount</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let invoice of invoices; let i = index"><tr>
                                        <td class="text-blue-600">#Inv-{{i+1}}</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a [routerLink] = "routes.doctorProfile2" class="avatar avatar-sm me-2">
                                                    <img class="avatar-img rounded-3" src="assets/img/doctors/doctor-thumb-21.jpg" alt="User Image">
                                                </a>
                                                <a [routerLink] = "routes.doctorProfile2">{{invoice.doctorName}}</a>
                                            </h2>
                                        </td>
                                        <td>{{formatDate(invoice.appointmentDate)}}</td>
                                        <td>{{formatDate(invoice.bookedDate)}}</td>
                                        <td>{{invoice.amount}}</td>
                                        <td>
                                            <div class="action-item">
                                                <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#invoice_view" (click)="sendData(invoice)">
                                                    <i class="fa-solid fa-link"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr></ng-container>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>

            </div>
            <!-- /Invoices -->

        </div>
    </div>

</div>		
<!-- /Page Content -->