<div class="stickybar">
    <div class="profile-sidebar doctor-sidebar profile-sidebar-new">
        <div class="widget-profile pro-widget-content">
            <div class="profile-info-widget">
                <a [routerLink] = "routes.doctorProfile2" class="booking-doc-img">
                    <img src="assets/img/doctors-dashboard/doctor-profile-img.jpg" alt="User Image">
                </a>
                <div class="profile-det-info">
                    <h3><a [routerLink] = "routes.doctorProfile2">Dr Edalin Hendry</a></h3>
                    <div class="patient-details">
                        <h5 class="mb-0">BDS, MDS - Oral & Maxillofacial Surgery</h5>
                    </div>
                    <span class="badge doctor-role-badge"><i class="fa-solid fa-circle"></i>Dentist</span>
                </div>
            </div>
        </div>
        <div class="doctor-available-head">
            <div class="input-block input-block-new">
                <label class="form-label" for="availability">Availability <span class="text-danger">*</span></label>
                <mat-select class="custom-mat-select" placeholder="I am Available Now">
                    <mat-option value="available">I am Available Now</mat-option>
                    <mat-option value="not-available">Not Available</mat-option>
                </mat-select>
            </div>
        </div>
        <div class="dashboard-widget">
            <nav class="dashboard-menu">
                <ul>
                    <li routerLinkActive="active">
                        <a [routerLink] = "routes.doctorDashboard">
                            <i class="fa-solid fa-shapes"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink] = "routes.doctorRequest">
                            <i class="fa-solid fa-calendar-check"></i>
                            <span>Requests</span>
                            <small class="unread-msg">2</small>
                        </a>
                    </li>
                    <li [ngClass]="{'active': page === 'appointments'}">
                        <a [routerLink] = "routes.appointmentsListUser">
                            <i class="fa-solid fa-calendar-days"></i>
                            <span>Appointments</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink] = "routes.availableTimings">
                            <i class="fa-solid fa-calendar-day"></i>
                            <span>Available Timings</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink] = "routes.myPatients">
                            <i class="fa-solid fa-user-injured"></i>
                            <span>My Patients</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink] = "routes.doctorSpecialities">
                            <i class="fa-solid fa-clock"></i>
                            <span>Specialties & Services</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink] = "routes.userReviews">
                            <i class="fas fa-star"></i>
                            <span>Reviews</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink] = "routes.accounts">
                            <i class="fa-solid fa-file-contract"></i>
                            <span>Accounts</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink] = "routes.invoice">
                            <i class="fa-solid fa-file-lines"></i>
                            <span>Invoices</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink] = "routes.doctorPayment">
                            <i class="fa-solid fa-money-bill-1"></i>
                            <span>Payout Settings</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink] = "routes.chatDoctor">
                            <i class="fa-solid fa-comments"></i>
                            <span>Message</span>
                            <small class="unread-msg">7</small>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink] = "routes.doctorProfileSettings">
                            <i class="fa-solid fa-user-pen"></i>
                            <span>Profile Settings</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink] = "routes.socialMedia">
                            <i class="fa-solid fa-shield"></i>
                            <span>Social Media</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink] = "routes.doctorChangePassword">
                            <i class="fa-solid fa-key"></i>
                            <span>Change Password</span>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a [routerLink] = "routes.userLogin">
                            <i class="fa-solid fa-calendar-check"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>