<!-- Breadcrumb -->
<!-- <div class="breadcrumb-bar-two">
    <div class="container">
        <div class="row align-items-center inner-banner">
            <div class="col-md-12 col-12 text-center">
                <h2 class="breadcrumb-title">Terms & Condition</h2>
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink] = "routes.home1">Home</a></li>
                        <li class="breadcrumb-item" aria-current="page">Terms & Condition</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div> -->
<!-- /Breadcrumb -->

<!-- Terms -->
<div class="terms-section">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="terms-content">
                    <h2 class="text-center">Terms & Conditions</h2>
                    <div class="terms-text mt-3">
                        <p>Welcome to OnlineSkinClinic.Com. By accessing or using our website, you agree to comply with and be
                            bound by the following Terms and Conditions. If you do not agree with these terms, please do not use
                            our website.</p>
                    </div>
                    <div class="terms-text terms-list">
                        <p><i class="fas fa-circle-check"></i>1. Acceptance of Terms</p><br>
                        <p> By using our website, you confirm that you are at least 18 years old and legally capable of entering into
                            binding agreements.</p><br>
                        <p><i class="fas fa-circle-check"></i>2. Services Offered</p><br>
                        <p>OnlineSkinClinic.Com provides online consultations, skin assessments, and personalized treatment
                            recommendations. All services are intended for informational purposes only and do not constitute
                            medical advice.</p><br>
                        <p><i class="fas fa-circle-check"></i> 3. User Responsibilities</p><br>
                        <p>You agree to:</p>
                        <ul>
                            <li>
                               - Provide accurate, current, and complete information when creating an account or using our
services.
                            </li>
                            <li>
                               -  Maintain the confidentiality of your account and password.
                            </li>
                            <li>- Notify us immediately of any unauthorized use of your account.</li>
                            <li>- Use the website in a lawful manner and not for any illegal activities.</li><br>
                        </ul>
                        <p><i class="fas fa-circle-check"></i>Consultation and Medical Advice</p>
                        <ul>
                            <li>- All consultations provided are for informational purposes only and are not a substitute for
                                professional medical advice, diagnosis, or treatment.</li>
                                <li>- You should never disregard professional medical advice or delay seeking it because of something
                                    you read on our website.</li><br>
                        </ul>
                        <p><i class="fas fa-circle-check"></i>Content Ownership</p>
                        <ul>
                            <li>- All content on the website, including text, graphics, images, and software, is the property of
                                OnlineSkinClinic.Com and is protected by copyright and intellectual property laws.</li>
                                <li>- You may not reproduce, distribute, or create derivative works from our content without prior
                                    written permission.</li><br>
                        </ul>
                        <p><i class="fas fa-circle-check"></i>6. Limitations of Liability</p>
                        <ul>
                            <li>- 
                                OnlineSkinClinic.Com will not be liable for any damages arising from your use of or inability to
use the website or services, including but not limited to direct, indirect, incidental, punitive, and
consequential damages.
                            </li>
                            <li>- 
                                We do not guarantee the accuracy, reliability, or completeness of the information provided on
our website.
                            </li>
                        </ul>
                        <p><i class="fas fa-circle-check"></i>Indemnification</p>
                       <p>You agree to indemnify and hold harmless OnlineSkinClinic.Com, its affiliates, and its employees from
                        any claims, damages, or expenses arising out of your use of the website or violation of these Terms.</p>

                    
                    <p><i class="fas fa-circle-check"></i>Privacy Policy</p>
                    <p>Your use of our website is also governed by our Privacy Policy, which outlines how we collect, use, and
                        protect your personal information. Please review our Privacy Policy for more details.</p>

                        <p><i class="fas fa-circle-check"></i>Changes to Terms</p>
                    <p>We reserve the right to modify these Terms and Conditions at any time. Changes will be effective
                        immediately upon posting on the website. Your continued use of the website after any changes
                        constitutes your acceptance of the new terms.</p>

                        <p><i class="fas fa-circle-check"></i>Governing Law</p>
                        <p>These Terms and Conditions shall be governed by and construed in accordance with the laws of local
                            governing body, without regard to its conflict of law principles.</p>

                 </div>
                    <div class="terms-text">
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
                <!-- <div class="terms-btn">
                    <a href="javascript:void(0);" class="btn btn-right-now">Not right now...</a>
                    <a href="javascript:void(0);" class="btn btn-primary prime-btn">I agree with terms</a>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- /Terms -->			