<app-header></app-header>

<!-- Home Banner -->
<section class="banner-section-sixteen">
  <div class="banner-slidersurgery">
    <div class="banner-sliderssurgery owl-theme">
      <!-- <owl-carousel-o [options]="bannersliderssurgery"  >
        <ng-template carouselSlide>
          <div class="item item-slidersurgery">
            <img
              src="assets/img/cosmetic-banner-img.png"
              class="img-fluid"
              alt="Img"
            />
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item item-slidersurgery">
            <img
              src="assets/img/cosmetic-banner-img1.png"
              class="img-fluid"
              alt="Img"
            />
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item item-slidersurgery">
            <img
              src="assets/img/cosmetic-banner-img2.png"
              class="img-fluid"
              alt="Img"
            />
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item item-slidersurgery">
            <img
              src="assets/img/cosmetic-banner-img3.png"
              class="img-fluid"
              alt="Img"
            />
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item item-slidersurgery">
            <img
              src="assets/img/cosmetic-banner-img4.png"
              class="img-fluid"
              alt="Img"
            />
          </div>
        </ng-template>
      </owl-carousel-o> -->
      <owl-carousel-o [options]="bannersliderssurgery"  (translated)="onCarouselTranslated($event)">
        <ng-container *ngFor="let img of carouselImages">
          <ng-template carouselSlide>
            <div class="item item-slidersurgery" >
              <img [src]="img.src" class="img-fluid" alt="Img">
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
  <div class="container">
    <div class="costomic-banner-content">
      <div class="row">
        <div class="col-lg-6">
          <div
            class="banner-content banner-content-sixteen aos"
            data-aos="fade-up"
          >
            <h1>Perfect Face Surgery For Everyone</h1>
            <p>
              We enhance your natural beauty, boost your confidence & provide a
              positive and personalized experience throughout your cosmetic
              surgery journey.
            </p>
            <div class="banner-btns-sixteen">
              <a [routerLink]="routes.booking2" class="btn btn-primary me-2"
                >Make an Appointment</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Home Banner -->

<!-- services Section -->
<section class="services-section-sixteen">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header-sixteen text-center">
          <p>Recapture the beauty of self-confidence</p>
          <h2>Discover a New you</h2>
        </div>
      </div>
    </div>
    <div class="discover-slider owl-theme">
      <owl-carousel-o [options]="discoverSliderOptions">
        <ng-template carouselSlide>
          <div class="discover-you-main">
            <div class="discover-you-image">
              <img src="assets/img/icons/discover-5.svg" alt="Body" />
            </div>
            <a href="javascript:void(0);">Body</a>
            <p>Tailored Body Surgery Solutions for Timeless Beauty</p>
            <a href="javascript:void(0);" class="discov-innner"
              >Read More<i class="fa-solid fa-chevron-right ms-2"></i
            ></a>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="discover-you-main">
            <div class="discover-you-image">
              <img src="assets/img/icons/discover-4.svg" alt="Face" />
            </div>
            <a href="javascript:void(0);">Nose</a>
            <p>Elevate Confidence with Precision Nose Surgery</p>
            <a href="javascript:void(0);" class="discov-innner"
              >Read More<i class="fa-solid fa-chevron-right ms-2"></i
            ></a>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="discover-you-main">
            <div class="discover-you-image">
              <img src="assets/img/icons/discover-3.svg" alt="Breast" />
            </div>
            <a href="javascript:void(0);">Breast</a>
            <p>Customized Breast Surgery for Timeless Elegance.</p>
            <a href="javascript:void(0);" class="discov-innner"
              >Read More<i class="fa-solid fa-chevron-right ms-2"></i
            ></a>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="discover-you-main">
            <div class="discover-you-image">
              <img src="assets/img/icons/discover-2.svg" alt="Nose" />
            </div>
            <a href="javascript:void(0);">Face</a>
            <p>Face Surgery Tailored to Your Unique Beauty.</p>
            <a href="javascript:void(0);" class="discov-innner"
              >Read More<i class="fa-solid fa-chevron-right ms-2"></i
            ></a>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="discover-you-main">
            <div class="discover-you-image">
              <img src="assets/img/icons/discover-1.svg" alt="Fillers" />
            </div>
            <a href="javascript:void(0);">Fillers</a>
            <p>Expertly Crafted Fillers Surgery for Natural Radiance</p>
            <a href="javascript:void(0);" class="discov-innner"
              >Read More<i class="fa-solid fa-chevron-right ms-2"></i
            ></a>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="discover-you-main">
            <div class="discover-you-image">
              <img src="assets/img/icons/discover-2.svg" alt="Breast" />
            </div>
            <a href="javascript:void(0);">Face</a>
            <p>Face Surgery Tailored to Your Unique Beauty.</p>
            <a href="javascript:void(0);" class="discov-innner"
              >Read More<i class="fa-solid fa-chevron-right ms-2"></i
            ></a>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="discover-you-main">
            <div class="discover-you-image">
              <img src="assets/img/icons/discover-5.svg" alt="Face" />
            </div>
            <a href="javascript:void(0);">Body</a>
            <p>Tailored Body Surgery Solutions for Timeless Beauty</p>
            <a href="javascript:void(0);" class="discov-innner"
              >Read More<i class="fa-solid fa-chevron-right ms-2"></i
            ></a>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="discover-you-main">
            <div class="discover-you-image">
              <img src="assets/img/icons/discover-4.svg" alt="Breast" />
            </div>
            <a href="javascript:void(0);">Nose</a>
            <p>Elevate Confidence with Precision Nose Surgery</p>
            <a href="javascript:void(0);" class="discov-innner"
              >Read More<i class="fa-solid fa-chevron-right ms-2"></i
            ></a>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="discover-you-main">
            <div class="discover-you-image">
              <img src="assets/img/icons/discover-1.svg" alt="Nose" />
            </div>
            <a href="javascript:void(0);">Fillers</a>
            <p>Expertly Crafted Fillers Surgery for Natural Radiance</p>
            <a href="javascript:void(0);" class="discov-innner"
              >Read More<i class="fa-solid fa-chevron-right ms-2"></i
            ></a>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="discover-you-main">
            <div class="discover-you-image">
              <img src="assets/img/icons/discover-3.svg" alt="Face" />
            </div>
            <a href="javascript:void(0);">Breast</a>
            <p>Customized Breast Surgery for Timeless Elegance.</p>
            <a href="javascript:void(0);" class="discov-innner"
              >Read More<i class="fa-solid fa-chevron-right ms-2"></i
            ></a>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="discover-you-main">
            <div class="discover-you-image">
              <img src="assets/img/icons/discover-5.svg" alt="Nose" />
            </div>
            <a href="javascript:void(0);">Body</a>
            <p>Tailored Body Surgery Solutions for Timeless Beauty</p>
            <a href="javascript:void(0);" class="discov-innner"
              >Read More<i class="fa-solid fa-chevron-right ms-2"></i
            ></a>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
  <div class="service-sixteen-icon">
    <img
      src="assets/img/service-sixteen-icon.png"
      class="bg-img-top"
      alt="Section bg"
    />
    <img
      src="assets/img/bg/vector-bg-03.png"
      class="bg-img-bottom"
      alt="Section bg"
    />
  </div>
</section>
<!-- /services Section -->

<!-- Treatment Section -->
<div class="treatment-section-sixteen">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header-sixteen text-center">
          <p>TREATMENT OFFERED BY US</p>
          <h2>Choose a treatment</h2>
        </div>
      </div>
    </div>
    <div class="treatment-sixteen-slider owl-theme">
      <owl-carousel-o [options]="treatmentSliderOptions">
        <ng-template carouselSlide>
          <div class="item item-sixteen">
            <div class="doctor-profile-widget">
              <div class="doc-pro-img">
                <a [routerLink]="routes.doctorProfile1">
                  <div class="doctor-profile-img">
                    <img
                      src="assets/img/service/treatment-1.jpg"
                      class="img-fluid"
                      alt="Treatment"
                    />
                  </div>
                </a>
                <div class="doctor-amount">
                  <span>Face Lift</span>
                </div>
              </div>
              <div class="doc-content">
                <div class="doc-pro-info">
                  <div class="doc-pro-name">
                    <a [routerLink]="routes.doctorProfile1" class="img-avatar"
                      ><img
                        src="assets/img/doctor-profiles/doc-profile-07.jpg"
                        alt="Img"
                    /></a>
                    <h5>
                      <a [routerLink]="routes.doctorProfile1">Dr. Barbara</a
                      ><span>Aesthetic Surgery</span>
                    </h5>
                  </div>
                </div>
                <div class="doc-pro-location">
                  <p><i class="feather icon-map-pin"></i>Kansas City, MO</p>
                </div>
                <a [routerLink]="routes.booking1" class="btn btn-primary"
                  >Book Appointment</a
                >
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item item-sixteen">
            <div class="doctor-profile-widget">
              <div class="doc-pro-img">
                <a [routerLink]="routes.doctorProfile1">
                  <div class="doctor-profile-img">
                    <img
                      src="assets/img/service/treatment-2.jpg"
                      class="img-fluid"
                      alt="Treatment"
                    />
                  </div>
                </a>
                <div class="doctor-amount">
                  <span>Implant</span>
                </div>
              </div>
              <div class="doc-content">
                <div class="doc-pro-info">
                  <div class="doc-pro-name">
                    <a [routerLink]="routes.doctorProfile1" class="img-avatar"
                      ><img
                        src="assets/img/doctor-profiles/doc-profile-08.jpg"
                        alt="Img"
                    /></a>
                    <h5>
                      <a [routerLink]="routes.doctorProfile1">Dr. Williams</a
                      ><span>Implant Surgery</span>
                    </h5>
                  </div>
                </div>
                <div class="doc-pro-location">
                  <p><i class="feather icon-map-pin"></i>Gloster, MS</p>
                </div>
                <a [routerLink]="routes.booking1" class="btn btn-primary"
                  >Book Appointment</a
                >
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item item-sixteen">
            <div class="doctor-profile-widget">
              <div class="doc-pro-img">
                <a [routerLink]="routes.doctorProfile1">
                  <div class="doctor-profile-img">
                    <img
                      src="assets/img/service/treatment-3.jpg"
                      class="img-fluid"
                      alt="Treatment"
                    />
                  </div>
                </a>
                <div class="doctor-amount">
                  <span>Blearoplasty</span>
                </div>
              </div>
              <div class="doc-content">
                <div class="doc-pro-info">
                  <div class="doc-pro-name">
                    <a [routerLink]="routes.doctorProfile1" class="img-avatar"
                      ><img
                        src="assets/img/doctor-profiles/doc-profile-09.jpg"
                        alt="Img"
                    /></a>
                    <h5>
                      <a [routerLink]="routes.doctorProfile1">Dr. Daniel</a
                      ><span>Breast Surgery</span>
                    </h5>
                  </div>
                </div>
                <div class="doc-pro-location">
                  <p><i class="feather icon-map-pin"></i>Raleigh, NC</p>
                </div>
                <a [routerLink]="routes.booking1" class="btn btn-primary"
                  >Book Appointment</a
                >
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item item-sixteen">
            <div class="doctor-profile-widget">
              <div class="doc-pro-img">
                <a [routerLink]="routes.doctorProfile1">
                  <div class="doctor-profile-img">
                    <img
                      src="assets/img/service/treatment-4.jpg"
                      class="img-fluid"
                      alt="Treatment"
                    />
                  </div>
                </a>
                <div class="doctor-amount">
                  <span>Tummy Tuck</span>
                </div>
              </div>
              <div class="doc-content">
                <div class="doc-pro-info">
                  <div class="doc-pro-name">
                    <a [routerLink]="routes.doctorProfile1" class="img-avatar"
                      ><img
                        src="assets/img/doctor-profiles/doc-profile-10.jpg"
                        alt="Img"
                    /></a>
                    <h5>
                      <a [routerLink]="routes.doctorProfile1"
                        >Dr. Fareeehna Davis</a
                      ><span>Aesthetic Surgery</span>
                    </h5>
                  </div>
                </div>
                <div class="doc-pro-location">
                  <p><i class="feather icon-map-pin"></i>Salt Lake City, UT</p>
                </div>
                <a [routerLink]="routes.booking1" class="btn btn-primary"
                  >Book Appointment</a
                >
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item item-sixteen">
            <div class="doctor-profile-widget">
              <div class="doc-pro-img">
                <a [routerLink]="routes.doctorProfile1">
                  <div class="doctor-profile-img">
                    <img
                      src="assets/img/service/treatment-2.jpg"
                      class="img-fluid"
                      alt="Treatment"
                    />
                  </div>
                </a>
                <div class="doctor-amount">
                  <span>Blearoplasty</span>
                </div>
              </div>
              <div class="doc-content">
                <div class="doc-pro-info">
                  <div class="doc-pro-name">
                    <a [routerLink]="routes.doctorProfile1" class="img-avatar"
                      ><img
                        src="assets/img/doctor-profiles/doc-profile-06.jpg"
                        alt="Img"
                    /></a>
                    <h5>
                      <a [routerLink]="routes.doctorProfile1">Dr. Barbara</a
                      ><span>Aesthetic Surgery</span>
                    </h5>
                  </div>
                </div>
                <div class="doc-pro-location">
                  <p><i class="feather icon-map-pin"></i>Kansas City, MO</p>
                </div>
                <a [routerLink]="routes.booking1" class="btn btn-primary"
                  >Book Appointment</a
                >
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
  <div class="service-sixteen-icontwo">
    <img src="assets/img/service-sixteen-icon.png" alt="Section bg" />
  </div>
</div>
<!-- /Treatment Section -->

<!-- Services Section -->
<div class="features-section-sixteen">
  <div class="bg-img">
    <img src="assets/img/bg/vector-bg-05.png" class="sec-vector" alt="Img" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header-sixteen text-center">
          <p>OUr services</p>
          <h2>Featured Services</h2>
        </div>
      </div>
    </div>
    <div class="features-slider-sixteen owl-theme">
      <owl-carousel-o [options]="featuresSliderOptions">
        <ng-template carouselSlide>
          <div class="feature-sixteen-main">
            <div class="feature-six-img">
              <img
                src="assets/img/feature-service-1.jpg"
                alt="Feature"
                class="img-fluid"
              />
              <div class="feature-content-six">
                <div class="feature-content-one">
                  <h5>Mommy Makeover</h5>
                  <span><i class="fa-solid fa-angle-up"></i></span>
                </div>
                <div class="feature-content-two">
                  <p>
                    Facial procedures are popular because of their ability to
                    give patients a youthful appearance, reduce the signs of
                    aging and by improving existing features for more
                    aesthetically pleasing results. These methods are in two
                    separate categories and are commonly known as facial
                    rejuvenation and facial contouring. Facial rejuvenation
                    consists of facelift, eyelid lift, neck lift and brow lift.
                  </p>
                  <span><i class="fa-solid fa-angle-down"></i></span>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="feature-sixteen-main">
            <div class="feature-six-img">
              <img
                src="assets/img/feature-service-3.jpg"
                alt="Feature"
                class="img-fluid"
              />
              <div class="feature-content-six">
                <div class="feature-content-one">
                  <h5>Face Makeover</h5>
                  <span><i class="fa-solid fa-angle-up"></i></span>
                </div>
                <div class="feature-content-two">
                  <p>
                    Facial procedures are popular because of their ability to
                    give patients a youthful appearance, reduce the signs of
                    aging and by improving existing features for more
                    aesthetically pleasing results. These methods are in two
                    separate categories and are commonly known as facial
                    rejuvenation and facial contouring. Facial rejuvenation
                    consists of facelift, eyelid lift, neck lift and brow lift.
                  </p>
                  <span><i class="fa-solid fa-angle-down"></i></span>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="feature-sixteen-main">
            <div class="feature-six-img">
              <img
                src="assets/img/feature-service-2.jpg"
                alt="Feature"
                class="img-fluid"
              />
              <div class="feature-content-six">
                <div class="feature-content-one">
                  <h5>BodyTite</h5>
                  <span><i class="fa-solid fa-angle-up"></i></span>
                </div>
                <div class="feature-content-two">
                  <p>
                    Facial procedures are popular because of their ability to
                    give patients a youthful appearance, reduce the signs of
                    aging and by improving existing features for more
                    aesthetically pleasing results. These methods are in two
                    separate categories and are commonly known as facial
                    rejuvenation and facial contouring. Facial rejuvenation
                    consists of facelift, eyelid lift, neck lift and brow lift.
                  </p>
                  <span><i class="fa-solid fa-angle-down"></i></span>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="feature-sixteen-main">
            <div class="feature-six-img">
              <img
                src="assets/img/feature-service-3.jpg"
                alt="Feature"
                class="img-fluid"
              />
              <div class="feature-content-six">
                <div class="feature-content-one">
                  <h5>BodyTite</h5>
                  <span><i class="fa-solid fa-angle-up"></i></span>
                </div>
                <div class="feature-content-two">
                  <p>
                    Facial procedures are popular because of their ability to
                    give patients a youthful appearance, reduce the signs of
                    aging and by improving existing features for more
                    aesthetically pleasing results. These methods are in two
                    separate categories and are commonly known as facial
                    rejuvenation and facial contouring. Facial rejuvenation
                    consists of facelift, eyelid lift, neck lift and brow lift.
                  </p>
                  <span><i class="fa-solid fa-angle-down"></i></span>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="feature-sixteen-main">
            <div class="feature-six-img">
              <img
                src="assets/img/feature-service-1.jpg"
                alt="Feature"
                class="img-fluid"
              />
              <div class="feature-content-six">
                <div class="feature-content-one">
                  <h5>BodyTite</h5>
                  <span><i class="fa-solid fa-angle-up"></i></span>
                </div>
                <div class="feature-content-two">
                  <p>
                    Facial procedures are popular because of their ability to
                    give patients a youthful appearance, reduce the signs of
                    aging and by improving existing features for more
                    aesthetically pleasing results. These methods are in two
                    separate categories and are commonly known as facial
                    rejuvenation and facial contouring. Facial rejuvenation
                    consists of facelift, eyelid lift, neck lift and brow lift.
                  </p>
                  <span><i class="fa-solid fa-angle-down"></i></span>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</div>
<!-- /Services Section -->

<!-- Facts Services -->
<div class="facts-section-sixteen">
  <div class="bg-img">
    <img src="assets/img/bg/vector-bg-06.png" class="sec-vector" alt="Img" />
  </div>
  <div class="container">
    <div class="facts-section-all">
      <div class="facts-main-sixteen">
        <span>OTHER TREATMENT</span>
        <h2>Facts you need to know ahead</h2>
        <p>
          Curated by board-certified surgeons, we offers expert insights into
          the latest trends, innovations, and advancements in cosmetic surgery,
          empowering users with accurate and up-to-date knowledge. Featuring
          real-life experiences, our patient success stories, impact of cosmetic
          surgery on individuals' lives.
        </p>
        <a [routerLink]="routes.booking1"
          >Read More<i class="fa-solid fa-chevron-right ms-2"></i
        ></a>
      </div>
      <div class="facts-content-all">
        <ul>
          <li>
            <div class="facts-sixteen-img">
              <img src="assets/img/icons/facts-4.svg" alt="Facts" />
              <div class="facts-content-sixteen">
                <div class="facts-content-one">
                  <h5>
                    Consequences<i class="fa-solid fa-angle-right ms-2"></i>
                  </h5>
                </div>
              </div>
            </div>
            <div class="facts-content-two facts-content-two-solid">
              <p>
                Gain insights into realistic expectations by , which aims to
                provide a balanced perspective on potential risks & benefits to
                empower informed decision-making.
              </p>
            </div>
          </li>
          <li>
            <div class="facts-sixteen-img">
              <img src="assets/img/icons/facts-5.svg" alt="Facts" />
              <div class="facts-content-sixteen">
                <div class="facts-content-one">
                  <h5>
                    Privacy policy<i class="fa-solid fa-angle-right ms-2"></i>
                  </h5>
                </div>
              </div>
            </div>
            <div class="facts-content-two facts-content-two-solid">
              <p>
                Gain insights into realistic expectations by , which aims to
                provide a balanced perspective on potential risks & benefits to
                empower informed decision-making.
              </p>
            </div>
          </li>
          <li>
            <div class="facts-sixteen-img">
              <img src="assets/img/icons/facts-3.svg" alt="Facts" />
              <div class="facts-content-sixteen">
                <div class="facts-content-one">
                  <h5>
                    Surgery preparation<i
                      class="fa-solid fa-angle-right ms-2"
                    ></i>
                  </h5>
                </div>
              </div>
            </div>
            <div class="facts-content-two facts-content-two-solid">
              <p>
                Gain insights into realistic expectations by , which aims to
                provide a balanced perspective on potential risks & benefits to
                empower informed decision-making.
              </p>
            </div>
          </li>
          <li>
            <div class="facts-sixteen-img">
              <img src="assets/img/icons/facts-2.svg" alt="Facts" />
              <div class="facts-content-sixteen">
                <div class="facts-content-one">
                  <h5>Age limit<i class="fa-solid fa-angle-right ms-2"></i></h5>
                </div>
              </div>
            </div>
            <div class="facts-content-two facts-content-two-solid">
              <p>
                Gain insights into realistic expectations by , which aims to
                provide a balanced perspective on potential risks & benefits to
                empower informed decision-making.
              </p>
            </div>
          </li>
          <li>
            <div class="facts-sixteen-img">
              <img src="assets/img/icons/facts-1.svg" alt="Facts" />
              <div class="facts-content-sixteen">
                <div class="facts-content-one">
                  <h5>
                    After Surgery<i class="fa-solid fa-angle-right ms-2"></i>
                  </h5>
                </div>
              </div>
            </div>
            <div class="facts-content-two facts-content-two-solid">
              <p>
                Gain insights into realistic expectations by , which aims to
                provide a balanced perspective on potential risks & benefits to
                empower informed decision-making.
              </p>
            </div>
          </li>
          <li>
            <div class="facts-sixteen-img">
              <img src="assets/img/icons/facts-5.svg" alt="Facts" />
              <div class="facts-content-sixteen">
                <div class="facts-content-one">
                  <h5>
                    Consequences<i class="fa-solid fa-angle-right ms-2"></i>
                  </h5>
                </div>
              </div>
            </div>
            <div class="facts-content-two facts-content-two-solid">
              <p>
                Gain insights into realistic expectations by , which aims to
                provide a balanced perspective on potential risks & benefits to
                empower informed decision-making.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- /Facts Services -->

<!-- Experts Team -->
<section class="experts-section-sixteen">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div
          class="section-header-sixteen section-header-sixteentwo text-center"
        >
          <p>Our Team</p>
          <h2>Our experts team</h2>
        </div>
      </div>
    </div>
    <div class="slider slider-sixteen aos" data-aos="zoom-in-up">
      <div class="custome_slides" id="slide-experts">
        <owl-carousel-o [options]="sliderSixteenOptions">
          <ng-template carouselSlide>
            <div class="test_imgs">
              <div class="main-reviewimages">
                <img
                  src="assets/img/experts-2.jpg"
                  alt="Leslie Alexander"
                  class="img-fluid"
                />
              </div>
              <div class="testimonal-contents">
                <h5>Leslie Alexander</h5>
                <span>Aesthetic Surgery</span>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="test_imgs">
              <div class="main-reviewimages">
                <img
                  src="assets/img/experts-3.jpg"
                  alt="Leslie Alexander"
                  class="img-fluid"
                />
              </div>
              <div class="testimonal-contents">
                <h5>Leslie Alexander</h5>
                <span>Aesthetic Surgery</span>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="test_imgs">
              <div class="main-reviewimages">
                <img
                  src="assets/img/experts-2.jpg"
                  alt="James George"
                  class="img-fluid"
                />
              </div>
              <div class="testimonal-contents">
                <h5>James George</h5>
                <span>Aesthetic Surgery</span>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="test_imgs">
              <div class="main-reviewimages">
                <img
                  src="assets/img/experts-2.jpg"
                  alt="Leslie Alexander"
                  class="img-fluid"
                />
              </div>
              <div class="testimonal-contents">
                <h5>Leslie Alexander</h5>
                <span>Aesthetic Surgery</span>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
<!-- /Experts Team -->

<!-- Pricing Plan -->
<div class="pricing-section-sixteen">
  <div class="bg-img">
    <img src="assets/img/bg/vector-bg-06.png" class="sec-vector" alt="Img" />
    <img
      src="assets/img/bg/vector-bg-06.png"
      class="sec-vector-two"
      alt="Img"
    />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header-sixteen text-center">
          <p>CHOOSE OUR BEST PLAN</p>
          <h2>Pricing Plan</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-4 col-sm-12 aos" data-aos="fade-up">
        <div class="card pricing-card">
          <div class="card-body">
            <div class="pricing-header">
              <div class="pricing-header-info">
                <div class="pricing-icon">
                  <span>
                    <img src="assets/img/icons/price-icon1.svg" alt="icon" />
                  </span>
                </div>
                <div class="pricing-title">
                  <h4>Basic</h4>
                </div>
              </div>
            </div>
            <div class="pricing-info">
              <div class="pricing-amount">
                <h2>$99 <span>/monthly</span></h2>
                <h6>What’s included</h6>
              </div>
              <div class="pricing-list">
                <ul>
                  <li>Profile Creation</li>
                  <li>Appointment Booking</li>
                  <li>Notification Alerts</li>
                  <li>Limited Telemedicine Access</li>
                </ul>
              </div>
              <div class="pricing-btn">
                <a [routerLink]="routes.pricing" class="btn">Choose Plan</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 aos" data-aos="fade-up">
        <div class="card pricing-card pricing-card-active">
          <div class="card-body">
            <div class="pricing-header">
              <div class="pricing-header-info">
                <div class="pricing-icon">
                  <span>
                    <img src="assets/img/icons/price-icon2.svg" alt="icon" />
                  </span>
                </div>
                <div class="pricing-title">
                  <h4>Premium</h4>
                </div>
                <div class="pricing-tag">
                  <span>Popular</span>
                </div>
              </div>
            </div>
            <div class="pricing-info">
              <div class="pricing-amount">
                <h2>$199 <span>/monthly</span></h2>
                <h6>What’s included</h6>
              </div>
              <div class="pricing-list">
                <ul>
                  <li>Profile Creation</li>
                  <li>Appointment Booking</li>
                  <li>Notification Alerts</li>
                  <li>Extended Telemedicine Access</li>
                  <li>Exclusive Discounts</li>
                  <li>Appointment History</li>
                  <li>Priority Customer Support</li>
                </ul>
              </div>
              <div class="pricing-btn">
                <a [routerLink]="routes.pricing" class="btn">Choose Plan</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 aos" data-aos="fade-up">
        <div class="card pricing-card">
          <div class="card-body">
            <div class="pricing-header">
              <div class="pricing-header-info">
                <div class="pricing-icon">
                  <span>
                    <img src="assets/img/icons/price-icon3.svg" alt="icon" />
                  </span>
                </div>
                <div class="pricing-title">
                  <h4>Enterprise</h4>
                </div>
              </div>
            </div>
            <div class="pricing-info">
              <div class="pricing-amount">
                <h2>$399 <span>/monthly</span></h2>
                <h6>What’s included</h6>
              </div>
              <div class="pricing-list">
                <ul>
                  <li>All Basic plan features</li>
                  <li>All Premium plan features</li>
                  <li>Personalized Health Insights</li>
                  <li>Family Account Management</li>
                </ul>
              </div>
              <div class="pricing-btn">
                <a [routerLink]="routes.pricing" class="btn">Choose Plan</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Pricing Plan -->

<!-- Testimonal Section -->
<div class="testimonal-section-sixteen">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header-sixteen text-center">
          <p>what our Patients say?</p>
          <h2>Testimonial</h2>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-5">
        <div class="testi-img">
          <img
            src="assets/img/testimonial-2.jpg"
            alt="Testimonial"
            class="img-fluid"
          />
          <span class="testi-icon"><i class="fa-solid fa-quote-left"></i></span>
          <span class="rounded-img"
            ><img src="assets/img/bg/rounded-circle-01.png" alt="Img"
          /></span>
        </div>
        <div class="testi-users">
          <div class="nav nav-container slide-11"></div>
          <ul>
            <li>
              <img
                src="assets/img/clients/client-04.jpg"
                alt="Client"
                class="img-fluid"
              />
            </li>
            <li>
              <img
                src="assets/img/clients/client-03.jpg"
                alt="Client"
                class="img-fluid"
              />
            </li>
            <li>
              <img
                src="assets/img/clients/client-06.jpg"
                alt="Client"
                class="img-fluid"
              />
            </li>
            <li>
              <img
                src="assets/img/clients/client-07.jpg"
                alt="Client"
                class="img-fluid"
              />
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-7">
        <div class="eye-testislider">
          <owl-carousel-o [options]="eyeTestiSliderOptions">
            <ng-template carouselSlide>
              <div class="testimonial-wrap">
                <h4>Exceptional Care from Start to Finish</h4>
                <p>
                  I recently had liposuction done at Doccure, and the care I
                  received was exceptional from start to finish. The staff was
                  friendly, and the surgeons were not only skilled but also
                  compassionate. They addressed all my concerns, provided
                  detailed pre and post-op instructions, and the results are
                  truly remarkable. I highly recommend Doccure for anyone
                  considering cosmetic procedures.
                </p>
                <div class="testimonial-user">
                  <h6>Elizabeth Forsyth</h6>
                  <p>Las Vegas, USA</p>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="testimonial-wrap">
                <h4>Exceptional Care from Start to Finish</h4>
                <p>
                  I recently had liposuction done at Doccure, and the care I
                  received was exceptional from start to finish. The staff was
                  friendly, and the surgeons were not only skilled but also
                  compassionate. They addressed all my concerns, provided
                  detailed pre and post-op instructions, and the results are
                  truly remarkable. I highly recommend Doccure for anyone
                  considering cosmetic procedures.
                </p>
                <div class="testimonial-user">
                  <h6>Leigh Baley</h6>
                  <p>San Jose, USA</p>
                </div>
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Testimonal Section -->

<!-- Feedback -->
<section class="feedback-section-sixteen">
  <div class="container">
    <div class="feedback-schedule-all">
      <span class="rounded-img"
        ><img src="assets/img/bg/rounded-circle-02.png" alt="Img"
      /></span>
      <div class="row align-items-center">
        <div class="col-lg-12">
          <div class="feedback-fifteen-content text-center">
            <h3>Focus On Your Own Body Shape</h3>
            <p>
              It's easy to list, simple to manage and, best of all, free to
              list!
            </p>
            <div class="feedback-btns justify-content-center">
              <a [routerLink]="routes.appointments" class="btn btn-primary"
                >Make An Appointment</a
              >
              <a [routerLink]="routes.booking2" class="btn btn-primarytwo"
                ><i class="feather icon-plus me-2"></i>Get Free Check-up</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Feedback -->

<app-footer></app-footer>
