<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-7 col-auto">
          <h3 class="page-title">Purchase</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink] = "routes.pharmacyDashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Purchase</li>
          </ul>
        </div>
        <div class="col-sm-5 col">
          <a [routerLink] = "routes.addPurchase" class="btn btn-primary float-end mt-2">Add New</a>
        </div>
      </div>
    </div>
    <!-- /Page Header -->
    <div class="row">
      <div class="col-md-12">

        <!-- Recent Orders -->
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <app-pagination-header></app-pagination-header>
              <table matSort (matSortChange)="sortData($event)" class="datatable table table-hover table-center mb-0">
                <thead>
                  <tr>
                    <th mat-sort-header="purchaseDate">Purchase Date</th>
                    <th mat-sort-header="medicineName">Medicine Name</th>
                    <th mat-sort-header="medicineCategory">Medicine Category</th>
                    <th mat-sort-header="purchasePrice">Purchase Price</th>
                    <th mat-sort-header="quantity">Quantity</th>
                    <th mat-sort-header="supplier">Supplier</th>
                    <th mat-sort-header="expireDate">Expire Date</th>
                    <th mat-sort-header="action">Action</th>
                  </tr>
                </thead>
                <tbody>
                  @for (data of tableData; track data) {
                    <tr>
                      <td>{{data.purchaseDate}}</td>
                      <td>
                        <h2 class="table-avatar">
                          <span class="avatar avatar-sm me-2"><img class="avatar-img" [src]="data.img" alt="product image"></span>
                          {{data.medicineName}}
                        </h2>
                      </td>
                      <td>{{data.medicineCategory}}</td>
                      <td>{{data.purchasePrice}}</td>
                      <td>{{data.quantity}}</td>
                      <td>{{data.supplier}}</td>
                      <td>{{data.expireDate}}</td>
                      <td>
                        <div class="actions">
                          <a class="btn btn-sm bg-success-light me-1" [routerLink] = "routes.editPurchase">
                            <i class="fe fe-pencil"></i> {{data.action1}}
                          </a>
                          <a href="javascript:void(0);" class="btn btn-sm bg-danger-light" data-bs-toggle="modal" href="#delete_modal">
                            <i class="fe fe-trash"></i> {{data.action2}}
                          </a>
                        </div>
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
            <app-custom-pagination></app-custom-pagination>
          </div>
        </div>
        <!-- /Recent Orders -->

      </div>
    </div>
  </div>
</div>