<!-- Page Content -->
<div class="login-content-info">
    <div class="container">

        <!-- Login Email Otp -->
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="account-content">
                    <div class="login-shapes">
                        <div class="shape-img-left">
                            <img src="assets/img/shape-01.png" alt="shape-image">
                        </div>
                        <div class="shape-img-right">
                            <img src="assets/img/shape-02.png" alt="shape-image">
                        </div>
                    </div>
                    <div class="account-info">
                        <div class="login-back">
                            <a [routerLink] = "routes.loginEmail"><i class="fa-solid fa-arrow-left-long"></i> Back</a>
                        </div>
                        <div class="login-title">
                            <h3>Sign in</h3>
                            <p>We'll send a confirmation code to your email.</p>
                            <span>Sign in with <a [routerLink] = "routes.loginPhone">Phone Number</a></span>
                        </div>
                        <form>
                            <div class="mb-3">
                                <label class="mb-2" for="email">E-mail</label>
                                <input type="text" class="form-control" placeholder="example@email.com">
                            </div>
                            <div class="mb-3 form-check-box">
                                <div class="form-group-flex">
                                    <label class="custom_check d-inline-flex"> Remember Me  
                                        <input type="checkbox" name="login" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="custom_check d-inline-flex"> Login with OTP  
                                        <input type="checkbox" name="login" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <button  class="btn w-100" type="button" (click)="navigation()" (keydown)="navigation()" tabindex="1">Sign in</button>
                            </div>
                            <div class="login-or">
                                <span class="or-line"></span>
                                <span class="span-or">or</span>
                            </div>
                            <div class="social-login-btn">
                                <a href="javascript:void(0);" class="btn w-100">
                                    <img src="assets/img/icons/google-icon.svg" alt="google-icon"> Log in with Google
                                </a>
                            </div>
                            <div class="account-signup">
                                <p>Don't have an account ? <a [routerLink] = "routes.signup">Sign up</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Login Email Otp -->

    </div>
</div>		
<!-- /Page Content -->
