<header class="header header-trans header-eleven" [ngClass]="{
  'pharmacy': white_bg === true
}">
  <div class="container">
    <nav class="navbar navbar-expand-lg header-nav">
      <div class="navbar-header">
        <a (click)="toggleSidebar()" id="mobile_btn" href="javascript:void(0);">
          <span class="bar-icon">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </a>
        <a [routerLink] = "routes.home1" class="navbar-brand logo">
          <img src="assets/img/footer-logo.png" class="img-fluid" alt="Logo">
        </a>
      </div>
      <div class="main-menu-wrapper">
        <div class="menu-header">
          <a [routerLink] = "routes.home1" class="menu-logo">
            <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
          </a>
          <a id="menu_close"
            (click)="hideSidebar()" class="menu-close" href="javascript:void(0);">
            <i class="fas fa-times"></i>
          </a>
        </div>
        <ul class="main-nav">
          @for (mainMenus of header; track mainMenus) {
            @if (mainMenus.separateRoute === false) {
              <li class="has-submenu" routerLinkActive="active" [ngClass]="{
                  megamenu: mainMenus.tittle === 'Home'
                }">
                <a href="javascript:void(0);" (click)="mainMenus.showAsTab = !mainMenus.showAsTab">{{ mainMenus.tittle
                  }} <i class="fas fa-chevron-down"></i></a>
                <ul class="submenu" [ngClass]="{
                    'd-block': mainMenus.showAsTab === true,
                    'mega-submenu': mainMenus.tittle === 'Home'
                  }">
                    @for (menu of mainMenus.menu; track menu) {
                      @if (
                        menu.hasSubRoute === false &&
                        mainMenus.tittle !== 'Home'
                        ) {
                        <li routerLinkActive="active">
                          @if (menu.openInNewTab === false) {
                            <a [routerLink]="menu.route">{{ menu.menuValue }}</a>
                          }
                          @if (menu.openInNewTab === true) {
                            <a [target]="'_blank'" [routerLink]="menu.route">{{ menu.menuValue }}</a>
                          }
                        </li>
                      }
                      @if (menu.hasSubRoute === true) {
                        <li class="has-submenu">
                          <a (click)="menu.showSubRoute = !menu.showSubRoute" [routerLink]="menu.route">{{ menu.menuValue
                          }}</a>
                        <ul class="submenu" [ngClass]="{
                            'd-block': menu.showSubRoute === true
                          }">
                            @for (subMenu of menu.subMenus; track subMenu) {
                              @if (mainMenus.tittle !== 'Home') {
                                <li>
                                  <a [routerLink]="subMenu.route">{{
                                    subMenu.menuValue
                                  }}</a>
                                </li>
                              }
                            }
                          </ul>
                        </li>
                      }
                      @if (menu.menuValue === 'General Home') {
                        <li>
                          <div class="megamenu-wrapper">
                            <div class="row">
                              @for (menu of mainMenus.menu; track menu) {
                                <div class="col-lg-2">
                                  <div class="single-demo" routerLinkActive="active">
                                    <div class="demo-img">
                                      <a [routerLink]="menu.route" class="inner-demo-img"><img [src]="menu.img"
                                      class="img-fluid" alt="img" /></a>
                                    </div>
                                    <div class="demo-info">
                                      <a class="inner-demo-img" [routerLink]="menu.route">{{
                                        menu.menuValue
                                      }}</a>
                                    </div>
                                  </div>
                                </div>
                              }
                            </div>
                          </div>
                        </li>
                      }
                    }
                  </ul>
                </li>
              }
            }
          </ul>
        </div>
        <ul class="nav header-navbar-rht">
          <li class="login-in-fourteen"><a [routerLink]="routes.register"><img src="assets/img/icons/login-user-circle.svg" class="me-2" alt="Img">Sign Up / </a> <a [routerLink]="routes.userLogin"> Sign In</a></li>
        </ul>
      </nav>
    </div>
  </header>