<!-- Breadcrumb -->
<!-- <div class="breadcrumb-bar-two">
  <div class="container">
    <div class="row align-items-center inner-banner">
      <div class="col-md-12 col-12 text-center">
        <h2 class="breadcrumb-title">About Us</h2>
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink] = "routes.home1">Home</a></li>
            <li class="breadcrumb-item" aria-current="page">About Us</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div> -->
<!-- /Breadcrumb -->

<!-- About Us -->
<section class="about-section">
  <div class="container mt-5">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="about-img-info">
          <div class="row">
            <div class="col-md-6">
              <div class="about-inner-img">
                <div class="about-img">
                  <img loading="lazy" src="assets/img/about-img1.jpg" class="img-fluid" alt="about-image">
                </div>
                <div class="about-img">
                  <img loading="lazy" src="assets/img/about-img2.jpg" class="img-fluid" alt="about-image">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about-inner-img">
                <div class="about-box">
                  <h4>Over 25+ Years Experience</h4>
                </div>
                <div class="about-img">
                  <img loading="lazy" src="assets/img/about-img3.jpg" class="img-fluid" alt="about-image">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="section-inner-header about-inner-header">
          <h6>About Our Company</h6>
          <h2>We Are Always Ensure Best Medical Treatment For Your Health</h2>
        </div>
        <div class="about-content">
          <div class="about-content-details">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
              exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.</p>
            <p>Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque eaque
            ipsa quae architecto beatae vitae dicta sunt explicabo.</p>
          </div>
          <div class="about-contact">
            <div class="about-contact-icon">
              <span><img loading="lazy" src="assets/img/icons/phone-icon.svg" alt="phone-image"></span>
            </div>
            <div class="about-contact-text">
              <p>Need Emergency?</p>
              <h4>+1 315 369 5943</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /About Us -->

<!-- Why Choose Us -->
<section class="why-choose-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-inner-header text-center">
          <h2>Why Choose Us</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 d-flex">
        <div class="card why-choose-card w-100">
          <div class="card-body">
            <div class="why-choose-icon">
              <span><img loading="lazy" src="assets/img/icons/choose-01.svg" alt="choose-image"></span>
            </div>
            <div class="why-choose-content">
              <h4>Qualified Staff of Doctors</h4>
              <p>Lorem ipsum sit amet consectetur incididunt ut labore et exercitation ullamco
              laboris nisi dolore magna enim veniam aliqua. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex">
        <div class="card why-choose-card w-100">
          <div class="card-body">
            <div class="why-choose-icon">
              <span><img loading="lazy" src="assets/img/icons/choose-02.svg" alt="choose-image"></span>
            </div>
            <div class="why-choose-content">
              <h4>Qualified Staff of Doctors</h4>
              <p>Lorem ipsum sit amet consectetur incididunt ut labore et exercitation ullamco
              laboris nisi dolore magna enim veniam aliqua. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex">
        <div class="card why-choose-card w-100">
          <div class="card-body">
            <div class="why-choose-icon">
              <span><img loading="lazy" src="assets/img/icons/choose-03.svg" alt="choose-image"></span>
            </div>
            <div class="why-choose-content">
              <h4>Qualified Staff of Doctors</h4>
              <p>Lorem ipsum sit amet consectetur incididunt ut labore et exercitation ullamco
              laboris nisi dolore magna enim veniam aliqua. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex">
        <div class="card why-choose-card w-100">
          <div class="card-body">
            <div class="why-choose-icon">
              <span><img loading="lazy" src="assets/img/icons/choose-04.svg" alt="choose-image"></span>
            </div>
            <div class="why-choose-content">
              <h4>Qualified Staff of Doctors</h4>
              <p>Lorem ipsum sit amet consectetur incididunt ut labore et exercitation ullamco
              laboris nisi dolore magna enim veniam aliqua. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Why Choose Us -->

<!-- Way Section -->
<section class="way-section">
  <div class="container">
    <div class="way-bg">
      <div class="way-shapes-img">
        <div class="way-shapes-left">
          <img loading="lazy" src="assets/img/shape-06.png" alt="shape-image">
        </div>
        <div class="way-shapes-right">
          <img loading="lazy" src="assets/img/shape-07.png" alt="shape-image">
        </div>
      </div>
      <div class="row align-items-end">
        <div class="col-lg-7 col-md-12">
          <div class="section-inner-header way-inner-header mb-0">
            <h2>Be on Your Way to Feeling Better with the Doccure</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.</p>
            <a [routerLink] = "routes.contactUs" class="btn btn-primary">Contact With Us</a>
          </div>
        </div>
        <div class="col-lg-5 col-md-12">
          <div class="way-img">
            <img loading="lazy" src="assets/img/way-img.png" class="img-fluid" alt="doctor-way-image">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Way Choose Us -->

<!-- Doctors Section -->
<section class="doctors-section professional-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-inner-header text-center">
          <h2>Best Doctors</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <owl-carousel-o [options]="doctorSlider">
        <ng-container *ngFor="let data of Doctors">

        <ng-template carouselSlide>
          <div class="item">
            <div class="doctor-profile-widget doc-item">
              <div class="doc-pro-img">
                <!-- [routerLink]="routes.doctorProfile2" -->
                <a>
                  <div class="doctor-profile-img">
                    <img loading="lazy" *ngIf="!data.doctorImage" src="../../../../assets/img/dummy/doload.jpg" class="img-fluid s" alt="doctor" />
                    <img loading="lazy" *ngIf="data.doctorImage" [src]="generateImageUrl(data.doctorImage)" (error)="handleImageError($event)" class="img-fluid doc_img" alt="doctor">
                  </div>
                </a>
                <!-- <div class="doctor-amount">
                  <span>{{ data.amount }}</span>
                </div> -->
              </div>
              <div class="doc-content">
                <div class="doc-pro-info">
                  <div class="doc-pro-name">
                    <a >{{
                      data.name
                      }}</a>
                    <p>{{ data.specialty }}</p>
                  </div>
                  <div class="reviews-ratings">
                    <p>
                      <!-- <span>Count</span> -->
                      {{ data.appointmentCount }}
                    </p>
                  </div>
                </div>
                <div class="doc-pro-location">
                  <p>
                    {{ data.email }}
                  </p>
                  <span *ngIf="data.isAvailable" class="badge badge-success doc-badge"><i
                      class="fa-solid fa-circle"></i>Available</span>
                  <span *ngIf="!data.isAvailable" class="badge badge-warning doc-badge"><i
                      class="fa-solid fa-circle"></i>Unavailable</span>

                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-container>

      </owl-carousel-o>
    </div>
  </div>
</section>
<!-- /Doctors Section -->

<!-- Testimonial Section -->
<section class="testimonial-section">
  <div class="testimonial-shape-img">
    <div class="testimonial-shape-left">
      <img loading="lazy" src="assets/img/shape-04.png" alt="shape-image">
    </div>
    <div class="testimonial-shape-right">
      <img loading="lazy" src="assets/img/shape-05.png" alt="shape-image">
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ngx-slick-carousel class="testimonial-slider" #slickModal="slick-carousel" [config]="slideConfig">
          @for (data of aboutUs; track data) {
            <div class="testimonial-grid" ngxSlickItem>
              <div class="testimonial-info">
                <div class="testimonial-img">
                  <img loading="lazy" [src]="data.img" class="img-fluid" alt="client-image">
                </div>
                <div class="testimonial-content">
                  <div class="section-inner-header testimonial-header">
                    <h6>{{data.heading1}}</h6>
                    <h2>{{data.heading2}}</h2>
                  </div>
                  <div class="testimonial-details">
                    <p>{{data.content}}</p>
                    <h6><span>{{data.name}}</span> {{data.location}}</h6>
                  </div>
                </div>
              </div>
            </div>
          }
        </ngx-slick-carousel>
      </div>
    </div>
  </div>
</section>
<!-- /Testimonial Section -->

<!-- FAQ Section -->
<section class="faq-section faq-section-inner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-inner-header text-center">
          <h6>Get Your Answer</h6>
          <h2>Frequently Asked Questions</h2>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="faq-img">
          <img loading="lazy" src="https://images.prismic.io/skinify/Zqi5wB5LeNNTxlt5_faq-img.png?auto=format,compress" class="img-fluid" alt="img">
          <div class="faq-patients-count">
            <div class="faq-smile-img">
              <img loading="lazy" src="assets/img/icons/smiling-icon.svg" alt="icon">
            </div>
            <div class="faq-patients-content">
              <h4><span class="count-digit" [countUp]="95" [options]="{ enableScrollSpy: true }">95</span>k+</h4>
              <p>Happy Patients</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="faq-info">
          <div class="accordion" id="accordionExample">

            <!-- FAQ Item -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <a href="javascript:void(0)" class="accordion-button" data-bs-toggle="collapse"
                  data-bs-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne">
                  Can i make an Appointment Online with White Plains Hospital Kendi?
                </a>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show"
                aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                    ad minim veniam, </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- /FAQ Item -->

            <!-- FAQ Item -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <a href="javascript:void(0)" class="accordion-button collapsed"  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false"
                  aria-controls="collapseTwo">
                  Can i make an Appointment Online with White Plains Hospital Kendi?
                </a>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse"
                aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                    ad minim veniam, </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- /FAQ Item -->

            <!-- FAQ Item -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <a href="javascript:void(0)"
                  class="accordion-button collapsed"  data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false"
                  aria-controls="collapseThree">
                  Can i make an Appointment Online with White Plains Hospital Kendi?
                </a>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse"
                aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                    ad minim veniam, </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- /FAQ Item -->

            <!-- FAQ Item -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <a href="javascript:void(0)" class="accordion-button collapsed"  data-bs-toggle="collapse"
                  data-bs-target="#collapseFour" aria-expanded="false"
                  aria-controls="collapseFour">
                  Can i make an Appointment Online with White Plains Hospital Kendi?
                </a>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse"
                aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                    ad minim veniam, </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- /FAQ Item -->

            <!-- FAQ Item -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFive">
                <a href="javascript:void(0)" class="accordion-button collapsed"  data-bs-toggle="collapse"
                  data-bs-target="#collapseFive" aria-expanded="false"
                  aria-controls="collapseFive">
                  Can i make an Appointment Online with White Plains Hospital Kendi?
                </a>
              </h2>
              <div id="collapseFive" class="accordion-collapse collapse"
                aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                    ad minim veniam, </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- /FAQ Item -->

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /FAQ Section -->
