

<!-- About Us -->
<section class="about-section">
  <div class="container mt-5">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="about-img-info">
          <div class="row">
            <div class="col-md-6">
              <div class="about-inner-img">
                <div class="about-img">
                  <img loading="lazy" src="https://images.prismic.io/skinify/ZqnUsh5LeNNTxokZ_about-img1.jpg?auto=format,compress" class="img-fluid" alt="about-image">
                </div>
                <div class="about-img">
                  <img loading="lazy" src="https://images.prismic.io/skinify/ZqnUzR5LeNNTxokc_about-img2.jpg?auto=format,compress" class="img-fluid" alt="about-image">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about-inner-img">
                <div class="about-box">
                  <h4>Over 25+ Years Experience</h4>
                </div>
                <div class="about-img">
                  <img loading="lazy" src="https://images.prismic.io/skinify/ZqnVDx5LeNNTxokh_about-img3.jpg?auto=format,compress" class="img-fluid" alt="about-image">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="section-inner-header about-inner-header">
          <h6>About Our Company</h6>
          <h2>We Are Always Ensure Best Medical Treatment For Your Health</h2>
        </div>
        <div class="about-content">
          <div class="about-content-details">
            <p>OnlineSkinClinic.Com provides online consultations, skin assessments, and personalized treatment
              recommendations. We founded Online Skin Clinic with the mission to bring skin &amp; hair care at every
              doorstep. From acne and anti-aging treatments to skincare education and product recommendations,
              we offer a wide range of services to meet all your skincare needs. Our holistic approach ensures we
              address not just the symptoms, but the root causes of your skin concerns..</p>
            <p>Our team is here to support you every step of the way, with follow-up consultations and resources to
              help you achieve and maintain your skincare goals.</p>
          </div>
          <div class="about-contact">
            <div class="about-contact-icon">
              <span><img loading="lazy" src="assets/img/icons/phone-icon.svg" alt="phone-image"></span>
            </div>
            <div class="about-contact-text">
              <p>Need Emergency?</p>
              <h4>+1 315 369 5943</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /About Us -->

<!-- Why Choose Us -->
<section class="why-choose-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-inner-header text-center">
          <h2>Why Choose Us</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 d-flex">
        <div class="card why-choose-card w-100">
          <div class="card-body">
            <div class="why-choose-icon">
              <span><img loading="lazy" src="assets/img/icons/choose-01.svg" alt="choose-image"></span>
            </div>
            <div class="why-choose-content">
              <h4>Qualified Staff of Doctors</h4>
              <p>Our team of certified dermatologists and skincare specialists brings years of experience to provide you
                with personalized care.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex">
        <div class="card why-choose-card w-100">
          <div class="card-body">
            <div class="why-choose-icon">
              <span><img loading="lazy" src="assets/img/icons/choose-02.svg" alt="choose-image"></span>
            </div>
            <div class="why-choose-content">
              <h4>Convenient Online Consultations 24/7</h4>
              <p>Access expert skincare advice from the comfort of your home. Our user-friendly platform makes
                scheduling consultations easy, so you can fit skincare into your busy life without the hassle of travel. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex">
        <div class="card why-choose-card w-100">
          <div class="card-body">
            <div class="why-choose-icon">
              <span><img loading="lazy" src="assets/img/icons/choose-03.svg" alt="choose-image"></span>
            </div>
            <div class="why-choose-content">
              <h4>Personalized Treatment Plans</h4>
              <p>Every skin is unique. We offer customized treatment plans based on your individual needs, goals, and
                lifestyle. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex">
        <div class="card why-choose-card w-100">
          <div class="card-body">
            <div class="why-choose-icon">
              <span><img loading="lazy" src="assets/img/icons/choose-04.svg" alt="choose-image"></span>
            </div>
            <div class="why-choose-content">
              <h4>Transparent Pricing</h4>
              <p>We offer clear, upfront pricing for our services, so you know what to expect. There are no hidden
                fees—just honest, straightforward care. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Why Choose Us -->

<!-- Way Section -->
<section class="way-section">
  <div class="container">
    <div class="way-bg">
      <div class="way-shapes-img">
        <div class="way-shapes-left">
          <img loading="lazy" src="https://images.prismic.io/skinify/Zqjc7h5LeNNTxmDP_shape-06.png?auto=format,compress" alt="shape-image">
        </div>
        <div class="way-shapes-right">
          <img loading="lazy" src="https://images.prismic.io/skinify/ZqjcnB5LeNNTxmC5_shape-07.png?auto=format,compress" alt="shape-image">
        </div>
      </div>
      <div class="row align-items-end">
        <div class="col-lg-7 col-md-12">
          <div class="section-inner-header way-inner-header mb-0">
            <h2>Be on Your Way to Feeling Better with the Doccure</h2>
            <p>Book your online consultation with us now and access expert skincare advice from the comfort of your
              home.</p>
            <a [routerLink] = "routes.contactUs" class="btn btn-primary">Contact With Us</a>
          </div>
        </div>
        <div class="col-lg-5 col-md-12">
          <div class="way-img">
            <img loading="lazy" src="https://images.prismic.io/skinify/Zqjatx5LeNNTxmBe_way-img.png?auto=format,compress" class="img-fluid" alt="doctor-way-image">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Way Choose Us -->

<!-- Doctors Section -->
<section class="doctors-section professional-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-inner-header text-center">
          <h2>Best Doctors</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <owl-carousel-o [options]="doctorSlider">
        <ng-container *ngFor="let data of Doctors">

        <ng-template carouselSlide>
          <div class="item">
            <div class="doctor-profile-widget doc-item">
              <div class="doc-pro-img">
                <!-- [routerLink]="routes.doctorProfile2" -->
                <a>
                  <div class="doctor-profile-img">
                    <img loading="lazy" *ngIf="!data.doctorImage" src="https://images.prismic.io/skinify/ZqnVuR5LeNNTxoko_doload.jpg?auto=format,compress" class="img-fluid s" alt="doctor" />
                    <img loading="lazy" *ngIf="data.doctorImage" [src]="generateImageUrl(data.doctorImage)" (error)="handleImageError($event)" class="img-fluid doc_img" alt="doctor">
                  </div>
                </a>
                <!-- <div class="doctor-amount">
                  <span>{{ data.amount }}</span>
                </div> -->
              </div>
              <div class="doc-content">
                <div class="doc-pro-info">
                  <div class="doc-pro-name">
                    <a >{{
                      data.name
                      }}</a>
                    <p>{{ data.specialty }}</p>
                  </div>
                  <div class="reviews-ratings">
                    <p>
                      <!-- <span>Count</span> -->
                      {{ data.appointmentCount }}
                    </p>
                  </div>
                </div>
                <div class="doc-pro-location">
                  <p>
                    {{ data.email }}
                  </p>
                  <span *ngIf="data.isAvailable" class="badge badge-success doc-badge"><i
                      class="fa-solid fa-circle"></i>Available</span>
                  <span *ngIf="!data.isAvailable" class="badge badge-warning doc-badge"><i
                      class="fa-solid fa-circle"></i>Unavailable</span>

                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-container>

      </owl-carousel-o>
    </div>
  </div>
</section>
<!-- /Doctors Section -->

<!-- Testimonial Section -->
<section class="testimonial-section">
  <div class="testimonial-shape-img">
    <div class="testimonial-shape-left">
      <img loading="lazy" src="https://images.prismic.io/skinify/ZqjdSx5LeNNTxmDb_shape-04.png?auto=format,compress" alt="shape-image">
    </div>
    <div class="testimonial-shape-right">
      <img loading="lazy" src="https://images.prismic.io/skinify/ZqjdKR5LeNNTxmDY_shape-05.png?auto=format,compress" alt="shape-image">
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ngx-slick-carousel class="testimonial-slider" #slickModal="slick-carousel" [config]="slideConfig">
          @for (data of aboutUs; track data) {
            <div class="testimonial-grid" ngxSlickItem>
              <div class="testimonial-info">
                <div class="testimonial-img">
                  <img loading="lazy" [src]="data.img" class="img-fluid" alt="client-image">
                </div>
                <div class="testimonial-content">
                  <div class="section-inner-header testimonial-header">
                    <h6>{{data.heading1}}</h6>
                    <h2>{{data.heading2}}</h2>
                  </div>
                  <div class="testimonial-details">
                    <p>{{data.content}}</p>
                    <h6><span>{{data.name}}</span> {{data.location}}</h6>
                  </div>
                </div>
              </div>
            </div>
          }
        </ngx-slick-carousel>
      </div>
    </div>
  </div>
</section>
<!-- /Testimonial Section -->

<!-- FAQ Section -->
<section class="faq-section faq-section-inner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-inner-header text-center">
          <h6>Get Your Answer</h6>
          <h2>Frequently Asked Questions</h2>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="faq-img">
          <img loading="lazy" src="https://images.prismic.io/skinify/Zqi5wB5LeNNTxlt5_faq-img.png?auto=format,compress" class="img-fluid" alt="img">
          <div class="faq-patients-count">
            <div class="faq-smile-img">
              <img loading="lazy" src="assets/img/icons/smiling-icon.svg" alt="icon">
            </div>
            <div class="faq-patients-content">
              <h4><span class="count-digit" [countUp]="95" [options]="{ enableScrollSpy: true }">95</span>k+</h4>
              <p>Happy Patients</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="faq-info">
          <div class="accordion" id="accordionExample">

           

           <!-- FAQ Item -->
<ng-container *ngFor="let faq of faqs; let i = index">
  <div class="accordion-item">
    <h2 class="accordion-header" [attr.id]="'heading' + i">
      <a href="javascript:void(0)" 
         class="accordion-button collapsed" 
         data-bs-toggle="collapse"
         [attr.data-bs-target]="'#collapse' + i" 
         aria-expanded="false" 
         [attr.aria-controls]="'collapse' + i">
        {{faq.ques}}
      </a>
    </h2>
    <div [attr.id]="'collapse' + i" 
         class="accordion-collapse collapse"
         [attr.aria-labelledby]="'heading' + i"
         data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="accordion-content">
          <p>{{faq.description}}</p>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<!-- /FAQ Item -->


           

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /FAQ Section -->
