<footer class="footer footer-sec-fourteen">
  <div class="footer-top">
    <div class="row">
      <div class="col-sm-3 col-6 p-0">
        <div class="footer-img">
          <img src="assets/img/service/footer-img-01.jpg" class="img-fluid w-100" alt="Img">
        </div>
      </div>
      <div class="col-sm-3 col-6 p-0">
        <div class="footer-img">
          <img src="assets/img/service/footer-img-02.jpg" class="img-fluid w-100" alt="Img">
        </div>
      </div>
      <div class="col-sm-3 col-6 p-0">
        <div class="footer-img">
          <img src="assets/img/service/footer-img-03.jpg" class="img-fluid w-100" alt="Img">
        </div>
      </div>
      <div class="col-sm-3 col-6 p-0">
        <div class="footer-img">
          <img src="assets/img/service/footer-img-04.jpg" class="img-fluid w-100" alt="Img">
        </div>
      </div>
    </div>
  </div>
  <div class="footer-middle">
    <div class="container">
      <div class="footer-mid-content">
        <p>Would you like to connect with us</p>
        <ul class="social-icons">
          <li><a href="javascript:void(0);"><i class="fa-brands fa-facebook-f"></i></a></li>
          <li><a href="javascript:void(0);"><i class="fa-brands fa-twitter"></i></a></li>
          <li><a href="javascript:void(0);"><i class="fa-brands fa-linkedin-in"></i></a></li>
          <li><a href="javascript:void(0);"><i class="fa-brands fa-youtube"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-mid-two">
    <div class="container">
      <div class="row">
        <div class="col-xl-5 col-md-6 col-sm-12" data-aos="fade-down" data-aos-delay="500">
          <div class="footer-logo-col">
            <div class="footer-logo">
              <img src="assets/img/icons/footer-logo-.svg" alt="Img">
            </div>
            <p>Connect with healthcare professionals, manage appointments & prioritize your well being </p>
            <form >
              <div class="input-block">
                <input type="text" class="form-control" placeholder="Enter Email">
                <button class="btn" type="submit">Subscribe</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-6" data-aos="fade-down" data-aos-delay="600">
          <div class="footer-links-middle">
            <h4>QUICK LINKS</h4>
            <ul>
              <li><a [routerLink]="routes.home1">Home</a></li>
              <li><a [routerLink]="routes.aboutUs">About us</a></li>
              <li><a [routerLink]="routes.payment">Payments</a></li>
              <li><a [routerLink]="routes.booking1">Lab Test</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-2 col-md-3 col-sm-6" data-aos="fade-down" data-aos-delay="700">
          <div class="footer-links-middle">
            <h4>SERVICES</h4>
            <ul>
              <li><a [routerLink]="routes.search2">Nurse at Home</a></li>
              <li><a [routerLink]="routes.search2">Physiotherapy</a></li>
              <li><a [routerLink]="routes.search2">Medical Equipment</a></li>
              <li><a [routerLink]="routes.booking2">Doctor Consultation</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-md-4 col-sm-6" data-aos="fade-down" data-aos-delay="800">
          <div class="footer-links-middle">
            <h4>CONSUMER POLICY</h4>
            <ul>
              <li><a [routerLink]="routes.privacyPolicy">Privacy</a></li>
              <li><a [routerLink]="routes.termsCondition">Terms and Condition</a></li>
              <li><a [routerLink]="routes.booking1">Aggrements</a></li>
              <li><a [routerLink]="routes.mapGrid">Sitemap</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="container">
      <div class="footer-bottom">
        <div class="copy-right">
          <P>Copyright © 2024 Doccure. All rights are reserved.</P>
        </div>
        <div class="footer-select-drops">
          <div class="input-select">
            <span class="select-icon"><i class="feather icon-globe"></i></span>
            <mat-select [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}" class="select mat-selection-box"  placeholder="India">
              @for (data of selectedList; track data) {
                <mat-option [value]="data.value">
                  {{data.value}}
                </mat-option>
              }
            </mat-select>
          </div>
          <div class="input-select currency-select">
            <mat-select [(ngModel)]="selectedValue1" [ngModelOptions]="{standalone: true}" class="select  mat-selection-box"  placeholder="USD">
              @for (data of selectedList1; track data) {
                <mat-option [value]="data.value">
                  {{data.value}}
                </mat-option>
              }
            </mat-select>
          </div>
        </div>
        <ul class="payment-method">
          <li><a href="javascript:void(0);"><img src="assets/img/icons/footer-card-icon-01.svg" alt="Img"></a></li>
          <li><a href="javascript:void(0);"><img src="assets/img/icons/footer-card-icon-02.svg" alt="Img"></a></li>
          <li><a href="javascript:void(0);"><img src="assets/img/icons/footer-card-icon-03.svg" alt="Img"></a></li>
          <li><a href="javascript:void(0);"><img src="assets/img/icons/footer-card-icon-04.svg" alt="Img"></a></li>
        </ul>
      </div>
    </div>
</footer>