<!-- Main Wrapper -->
<div class="login-content-info">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="account-content">
          <div class="login-shapes">
            <div class="shape-img-left">
              <img src="assets/img/shape-01.png" alt="shape-image" />
            </div>
            <div class="shape-img-right">
              <img src="assets/img/shape-02.png" alt="shape-image" />
            </div>
          </div>
          <div class="account-info">
            <div class="login-back">
              <a href="javascript:void(0);"
                ><i class="fa-solid fa-arrow-left-long"></i> Back</a
              >
            </div>
            <div class="login-title">
              <h3>Reset Password</h3>
              <p>
                Your new password must be different from previous used
                passwords.
              </p>
            </div>
          </div>
          <div class="form-group mb-3">
            <label class="form-control-label mb-3" for="new-password">New Password</label>
            <div class="pass-group" id="passwordInput">
              <input
                [type]="togglePasswordClass2 ? 'text' : 'password'"
                class="form-control pass-input"
                placeholder="*************"
                [(ngModel)]="registerForm.password"
                (input)="onChangePassword(registerForm.password, 'Password')"
              />
              <span
                name="eye"
                class="toggle-password"
                (click)="togglePassword2()" (keydown)="togglePassword2()" tabindex="1"
                [ngClass]="
                  togglePasswordClass2
                    ? 'feather icon-eye'
                    : 'feather icon-eye-off'
                "
              ></span>
              <span
                class="pass-checked"
                [ngClass]="{
                  active: passwordResponce.passwordResponceKey === '3'
                }"
              >
              </span>
            </div>
            <div
              class="password-strength"
              [ngClass]="{
                'poor-active': passwordResponce.passwordResponceKey === '0',
                'avg-active': passwordResponce.passwordResponceKey === '1',
                'strong-active': passwordResponce.passwordResponceKey === '2',
                'heavy-active': passwordResponce.passwordResponceKey === '3'
              }"
              id="passwordStrength"
            >
              <span id="poor" class="active"></span>
              <span id="weak" class="active"></span>
              <span id="strong" class="active"></span>
              <span id="heavy" class="active"></span>
            </div>
            <div
              id="passwordInfo"
              [ngClass]="{
                weak: passwordResponce.passwordResponceKey === '0',
                average: passwordResponce.passwordResponceKey === '1',
                good: passwordResponce.passwordResponceKey === '2',
                great: passwordResponce.passwordResponceKey === '3'
              }"
            >
              <img alt="img" [src]="passwordResponce.passwordResponceImage" />
              {{ passwordResponce.passwordResponceText }}
            </div>
            <div id="passwordInfo"></div>
            <div class="password-info mb-3">
              <p>
                Use 8 or more characters with a mix of letters, numbers &
                symbols.
              </p>
            </div>
            <div class="mb-3">
              <div class="pass-group">
                <input
                  [type]="togglePasswordClass ? 'text' : 'password'"
                  class="form-control pass-input"
                  placeholder="*************"
                />
                <span
                  class="toggle-password-sub"
                  (click)="togglePassword()" (keydown)="togglePassword()" tabindex="1"
                  [ngClass]="
                    togglePasswordClass
                      ? 'feather icon-eye'
                      : 'feather icon-eye-off'
                  "
                ></span>
              </div>
            </div>
            <div class="mb-0">
              <button class="btn w-100" type="submit">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Main Wrapper -->
