<!-- Top Header -->
<div class="top-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="special-offer-content">
          <p>Special offer! Get -20% off for first order with minimum <span>$200.00</span> in cart.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="top-header-right">
          <ul class="nav">
            <li>
              <div class="dropdown lang-dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                  English
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="javascript:void(0);">French</a>
                  <a class="dropdown-item" href="javascript:void(0);">Spanish</a>
                  <a class="dropdown-item" href="javascript:void(0);">German</a>
                </div>
              </div>
              <div class="dropdown lang-dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                  USD
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="javascript:void(0);">Euro</a>
                  <a class="dropdown-item" href="javascript:void(0);">INR</a>
                  <a class="dropdown-item" href="javascript:void(0);">Dinar</a>
                </div>
              </div>
            </li>
            <li>
              <div class="btn log-register">
                <a [routerLink]="routes.loginEmail" class="me-1">
                  <span><i class="feather icon-user"></i></span> Sign In
                </a> /
                <a [routerLink]="routes.register" class="ms-1">Sign Up</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Top Header -->

<!-- Cart Section -->
<div class="cart-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-3">
        <div class="cart-logo">
          <a [routerLink]="routes.home1">
            <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="cart-search">
          <form >
            <div class="enter-pincode">
              <i class="feather icon-map-pin"></i>
              <div class="enter-pincode-input">
                <input type="text" class="form-control" placeholder="Enter Pincode">
              </div>
            </div>
            <div class="cart-search-input">
              <input type="text" class="form-control" placeholder="Search for medicines, health products and more">
            </div>
            <div class="cart-search-btn">
              <button type="submit" class="btn">
                <i class="feather icon-search"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-3">
        <div class="shopping-cart-list">
          <ul class="nav">
            <li>
              <a href="javascript:void(0);">
                <img src="assets/img/icons/cart-favourite.svg" alt="">
              </a>
            </li>
            <li>
              <div class="shopping-cart-amount">
                <div class="shopping-cart-icon">
                  <img src="assets/img/icons/shopping-bag.svg" alt="">
                  <span>2</span>
                </div>
                <div class="shopping-cart-content">
                  <p>Shopping cart</p>
                  <h6>$57.00</h6>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Cart Section -->

<!-- Header -->
<header class="header " [ngClass]="{
  'pharmacy-header': white_bg === true
}">
  <div class="container">
    <nav class="navbar navbar-expand-lg header-nav">
      <div class="navbar-header">
        <a (click)="toggleSidebar()" id="mobile_btn" href="javascript:void(0);">
          <span class="bar-icon">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </a>

      </div>
      <div class="browse-categorie">
        <div class="dropdown categorie-dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown">
            <img src="assets/img/icons/browse-categorie.svg" alt=""> Browse Categories
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="javascript:void(0);">Ayush</a>
            <a class="dropdown-item" href="javascript:void(0);">Covid Essentials</a>
            <a class="dropdown-item" href="javascript:void(0);">Devices</a>
            <a class="dropdown-item" href="javascript:void(0);">Glucometers</a>
          </div>
        </div>
      </div>
      <div class="main-menu-wrapper">
        <div class="menu-header">
          <a [routerLink]="routes.home1" class="menu-logo">
            <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
          </a>
          <a id="menu_close" (click)="hideSidebar()" class="menu-close" href="javascript:void(0);">
            <i class="fas fa-times"></i>
          </a>
        </div>
        <ul class="main-nav">
          @for (mainMenus of header; track mainMenus) {
            @if (mainMenus.separateRoute === false) {
              <li class="has-submenu" routerLinkActive="active" [ngClass]="{
                  megamenu: mainMenus.tittle === 'Home'
                }">
                <a href="javascript:void(0);" (click)="mainMenus.showAsTab = !mainMenus.showAsTab">{{ mainMenus.tittle
                  }} <i class="fas fa-chevron-down"></i></a>
                <ul class="submenu" [ngClass]="{
                    'd-block': mainMenus.showAsTab === true,
                    'mega-submenu': mainMenus.tittle === 'Home'
                  }">
                    @for (menu of mainMenus.menu; track menu) {
                      @if (
                        menu.hasSubRoute === false &&
                        mainMenus.tittle !== 'Home'
                        ) {
                        <li routerLinkActive="active">
                          @if (menu.openInNewTab === false) {
                            <a [routerLink]="menu.route">{{ menu.menuValue }}</a>
                          }
                          @if (menu.openInNewTab === true) {
                            <a [target]="'_blank'" [routerLink]="menu.route">{{ menu.menuValue }}</a>
                          }
                        </li>
                      }
                      @if (menu.hasSubRoute === true) {
                        <li class="has-submenu">
                          <a (click)="menu.showSubRoute = !menu.showSubRoute" [routerLink]="menu.route">{{ menu.menuValue
                          }}</a>
                        <ul class="submenu" [ngClass]="{
                            'd-block': menu.showSubRoute === true
                          }">
                            @for (subMenu of menu.subMenus; track subMenu) {
                              @if (mainMenus.tittle !== 'Home') {
                                <li>
                                  <a [routerLink]="subMenu.route">{{
                                    subMenu.menuValue
                                  }}</a>
                                </li>
                              }
                            }
                          </ul>
                        </li>
                      }
                      @if (menu.menuValue === 'General Home') {
                        <li>
                          <div class="megamenu-wrapper">
                            <div class="row">
                              @for (menu of mainMenus.menu; track menu) {
                                <div class="col-lg-2">
                                  <div class="single-demo" routerLinkActive="active">
                                    <div class="demo-img">
                                      <a [routerLink]="menu.route" class="inner-demo-img"><img [src]="menu.img"
                                      class="img-fluid" alt="img" /></a>
                                    </div>
                                    <div class="demo-info">
                                      <a class="inner-demo-img" [routerLink]="menu.route">{{
                                        menu.menuValue
                                      }}</a>
                                    </div>
                                  </div>
                                </div>
                              }
                            </div>
                          </div>
                        </li>
                      }
                    }
                  </ul>
                </li>
              }
            }
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <!-- /Header -->

