<!-- Breadcrumb -->
<!-- <div class="breadcrumb-bar-two">
    <div class="container">
        <div class="row align-items-center inner-banner">
            <div class="col-md-12 col-12 text-center">
                <h2 class="breadcrumb-title">Contact Us</h2>
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink] = "routes.home1">Home</a></li>
                        <li class="breadcrumb-item" aria-current="page">Contact Us</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div> 
</div>-->
<!-- /Breadcrumb -->

<!-- Contact Us -->
<section class="contact-section">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="section-inner-header contact-inner-header">
                    <h6>Get in touch</h6>
                    <h2>Have Any Question?</h2>
                </div>
                <div class="card contact-card">
                    <div class="card-body">
                        <div class="contact-icon">
                            <i class="feather icon-map-pin"></i>
                        </div>
                        <div class="contact-details">
                            <h4>Address</h4>
                            <p>8432 Mante Highway, Aminaport, USA</p>
                        </div>
                    </div>
                </div>
                <div class="card contact-card">
                    <div class="card-body">
                        <div class="contact-icon">
                            <i class="feather icon-phone"></i>
                        </div>
                        <div class="contact-details">
                            <h4>Phone Number</h4>
                            <p>+1 315 369 5943</p>
                        </div>
                    </div>
                </div>
                <div class="card contact-card">
                    <div class="card-body">
                        <div class="contact-icon">
                            <i class="feather icon-mail"></i>
                        </div>
                        <div class="contact-details">
                            <h4>Email Address</h4>
                            <p>bookAppointment&#64;example.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 d-flex">
                <div class="card contact-form-card w-100">
                    <div class="card-body">
                        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="mb-3">
                                  <label for="name" class="mb-2">Name</label>
                                  <input type="text" class="form-control" formControlName="name" placeholder="Enter Your Name">
                                  <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="text-danger">
                                    <div *ngIf="name?.errors?.['required']">Name is required.</div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="mb-3">
                                  <label for="email" class="mb-2">Email Address</label>
                                  <input type="email" class="form-control" formControlName="email" placeholder="Enter Email Address">
                                  <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="text-danger">
                                    <div *ngIf="email?.errors?.['required']">Email is required.</div>
                                    <div *ngIf="email?.errors?.['email']">Invalid email address.</div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="mb-3">
                                  <label for="phone" class="mb-2">Phone Number</label>
                                  <input type="text" class="form-control" formControlName="phone" placeholder="Enter Phone Number">
                                  <div *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)" class="text-danger">
                                    <div *ngIf="phone?.errors?.['required']">Phone number is required.</div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="mb-3">
                                  <label for="services" class="mb-2">Services</label>
                                  <input type="text" class="form-control" formControlName="services" placeholder="Enter Services">
                                  <div *ngIf="services?.invalid && (services?.dirty || services?.touched)" class="text-danger">
                                    <div *ngIf="services?.errors?.['required']">Services are required.</div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-12">
                                <div class="mb-3">
                                  <label class="mb-2" for="message">Message</label>
                                  <textarea class="form-control" formControlName="message" placeholder="Enter your comments"></textarea>
                                  <div *ngIf="message?.invalid && (message?.dirty || message?.touched)" class="text-danger">
                                    <div *ngIf="message?.errors?.['required']">Message is required.</div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-12">
                                <div class="form-group-btn mb-0">
                                  <button type="submit" class="btn btn-primary prime-btn">Send Message</button>
                                </div>
                              </div>
                            </div>
                          </form>
                          
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Contact Us -->

<!-- Contact Map -->
<div class="contact-map d-flex">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3193.7301009561315!2d-76.13077892422932!3d36.82498697224007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89bae976cfe9f8af%3A0xa61eac05156fbdb9!2sBeachStreet%20USA!5e0!3m2!1sen!2sin!4v1669777904208!5m2!1sen!2sin" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>