<!-- Profile Sidebar -->
<div class="stickybar">
							
    <!-- Profile Sidebar -->
    <div class="profile-sidebar patient-sidebar profile-sidebar-new">
        <div class="widget-profile pro-widget-content">
            <div class="profile-info-widget">
                <a [routerLink]="routes.profileSettings" class="booking-doc-img">
                    <img src="assets/img/dummy/doload.jpg" alt="User Image" *ngIf="!userInfo?.image">
                    <img [src]="userInfo.image" alt="User Image" *ngIf="userInfo?.image">
                </a>
                <div class="profile-det-info">
                    <h3><a [routerLink]="routes.profileSettings">{{userInfo?.firstName}} {{userInfo?.lastName}}</a></h3>
                    <span>{{userInfo?.gender}} <i class="fa-solid fa-circle"></i> {{calculateAge(userInfo?.dateOfBirth)}} years</span>
                </div>
            </div>
        </div>
        <div class="dashboard-widget">
            <nav class="dashboard-menu">
                <ul>
                    <li routerLinkActive="active">
                        <a [routerLink]="routes.patientDashboard">
                            <i class="fa-solid fa-shapes"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li  [ngClass]="{'active': page === 'appointments'}">
                        <a [routerLink]="routes.patientAppointment">
                            <i class="fa-solid fa-calendar-days"></i>
                            <span>My Appointments</span>
                        </a>
                    </li>
                    <!-- <li routerLinkActive="active">
                        <a [routerLink]="routes.favourites">
                            <i class="fa-solid fa-user-doctor"></i>
                            <span>Favourites</span>
                        </a>
                    </li> -->
                    <!-- <li routerLinkActive="active">
                        <a [routerLink]="routes.dependentList">
                            <i class="fa-solid fa-user-plus"></i>
                            <span>Dependants</span>
                        </a>
                    </li> -->
                    <li routerLinkActive="active">
                        <a [routerLink]="routes.medicalrecords">
                            <i class="fa-solid fa-money-bill-1"></i>
                            <span>Prescriptions</span>
                        </a>
                    </li>
                    <!-- <li routerLinkActive="active">
                        <a [routerLink]="routes.patientAccounts">
                            <i class="fa-solid fa-file-contract"></i>
                            <span>Accounts</span>
                        </a>
                    </li> -->
                    <li routerLinkActive="active">
                        <a [routerLink]="routes.patientInvoice">
                            <i class="fa-solid fa-file-lines"></i>
                            <span>Invoices</span>
                        </a>
                    </li>																																				
                    <!-- <li routerLinkActive="active">
                        <a [routerLink]="routes.chat">
                            <i class="fa-solid fa-comments"></i>
                            <span>Message</span>
                            <small class="unread-msg">7</small>
                        </a>
                    </li> -->
                    <li routerLinkActive="active">
                        <a [routerLink]="routes.profileSettings">
                            <i class="fa-solid fa-user-pen"></i>
                            <span>Profile Settings</span>
                        </a>
                    </li>
                    <!-- <li routerLinkActive="active">
                        <a [routerLink]="routes.medicalDetails">
                            <i class="fa-solid fa-shield-halved"></i>
                            <span>Medical Details</span>
                        </a>
                    </li> -->
                    <li routerLinkActive="active" >
                        <a href="javascript:void(0);" (click)="Logout()">
                            <i class="fa-solid fa-calendar-check"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- /Profile Sidebar -->
    
</div>
<!-- / Profile Sidebar -->
