<div class="page-wrapper">
    <div class="content container-fluid">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Form Mask</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink] = "routes.adminDashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active">Form Mask</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Form Mask</h5>
                        <p class="card-text">Input masks can be used to force the user to enter data conform a specific format. Unlike validation, the user can't enter any other key than the ones specified by the mask.</p>
                    </div>
                    <div class="card-body">
                        <form action="#">
                            <div class="mb-3">
                                <label for="phone" class="mb-2">Phone</label>
                                <input type="text" id="phone" class="form-control" mask="(000) 000-0000" [showMaskTyped]="true" >
                                <span class="form-text text-muted">(999) 999-9999</span>
                            </div>
                            <div class="mb-3">
                                <label for="date" class="mb-2">Date</label>
                                <input type="text" id="date" class="form-control" mask="00/00/0000" [showMaskTyped]="true">
                                <span class="form-text text-muted">dd/mm/yyyy</span>
                            </div>
                            <div class="mb-3">
                                <label class="mb-2" for="field">SSN field 1</label>
                                <input type="text" id="ssn" class="form-control" mask="000-00-0000" [showMaskTyped]="true">
                                <span class="form-text text-muted">e.g "999-99-9999"</span>
                            </div>
                            <div class="mb-3">
                                <label for="phone" class="mb-2">Phone field + ext.</label>
                                <input type="text" id="phoneExt" class="form-control" mask="000 000 000" [showMaskTyped]="true">
                                <span class="form-text text-muted">+40 999 999 999</span>
                            </div>
                            <div class="mb-3">
                                <label class="mb-2" for="product-key">Product Key</label>
                                <input type="text" id="product" class="form-control" mask="-000-A000" [showMaskTyped]="true">
                                <span class="form-text text-muted">e.g a*-999-a999</span>
                            </div>
                            <div class="mb-3">
                                <label class="mb-2" for="currency">Currency</label>
                                <input type="text" id="currency" class="form-control" mask="099,099,099.99" [showMaskTyped]="true">
                                <span class="form-text text-muted">$ 999,999,999.99</span>
                            </div>
                            <div class="mb-3">
                                <label class="mb-2" for="eye-script">Eye Script</label>
                                <input type="text" id="eyescript" class="form-control" mask="V0.00V0.00 000" [showMaskTyped]="true">
                                <span class="form-text text-muted">~9.99 ~9.99 999</span>
                            </div>
                            <div class="mb-3">
                                <label class="mb-2" for="percent">Percent</label>
                                <input type="text" id="pct" class="form-control" mask="00" [showMaskTyped]="true">
                                <span class="form-text text-muted">e.g "99%"</span>
                            </div>
                            <div class="mb-0">
                                <label class="mb-2" for="credit-card-number">Credit Card Number</label>
                                <input type="text" class="form-control" id="ccn" mask="099.099.099.0999" [showMaskTyped]="true">
                                <span class="form-text text-muted">e.g "999.999.999.9999"</span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
    </div>			
</div>