<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-12">
          <h3 class="page-title">Sales</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink] = "routes.pharmacyDashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Sales</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->
    <div class="row">
      <div class="col-md-12">

        <!-- Recent Orders -->
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <app-pagination-header></app-pagination-header>
              <table matSort (matSortChange)="sortData($event)" class="datatable table table-hover table-center mb-0">
                <thead>
                  <tr>
                    <th mat-sort-header="invoiceNo">Invoice No</th>
                    <th mat-sort-header="medicineName">Medicine Name</th>
                    <th mat-sort-header="totalPrice">Total Price</th>
                    <th mat-sort-header="date">Date</th>
                    <th mat-sort-header="action">Action</th>
                  </tr>
                </thead>
                <tbody>
                  @for (data of tableData; track data) {
                    <tr>
                      <td>{{data.invoiceNo}}</td>
                      <td>{{data.medicineName}}</td>
                      <td>{{data.totalPrice}}</td>
                      <td>{{data.date}}</td>
                      <td>
                        <div class="actions">
                          <a class="btn btn-sm bg-success-light me-1" data-bs-toggle="modal" href="#edit_invoice_report">
                            <i class="fe fe-pencil"></i> {{data.action1}}
                          </a>
                          <a class="btn btn-sm bg-default-light me-1" [routerLink] = "routes.pharmacyInvoice">
                            <i class="fas fa-file-alt"></i> {{data.action2}}
                          </a>
                          <a href="javascript:void(0);" class="btn btn-sm bg-danger-light" data-bs-toggle="modal" href="#delete_modal">
                            <i class="fe fe-trash"></i> {{data.action3}}
                          </a>
                        </div>
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
            <app-custom-pagination></app-custom-pagination>
          </div>
        </div>
        <!-- /Recent Orders -->

      </div>
    </div>
  </div>
</div>
<!-- Edit Details Modal -->
<div class="modal fade" id="edit_invoice_report" aria-hidden="true" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Invoice Report</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-12 col-sm-6">
              <div class="mb-3">
                <label for="invoice-number" for="invoice" class="mb-2">Invoice Number</label>
                <input type="text" class="form-control" value="20169998">
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="mb-3">
                <label for="medicine-image" class="mb-2">Medicine Name</label>
                <input type="text" class="form-control" value="Abilify">
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="mb-3">
                <label for="total-amount" class="mb-2">Total Amount</label>
                <input type="text"  class="form-control" value="$150.00">
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="mb-3">
                <label for="created-date" class="mb-2">Created Date</label>
                <input type="text"  class="form-control" value="14-5-2020">
              </div>
            </div>

          </div>
          <button type="submit" class="btn btn-primary w-100">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Edit Details Modal -->

<!-- Model -->
<div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="acc_title">Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="acc_msg">Are you sure you want to delete?</p>
      </div>
      <div class="modal-footer">
        <a href="javascript:void(0)" class="btn btn-success si_accept_confirm">Yes</a>
        <button type="button" class="btn btn-danger si_accept_cancel" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- /Modele -->