 
<!-- Page Content -->
<div class="content">
    <div class="container">

        <div class="row">
            
            <app-patient-sidebar class="col-lg-4 col-xl-3 mt-5"></app-patient-sidebar>
            
            <div class="col-lg-8 col-xl-9 mt-5">
                <div class="dashboard-header">
                    <div class="header-back" (click)="back()">
                        <a  class="back-arrow"><i class="fa-solid fa-arrow-left"></i></a>
                        <h3>Appointment Details</h3>
                    </div>
                </div>
                <div class="appointment-details-wrap">

                    <!-- Appointment Detail Card -->
                    <div class="appointment-wrap appointment-detail-card">
                        <ul>
                            <li>
                                <div class="patinet-information">
                                    <a href="javascript:void(0);">
                                        <img loading="lazy" *ngIf="appointmentData.doctorImage" [src]="generateImageUrl(appointmentData.doctorImage)" (error)="handleImageError($event)" alt="Dr Image">
                                        <img loading="lazy" *ngIf="!appointmentData.doctorImage" src="../../../../../assets/img/dummy/doload.jpg"  alt="Dr Image">
                                    </a>
                                    <div class="patient-info">
                                        <h6><a href="javascript:void(0);">{{appointmentData.doctorName}}</a></h6>
                                        <div class="mail-info-patient">
                                            <ul>
                                                <li><i class="fa-solid fa-envelope"></i>{{appointmentData.doctorEmail}}</li>
                                                <li><i class="fa-solid fa-phone"></i>{{appointmentData.doctorPhone}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="appointment-info">
                                <div class="person-info">
                                    <p>Type of Appointment</p>
                                    <ul class="d-flex apponitment-types">
                                        <li><i class="fa-solid fa-hospital text-green"></i>Video Call</li>
                                    </ul>
                                   
                                   
                                    
                                </div>
                            </li>
                            <li class="appointment-action">
                                <div class="detail-badge-info">
                                    <span *ngIf="appointmentData.isUpcomming" class="badge bg-yellow">Upcoming</span>
                                    <span  *ngIf="appointmentData.isCancelled" class="badge bg-danger">Upcoming</span>
                                    <span  *ngIf="appointmentData.isCompleted" class="badge bg-success">Upcoming</span>
                                </div>
                                <div class="consult-fees">
                                    <h6>Consultation Fees : INR {{appointmentData.fees}}</h6>
                                </div>
                            </li>
                        </ul>
                        <ul class="">
                            <li>
                                <h6 class="mt-2">Concens</h6>
                                <p>{{appointmentData.issue}}</p>
                            </li>
                            <li>
                                <h6>Description</h6>
                                <span>{{appointmentData.description}}</span>
                            </li>
                            <li>
                                <button *ngIf="files.length>0" class="mt-2 btn btn-outline-info" (click)="openImagePreviewModal()" >View Images</button>
                            </li>
                        </ul>
                        <ul class="detail-card-bottom-info">
                            <li>
                                <h6>Appointment Date & Time</h6>
                                <span>{{formatDate(appointmentData.appointmentDate)}}-{{appointmentData.startTime}}</span>
                            </li>
                            <li>
                                <h6>Clinic Location</h6>
                                <span>{{appointmentData.address}}</span>
                            </li>
                            <li>
                                <h6>Visit Type</h6>
                                <span>General</span>
                            </li>
                            <li *ngIf="appointmentData.isUpcomming">
                                <div class="start-btn">
                                    <a [href]=appointmentData.zoomLink target="_blank" class="btn btn-secondary">Start Session</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- /Appointment Detail Card -->

                </div>
            </div>
        </div>

    </div>

</div>		
<!-- /Page Content -->
<!-- <div class="custom-modal" *ngIf="isImageModalOpen">
    <div class="custom-modal-content">
      <div class="custom-modal-header">
        <h5 class="custom-modal-title">Image Preview</h5>
        <button type="button" class="close" (click)="closeImageModal()">
          <i class="fa-regular fa-circle-xmark text-black"></i>
        </button>
      </div>
      <div class="custom-modal-body">
        <div id="fileCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div *ngFor="let file of files; let i = index" class="carousel-item"
              [ngClass]="{ active: i === activeIndex }">
              <ng-container *ngIf="file">
                <img loading="lazy" [src]="file" alt="File Preview" class="d-block w-100" />
              </ng-container>
              <ng-container *ngIf="!file">
                <span>{{ file }}</span>
              </ng-container>
            </div>
          </div>
          <a class="carousel-control-prev" role="button" data-slide="prev" (click)="prev()">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only text-black">Previous</span>
          </a>
          <a class="carousel-control-next" role="button" data-slide="next" (click)="next()">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div> -->

  <div class="img-custom-modal" *ngIf="isImageModalOpen">
    <div class="img-custom-modal-content">
      <button type="button" class="img-close" (click)="closeImageModal()">
        <i class="fa-regular fa-circle-xmark text-black"></i>
      </button>
      <div class="img-custom-modal-body">
        <div id="fileCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div *ngFor="let file of files; let i = index" class="carousel-item carousel-items"
              [ngClass]="{ 'active': i === activeIndex }">
              <ng-container *ngIf="file">
                <img loading="lazy" [src]="file" class="d-block w-100 img-fluid" alt="File Preview" />
              </ng-container>
              <ng-container *ngIf="!file">
                <span>{{ file }}</span>
              </ng-container>
            </div>
          </div>
          <a class="carousel-control-prev" role="button" data-slide="prev" (click)="prev()">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" role="button" data-slide="next" (click)="next()">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="custom-modal-backdrop" *ngIf="isImageModalOpen" (click)="closeImageModal()"></div>