<header class="header header-custom header-fixed header-one home-head-one">
  <div class="container">
    <nav class="navbar navbar-expand-lg header-nav">
      <div class="navbar-header">
        <a (click)="toggleSidebar()" id="mobile_btn" href="javascript:void(0);">
          <span class="bar-icon">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </a>
        <a [routerLink]="routes.home1" class="navbar-brand logo">
          <img loading="lazy" src="../../../../assets/img/SkinClinicLogofinal.png" class="img-fluid" alt="Logo" />
        </a>
      </div>
      <div class="main-menu-wrapper">
        <div class="menu-header">
          <a [routerLink]="routes.adminLogin" class="menu-logo">
            <!-- <img loading="lazy" src="assets/img/logo.svg" class="img-fluid" alt="Logo" /> -->
          </a>
          <a id="menu_close" (click)="hideSidebar()" class="menu-close" href="javascript:void(0);">
            <i class="fas fa-times"></i></a>
        </div>
        <ul class="main-nav gap-4">
          <li class="menu-item"><a [routerLink]="routes.home1">Home</a></li>
          <li class="menu-item" *ngIf="isPatient && !isMobile"><a [routerLink]="routes.patientDashboard">Patient Dashboard</a></li>
          <li class="menu-item"  *ngIf="isMobile && isPatient"><a [routerLink]="routes.patientDashboard">Patient Dashboard</a></li>
          <li class="menu-item"  *ngIf="isMobile && isPatient"><a [routerLink]="routes.patientAppointment">My Appointments</a></li>
          <li class="menu-item"  *ngIf="isMobile && isPatient"><a [routerLink]="routes.medicalrecords">Prescriptions</a></li>
          <li class="menu-item"  *ngIf="isMobile && isPatient"><a [routerLink]="routes.patientInvoice">Invoices</a></li>
          <li class="menu-item"  *ngIf="isMobile && isPatient"><a [routerLink]="routes.profileSettings">Profile Settings</a></li>
          <li class="menu-item"  ><a [routerLink]="routes.aboutUs">About Us</a></li>
          <li class="menu-item"  ><a [routerLink]="routes.contactUs">Contact Us</a></li>
          <li class="menu-item" ><a [routerLink]="routes.termsCondition">T&C</a></li>
          <li class="menu-item" ><a [routerLink]="routes.faq">FAQs</a></li>
       
      
          <li class="login-link" *ngIf="!isPatient"><a [routerLink]="routes.userLogin">Login</a></li>
          <li class="login-link" *ngIf="isPatient" (click)="logout()"><a [routerLink]="routes.userLogin">Logout</a></li>
          <ul class="nav header-navbar-rht">
            <!-- <li class="register-btn">
              <a [routerLink]="routes.register" class="btn reg-btn"><i class="feather icon-user"></i>Register</a>
            </li> -->
            <li class="register-btn" *ngIf="!isPatient">
              <a [routerLink]="routes.userLogin" class="btn btn-primary log-btn"><i
                  class="feather icon-lock"></i>Login</a>
            </li>
            <li class="register-btn" *ngIf="isPatient" (click)="logout()">
              <a [routerLink]="routes.userLogin" class="btn btn-primary log-btn"><i
                  class="feather icon-lock" ></i>Logout</a>
            </li>
          </ul>
        </ul>
      </div>
    </nav>
  </div>
</header>