<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-12">
          <h3 class="page-title">Order</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink] = "routes.pharmacyDashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Order</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->
    <div class="row">
      <div class="col-md-12">

        <!-- Recent Orders -->
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <app-pagination-header></app-pagination-header>
              <table matSort (matSortChange)="sortData($event)" class="datatable table table-hover table-center mb-0">
                <thead>
                  <tr>
                    <th mat-sort-header="id">#</th>
                    <th mat-sort-header="supplierId">Supplier ID</th>
                    <th mat-sort-header="supplierName">Supplier Name</th>
                    <th mat-sort-header="orderBy">Order by</th>
                    <th mat-sort-header="addOrder">Add order</th>
                    <th mat-sort-header="orderList">Order list</th>
                    <th mat-sort-header="action">Action</th>
                  </tr>
                </thead>
                <tbody>
                  @for (data of tableData; track data) {
                    <tr>
                      <td>{{data.id}}</td>
                      <td>{{data.supplierId}}</td>
                      <td>{{data.supplierName}}</td>
                      <td>{{data.orderBy}}</td>
                      <td>{{data.addOrder}}</td>
                      <td>{{data.orderList1}}<br>
                      {{data.orderList2}}</td>
                      <td>
                        <div class="actions">
                          <a href="javascript:void(0);" class="btn btn-sm bg-danger-light" data-bs-toggle="modal" href="#delete_modal">
                            <i class="fe fe-trash"></i> {{data.action}}
                          </a>
                        </div>
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
            <app-custom-pagination></app-custom-pagination>
          </div>
        </div>
        <!-- /Recent Orders -->

      </div>
    </div>
  </div>
</div>