<app-header></app-header>

<!-- Home Banner -->
<section class="banner-section-fifteen">
  <div class="sec-bg">
    <img
      src="assets/img/bg/ent-banner-bg-01.png"
      class="ban-blue-bg"
      alt="Img"
    />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div
          class="banner-content banner-content-fifteen aos"
          data-aos="fade-up"
          data-aos-duration="2000"
        >
          <h2>Painless, Safe Treatment</h2>
          <h1>Hear what you have been Missing</h1>
          <div class="banner-btns-fifteen">
            <a
              [routerLink]="routes.appointmentsListUser"
              class="btn btn-primary me-2"
              >Make an Appointment</a
            >
            <a
              [routerLink]="routes.booking1"
              class="btn btn-primary btns-primarytwo"
              >Quick Consultation</a
            >
          </div>
          <div class="d-sm-flex align-items-center">
            <div class="aboutus-companyimg">
              <a href="javascript:void(0)">
                <img
                  src="assets/img/banner-fifteen-vd.jpg"
                  alt="image"
                  class="img-fluid"
                />
              </a>
              <lightgallery
                [settings]="settings"
                [onInit]="onInit"
                size="1400-933"
              >
                <a
                  className="gallery-item"
                  src="https://www.youtube.com/embed/VXjGBqpbra0"
                >
                  <div class="playicon">
                    <span>
                      <i class="fa-solid fa-play"></i>
                    </span>
                  </div>
                </a>
              </lightgallery>
            </div>

            <div class="support-consult-main">
              <div class="support-consult">
                <div class="support-consult-img">
                  <img
                    src="assets/img/icons/customer-service-2.svg"
                    alt="Service"
                  />
                </div>
                <div class="support-consult-right">
                  <h6>24/7 Support</h6>
                  <div class="rating rating-fifteen">
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star"></i>
                  </div>
                </div>
              </div>
              <div class="support-consult">
                <div class="support-consult-img">
                  <img
                    src="assets/img/icons/customer-service-1.svg"
                    alt="Service"
                  />
                </div>
                <div class="support-consult-right">
                  <h6>Online Consultation</h6>
                  <span>Just 60 Secs</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="banner-right-fifteen">
          <img
            src="assets/img/banner-fifteen-ryt.png"
            alt="image"
            class="img-fluid"
          />
          <div class="banner-right-fifteenone">
            <img src="assets/img/ban-fift-icon1.png" alt="Icon" />
          </div>
          <div class="banner-right-fifteentwo">
            <img src="assets/img/ban-fift-icon2.png" alt="Icon" />
          </div>
          <div class="banner-right-fifteenthree">
            <img src="assets/img/ban-fift-icon3.png" alt="Icon" />
          </div>
          <div class="banner-right-fifteenfour">
            <img src="assets/img/ban-fift-icon4.png" alt="Icon" />
          </div>
          <div class="banner-right-fifteenseven">
            <img src="assets/img/ban-fift-icon7.png" alt="Icon" />
          </div>
          <div class="banner-right-fifteeneight">
            <img src="assets/img/ban-fift-icon8.png" alt="Icon" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Home Banner -->

<!-- services Section -->
<section class="services-section-fifteen">
  <div class="service-bg-icon">
    <img src="assets/img/serive-bg-icon.png" alt="Icon" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header-fifteen text-center">
          <h2>Our <span>Services</span></h2>
          <p>
            Our goal is to give the patient maximum relief within minimal pain
            inflicted
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="item">
          <div class="doctor-profile-widget-fifteen">
            <div class="doc-pro-img">
              <a [routerLink]="routes.doctorProfile1">
                <div class="doctor-profile-img">
                  <img
                    src="assets/img/service/service-3.jpg"
                    class="img-fluid"
                    alt="Service"
                  />
                </div>
              </a>
            </div>
            <div class="doc-content-bottom">
              <div class="doc-content-split">
                <a [routerLink]="routes.doctorProfile1">EAR Treatment</a>
              </div>
              <p>
                we are dedicated to providing the highest standard of care for
                all ear-related concerns
              </p>
              <span>5+ Services</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="item">
          <div class="doctor-profile-widget-fifteen">
            <div class="doc-pro-img">
              <a [routerLink]="routes.doctorProfile1">
                <div class="doctor-profile-img">
                  <img
                    src="assets/img/service/service-2.jpg"
                    class="img-fluid"
                    alt="Service"
                  />
                </div>
              </a>
            </div>
            <div class="doc-content-bottom">
              <div class="doc-content-split">
                <a [routerLink]="routes.doctorProfile1">Nose and Sinus</a>
              </div>
              <p>
                The cranial aspect of the human body commanded respect from
                patients and doctors alike.
              </p>
              <span>10+ Services</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="item">
          <div class="doctor-profile-widget-fifteen">
            <div class="doc-pro-img">
              <a [routerLink]="routes.doctorProfile1">
                <div class="doctor-profile-img">
                  <img
                    src="assets/img/service/service-1.jpg"
                    class="img-fluid"
                    alt="Service"
                  />
                </div>
              </a>
            </div>
            <div class="doc-content-bottom">
              <div class="doc-content-split">
                <a [routerLink]="routes.doctorProfile1"
                  >Throat / Larynx Surgery</a
                >
              </div>
              <p>
                Laryngoplasty was introduced and popularised by Isshiki in the
                1970’s.
              </p>
              <span>15+ Services</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /services Section -->

<!-- Patients Section -->
<div class="Patients-section-fifteen">
  <div class="patient-fifteen-icon">
    <img src="assets/img/fifteen-bg-icon-3.png" alt="Icon" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="patients-left-front patients-left-img">
          <img
            src="assets/img/patients-img-fifteen.png"
            alt="Patients"
            class="img-fluid"
          />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="section-header-fifteen section-header-fifteenpatient">
          <h2>Who <span>We Are</span></h2>
          <p>
            Our goal is to give the patient maximum relief within minimal pain
            inflicted
          </p>
        </div>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries
        </p>
        <p>
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem Ipsum is that it has a more-or-less normal distribution of
          letters
        </p>
        <div class="row">
          <div class="col-md-4">
            <div class="service-patient-inflict">
              <div class="service-patient-inflictimg">
                <span>
                  <img src="assets/img/icons/we-are-icon1.svg" alt="Icon" />
                </span>
              </div>
              <div class="clients-fifteen-span">
                <h3
                  class="counter"
                  [countUp]="14500"
                  [options]="{ enableScrollSpy: true }"
                >
                  14,500
                </h3>
              </div>
              <h6>ENT Surgery</h6>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-patient-inflict">
              <div class="service-patient-inflictimg">
                <span>
                  <img src="assets/img/icons/we-are-icon2.svg" alt="Icon" />
                </span>
              </div>
              <div class="clients-fifteen-span">
                <h3
                  class="counter"
                  [countUp]="50000"
                  [options]="{ enableScrollSpy: true }"
                >
                  50,000
                </h3>
                <span>+</span>
              </div>
              <h6>Happy Patients</h6>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-patient-inflict">
              <div class="service-patient-inflictimg">
                <span>
                  <img src="assets/img/icons/we-are-icon3.svg" alt="Icon" />
                </span>
              </div>
              <div class="clients-fifteen-span">
                <h3
                  class="counter"
                  [countUp]="30"
                  [options]="{ enableScrollSpy: true }"
                >
                  30
                </h3>
                <span>+</span>
              </div>
              <h6>Years of Service</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Patients Section -->

<!-- Doctors section -->
<div class="doctors-section-fifteen">
  <div class="doctor-fifteen-icon">
    <img src="assets/img/fifteen-bg-icon-2.png" alt="Icon" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header-fifteen text-center">
          <h2>Our <span>Expert Doctors</span></h2>
          <p>The Great Place Of ENT Hospital Center</p>
        </div>
      </div>
    </div>
    <div
      class="doctor-slider-fifteen owl-theme aos"
      data-aos="fade-up"
      data-aos-duration="2000"
    >
      <owl-carousel-o [options]="doctorSliderOptions">
        <ng-template carouselSlide>
          <div class="item item-fifteen">
            <div class="doctor-profile-widget">
              <div class="doc-pro-img">
                <a [routerLink]="routes.doctorProfile2">
                  <div class="doctor-profile-img">
                    <img
                      src="assets/img/doctors/doctor-28.jpg"
                      class="img-fluid"
                      alt="Icon"
                    />
                  </div>
                </a>
                <div class="doctor-amount">
                  <a
                    href="javascript:void(0)"
                    class="fav-icon"
                    (click)="toggleClass(0)"
                    (keydown)="toggleClass(0)"
                    tabindex="1"
                    [ngClass]="{ selected: isClassAdded[0] }"
                  >
                    <i class="feather icon-heart"></i>
                  </a>
                </div>
                <div class="item-info">
                  <h6>15+ Years Experience</h6>
                </div>
              </div>
              <div class="doc-content-fift">
                <a [routerLink]="routes.doctorProfile2">Dr. Brandon Nicholas</a>
                <p>MBBS, MS - ENT</p>
                <div class="rate-fifteen">
                  <div class="rate-four">
                    <i class="fas fa-star filled me-2"></i><span>4.8</span>
                  </div>
                  <ul>
                    <li>Mo</li>
                    <li>Tu</li>
                    <li>We</li>
                    <li>Th</li>
                    <li>Fr</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item item-fifteen">
            <div class="doctor-profile-widget">
              <div class="doc-pro-img">
                <a [routerLink]="routes.doctorProfile2">
                  <div class="doctor-profile-img">
                    <img
                      src="assets/img/doctors/doctor-03.jpg"
                      class="img-fluid"
                      alt="Doctor"
                    />
                  </div>
                </a>
                <div class="doctor-amount">
                  <a
                    href="javascript:void(0)"
                    class="fav-icon"
                    (click)="toggleClass(1)"
                    (keydown)="toggleClass(1)"
                    tabindex="1"
                    [ngClass]="{ selected: isClassAdded[1] }"
                  >
                    <i class="feather icon-heart"></i>
                  </a>
                </div>
                <div class="item-info">
                  <h6>09+ Years Experience</h6>
                </div>
              </div>
              <div class="doc-content-fift">
                <a [routerLink]="routes.doctorProfile2"
                  >Dr. Katherine Victoria</a
                >
                <p>MBBS, MS - ENT</p>
                <div class="rate-fifteen">
                  <div class="rate-four">
                    <i class="fas fa-star filled me-2"></i><span>4.9</span>
                  </div>
                  <ul>
                    <li>Mo</li>
                    <li>Tu</li>
                    <li>We</li>
                    <li>Th</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item item-fifteen">
            <div class="doctor-profile-widget">
              <div class="doc-pro-img">
                <a [routerLink]="routes.doctorProfile2">
                  <div class="doctor-profile-img">
                    <img
                      src="assets/img/doctors/doctor-07.jpg"
                      class="img-fluid"
                      alt="Doctor"
                    />
                  </div>
                </a>
                <div class="doctor-amount">
                  <a
                    href="javascript:void(0)"
                    class="fav-icon"
                    (click)="toggleClass(2)"
                    (keydown)="toggleClass(2)"
                    tabindex="1"
                    [ngClass]="{ selected: isClassAdded[2] }"
                  >
                    <i class="feather icon-heart"></i>
                  </a>
                </div>
                <div class="item-info">
                  <h6>10+ Years Experience</h6>
                </div>
              </div>
              <div class="doc-content-fift">
                <a [routerLink]="routes.doctorProfile2">Dr. Lisa Madeleine</a>
                <p>MBBS, MS - ENT</p>
                <div class="rate-fifteen">
                  <div class="rate-four">
                    <i class="fas fa-star filled me-2"></i><span>4.8</span>
                  </div>
                  <ul>
                    <li>Mo</li>
                    <li>Tu</li>
                    <li>We</li>
                    <li>Th</li>
                    <li>Fr</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item item-fifteen">
            <div class="doctor-profile-widget">
              <div class="doc-pro-img">
                <a [routerLink]="routes.doctorProfile2">
                  <div class="doctor-profile-img">
                    <img
                      src="assets/img/doctors/doctor-09.jpg"
                      class="img-fluid"
                      alt="Doctor"
                    />
                  </div>
                </a>
                <div class="doctor-amount">
                  <a
                    href="javascript:void(0)"
                    class="fav-icon"
                    (click)="toggleClass(3)"
                    (keydown)="toggleClass(3)"
                    tabindex="1"
                    [ngClass]="{ selected: isClassAdded[3] }"
                  >
                    <i class="feather icon-heart"></i>
                  </a>
                </div>
                <div class="item-info">
                  <h6>15+ Years Experience</h6>
                </div>
              </div>
              <div class="doc-content-fift">
                <a [routerLink]="routes.doctorProfile2">Dr. Brandon Nicholas</a>
                <p>Ear-Nose-Throat (ENT) Specialist</p>
                <div class="rate-fifteen">
                  <div class="rate-four">
                    <i class="fas fa-star filled me-2"></i><span>4.8</span>
                  </div>
                  <ul>
                    <li>Mo</li>
                    <li>Tu</li>
                    <li>We</li>
                    <li>Th</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</div>
<!-- /blog section -->

<!-- Pharmacy Section -->
<section class="pharmacy-section-fifteen">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header-fifteen text-center">
          <h2>Online <span>Pharmacy Store</span></h2>
          <p>More the quantity, higher the discount. Hurry, Buy Now!</p>
        </div>
      </div>
    </div>
    <div
      class="pharmacy-slider-fifteen owl-theme aos"
      data-aos="fade-up"
      data-aos-duration="2000"
    >
      <owl-carousel-o [options]="pharmacySliderOptions">
        <ng-template carouselSlide>
          <div class="item item-fifteen">
            <div class="doctor-profile-widget doctor-profile-widget-fift">
              <div class="doc-pro-img doc-pro-img-fifteen">
                <a [routerLink]="routes.doctorProfile1">
                  <div class="doctor-profile-img doctor-profile-img-fifteen">
                    <img
                      src="assets/img/pharmacy-1.png"
                      class="img-fluid"
                      alt="Doctor"
                    />
                  </div>
                </a>
                <div class="doctor-amount">
                  <a
                    href="javascript:void(0)"
                    class="fav-icon fav-icon-fifteen"
                  >
                    <i class="feather icon-heart"></i>
                  </a>
                </div>
                <div class="item-info">
                  <h6>10% Off</h6>
                </div>
                <div class="overlay-icons">
                  <a [routerLink]="routes.cart"
                    ><i class="fa-solid fa-cart-shopping"></i
                  ></a>
                  <a href="javascript:void(0);"><i class="fa-solid fa-heart"></i></a>
                </div>
              </div>
              <div
                class="doc-content-fift d-flex justify-content-between align-items-center"
              >
                <div class="name-product">
                  <a href="javascript:void(0);">Otogesic Ear Drops</a>
                  <p>Sold by: ERIS LIFESCIENCES LTD</p>
                </div>
                <h3 class="product-price">$150</h3>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item item-fifteen">
            <div class="doctor-profile-widget doctor-profile-widget-fift">
              <div class="doc-pro-img doc-pro-img-fifteen">
                <a [routerLink]="routes.doctorProfile1">
                  <div class="doctor-profile-img doctor-profile-img-fifteen">
                    <img
                      src="assets/img/pharmacy-2.png"
                      class="img-fluid"
                      alt="Doctor"
                    />
                  </div>
                </a>
                <div class="doctor-amount">
                  <a
                    href="javascript:void(0)"
                    class="fav-icon fav-icon-fifteen"
                  >
                    <i class="feather icon-heart"></i>
                  </a>
                </div>
                <div class="item-info">
                  <h6>15% Off</h6>
                </div>
                <div class="overlay-icons">
                  <a [routerLink]="routes.cart"
                    ><i class="fa-solid fa-cart-shopping"></i
                  ></a>
                  <a href="javascript:void(0);"><i class="fa-solid fa-heart"></i></a>
                </div>
              </div>
              <div
                class="doc-content-fift d-flex justify-content-between align-items-center"
              >
                <div class="name-product">
                  <a href="javascript:void(0);">Himalaya Bresol-NS</a>
                  <p>Sold by: THE HIMALAYA</p>
                </div>
                <h3 class="product-price">$120</h3>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item item-fifteen">
            <div class="doctor-profile-widget doctor-profile-widget-fift">
              <div class="doc-pro-img doc-pro-img-fifteen">
                <a [routerLink]="routes.doctorProfile1">
                  <div class="doctor-profile-img doctor-profile-img-fifteen">
                    <img
                      src="assets/img/pharmacy-3.png"
                      class="img-fluid"
                      alt="Pharmacy"
                    />
                  </div>
                </a>
                <div class="doctor-amount">
                  <a
                    href="javascript:void(0)"
                    class="fav-icon fav-icon-fifteen"
                  >
                    <i class="feather icon-heart"></i>
                  </a>
                </div>
                <div class="item-info">
                  <h6>10% Off</h6>
                </div>
                <div class="overlay-icons">
                  <a [routerLink]="routes.cart"
                    ><i class="fa-solid fa-cart-shopping"></i
                  ></a>
                  <a href="javascript:void(0);"><i class="fa-solid fa-heart"></i></a>
                </div>
              </div>
              <div
                class="doc-content-fift d-flex justify-content-between align-items-center"
              >
                <div class="name-product">
                  <a href="javascript:void(0);">Otogesic Ear Drops</a>
                  <p>Sold by: BOIRON</p>
                </div>
                <h3 class="product-price">$130</h3>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="item item-fifteen">
            <div class="doctor-profile-widget doctor-profile-widget-fift">
              <div class="doc-pro-img doc-pro-img-fifteen">
                <a [routerLink]="routes.doctorProfile1">
                  <div class="doctor-profile-img doctor-profile-img-fifteen">
                    <img
                      src="assets/img/pharmacy-1.png"
                      class="img-fluid"
                      alt="Pharmacy"
                    />
                  </div>
                </a>
                <div class="doctor-amount">
                  <a
                    href="javascript:void(0)"
                    class="fav-icon fav-icon-fifteen"
                  >
                    <i class="feather icon-heart"></i>
                  </a>
                </div>
                <div class="item-info">
                  <h6>10% Off</h6>
                </div>
                <div class="overlay-icons">
                  <a [routerLink]="routes.cart"
                    ><i class="fa-solid fa-cart-shopping"></i
                  ></a>
                  <a href="javascript:void(0);"><i class="fa-solid fa-heart"></i></a>
                </div>
              </div>
              <div
                class="doc-content-fift d-flex justify-content-between align-items-center"
              >
                <div class="name-product">
                  <a href="javascript:void(0);">Otogesic Ear Drops</a>
                  <p><span>Sold by:</span> ERIS LIFESCIENCES LTD</p>
                </div>
                <h3 class="product-price">$150</h3>
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</section>
<!-- /Pharmacy section -->

<!-- Feedback -->
<section class="feedback-section-fifteen">
  <div class="container">
    <div class="feedback-schedule-all">
      <div class="row">
        <div class="col-lg-5">
          <div class="feedback-inner-main">
            <img
              src="assets/img/feedback-fifteen.png"
              alt="image"
              class="img-fluid"
            />
          </div>
        </div>
        <div class="col-lg-7">
          <div class="feedback-fifteen-content">
            <div class="feedback-fift-img">
              <img src="assets/img/logo-03.png" alt="Logo" />
            </div>
            <h3>Consult top doctors online for any health concern</h3>
            <p>Connect within 60secs</p>
            <a [routerLink]="routes.register">Signup Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Feedback -->

<!-- contact -->
<section class="appointment-section-fifteen">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="appointment-schedule-main">
          <h2>Book Appointment</h2>
          <h6>More the quantity, higher the discount. Hurry, Buy Now!</h6>
          <p>
            We approach each patient with empathy and understanding, recognizing
            the importance of a supportive and caring environment. Striving for
            excellence in everything we do, we are committed to staying at the
            forefront of medical advancements to provide the best possible care.
          </p>
          <ul>
            <li>
              <div class="appointment-schedule-img">
                <img src="assets/img/icons/experience-4.svg" alt="Experience" />
                <div class="appoint-inner-img">
                  <img
                    src="assets/img/icons/experience-3.svg"
                    alt="Experience"
                  />
                </div>
              </div>
              <span>Find Experience Doctors</span>
            </li>
            <li>
              <div class="appointment-schedule-img">
                <img src="assets/img/icons/experience-5.svg" alt="Experience" />
                <div class="appoint-inner-img">
                  <img
                    src="assets/img/icons/experience-1.svg"
                    alt="Experience"
                  />
                </div>
              </div>
              <span>Share your Health Issues</span>
            </li>
            <li>
              <div class="appointment-schedule-img">
                <img src="assets/img/icons/experience-6.svg" alt="Experience" />
                <div class="appoint-inner-img">
                  <img
                    src="assets/img/icons/experience-2.svg"
                    alt="Experience"
                  />
                </div>
              </div>
              <span>Get solution about health</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="appointment-right-image appoint-fift-img">
          <img
            src="assets/img/appointment-ryt-1.png"
            alt="Experience"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->

<!-- Patient About us -->
<section class="about-us-section-fifteen">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header-fifteen text-center">
          <h2>Our <span>Patients Says</span></h2>
          <p>What our Patients say about us</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="aboutus-img-main">
          <img
            src="assets/img/aboutus-fift-1.jpg"
            alt="image"
            class="img-fluid"
          />
          <div class="aboutus-img-one">
            <img src="assets/img/icons/aboutus-icon1.svg" alt="Icon" />
          </div>
        </div>
      </div>
      <div class="col-lg-6 position-relative">
        <div class="slider vertical-slider">
          <ngx-slick-carousel
            #slickModal="slick-carousel"
            [config]="slideConfig"
          >
            <div class="aboutus-fifteen-main" ngxSlickItem>
              <div class="aboutus-profile-left">
                <div class="aboutus-image">
                  <img
                    src="assets/img/clients/client-01.jpg"
                    alt="Client"
                    class="img-fluid"
                  />
                </div>
                <div class="aboutus-contents">
                  <h6>Madeleine Jennifer</h6>
                  <span>Chennai, Tamilnadu</span>
                </div>
              </div>
              <p>
                The team's commitment to finding the best solutions impact on my life
              </p>
            </div>
            <div class="aboutus-fifteen-main" ngxSlickItem>
              <div class="aboutus-profile-left">
                <div class="aboutus-image">
                  <img
                    src="assets/img/clients/client-01.jpg"
                    alt="Client"
                    class="img-fluid"
                  />
                </div>
                <div class="aboutus-contents">
                  <h6>Madeleine Jennifer</h6>
                  <span>Chennai, Tamilnadu</span>
                </div>
              </div>
              <p>After struggling with chronic sinus problems, I found relief at Doccure. 
                The ENT specialists here are not only highly skilled but also genuinely caring. 
                They took the time to understand my concerns, provided a detailed diagnosis, 
                and guided me through a treatment plan that has greatly improved my quality of life.</p>
            </div>
            <div class="aboutus-fifteen-main" ngxSlickItem>
              <div class="aboutus-profile-left">
                <div class="aboutus-image">
                  <img
                    src="assets/img/clients/client-02.jpg"
                    alt="Client"
                    class="img-fluid"
                  />
                </div>
                <div class="aboutus-contents">
                  <h6>Madeleine Jennifer</h6>
                  <span>Chennai, Tamilnadu</span>
                </div>
              </div>
              <p>
                The staff was friendly and attentive, and Doctor performed well
              </p>
            </div>
            <div class="aboutus-fifteen-main" ngxSlickItem>
              <div class="aboutus-profile-left">
                <div class="aboutus-image">
                  <img
                    src="assets/img/clients/client-03.jpg"
                    alt="Client"
                    class="img-fluid"
                  />
                </div>
                <div class="aboutus-contents">
                  <h6>Madeleine Jennifer</h6>
                  <span>Chennai, Tamilnadu</span>
                </div>
              </div>
              <p>
                The staff was friendly and attentive, and Doctor performed well
              </p>
            </div>
          </ngx-slick-carousel>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Patient About us -->

<!-- Frequent section -->
<section class="frequently-section-fifteen">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header-fifteen text-center">
          <h2>Frequently <span>Asked Questions</span></h2>
          <p>What our clients say about us</p>
        </div>
      </div>
    </div>
    <div class="faq-main-cards" id="accordionExample">
      <div class="faq-card aos" data-aos="fade-up">
        <div class="faq-title">
          <a data-bs-toggle="collapse" href="#faqOne" aria-expanded="false">
            <span>How do I book an appointment with a doctor?</span>
          </a>
          <div
            id="faqOne"
            class="card-collapse collapse show"
            data-bs-parent="#accordionExample"
          >
            <p>
              Yes, simply visit our website and log in or create an account.
              Search for a doctor based on specialization, location, or
              availability & confirm your booking.
            </p>
          </div>
        </div>
      </div>
      <div class="faq-card aos" data-aos="fade-up">
        <div class="faq-title">
          <a
            class="collapsed"
            data-bs-toggle="collapse"
            href="#faqtwo"
            aria-expanded="false"
          >
            <span
              >Can I request a specific doctor when booking my
              appointment?</span
            >
          </a>
          <div
            id="faqtwo"
            class="card-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <p>
              Yes, you can usually request a specific doctor when booking your
              appointment, though availability may vary based on their schedule.
            </p>
          </div>
        </div>
      </div>
      <div class="faq-card aos" data-aos="fade-up">
        <div class="faq-title">
          <a
            class="collapsed"
            data-bs-toggle="collapse"
            href="#faqthree"
            aria-expanded="false"
          >
            <span
              >What should I do if I need to cancel or reschedule my
              appointment?</span
            >
          </a>
          <div
            id="faqthree"
            class="card-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <p>
              If you need to cancel or reschedule your appointment, contact the
              doctor as soon as possible to inform them and to reschedule for
              another available time slot.
            </p>
          </div>
        </div>
      </div>
      <div class="faq-card aos" data-aos="fade-up">
        <div class="faq-title">
          <a
            class="collapsed"
            data-bs-toggle="collapse"
            href="#faqfour"
            aria-expanded="false"
          >
            <span>What if I'm running late for my appointment?</span>
          </a>
          <div
            id="faqfour"
            class="card-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <p>
              If you know you will be late, it's courteous to call the doctor's
              office and inform them. Depending on their policy and schedule,
              they may be able to accommodate you or reschedule your
              appointment.
            </p>
          </div>
        </div>
      </div>
      <div class="faq-card aos" data-aos="fade-up">
        <div class="faq-title">
          <a
            class="collapsed"
            data-bs-toggle="collapse"
            href="#faqfive"
            aria-expanded="false"
          >
            <span
              >Can I book appointments for family members or dependents?</span
            >
          </a>
          <div
            id="faqfive"
            class="card-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <p>
              Yes, in many cases, you can book appointments for family members
              or dependents. However, you may need to provide their personal
              information and consent to do so.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Frequent section -->

<app-footer></app-footer>
