<footer class="footer footer-one footer-sixteen">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="footer-widget footer-about">
                        <div class="footer-logo">
                            <img src="assets/img/logo-dark-blue.svg" alt="logo">
                        </div>
                        <div class="footer-about-content">
                            <p>We can guide you through issues like Cardiac arrest, Heart Failure, Peripheral Artery Disease.</p>
                        </div>
                        <div class="subscribe-form">
                            <input type="email" class="form-control" placeholder="Enter Email Address">
                            <button type="submit" class="btn footer-btn">
                                Subscribe
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">Company</h2>
                        <ul>
                            <li><a [routerLink]="routes.aboutUs">About us</a></li>
                            <li><a [routerLink]="routes.cart">Careers</a></li>
                            <li><a href="javascript:void(0);">News</a></li>
                            <li><a [routerLink]="routes.contactUs">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">Resources</h2>
                        <ul>
                            <li><a href="javascript:void(0);">Events</a></li>
                            <li><a href="javascript:void(0);">Help Centre</a></li>
                            <li><a href="javascript:void(0);">Tutorials</a></li>
                            <li><a href="javascript:void(0);">Support</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-5">
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">Social</h2>
                        <ul>
                            <li><a href="javascript:void(0);">Twitter</a></li>
                            <li><a href="javascript:void(0);">LinkedIn</a></li>
                            <li><a href="javascript:void(0);">Facebook</a></li>
                            <li><a href="javascript:void(0);">Dribble</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-7">
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">Legal</h2>
                        <ul>
                            <li><a [routerLink]="routes.termsCondition">Terms & Condition</a></li>
                            <li><a [routerLink]="routes.privacyPolicy">Privacy Policy</a></li>
                            <li><a [routerLink]="routes.comingSoon">Cookies</a></li>
                            <li><a href="javascript:void(0);">Licenses</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <!-- Copyright -->
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="copyright-text">
                            <p>© 2024 Doccure. All rights reserved.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                    
                        <!-- Copyright Menu -->
                        <div class="copyright-menu">
                            <ul>
                                <li>
                                    <a href="javascript:void(0);"><i class="fa-brands fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><i class="fab fa-twitter"></i> </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><i class="fa-brands fa-whatsapp"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><i class="fa-brands fa-youtube"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!-- /Copyright Menu -->
                        
                    </div>
                </div>
            </div>
            <!-- /Copyright -->					
        </div>
    </div>
</footer>