<app-patient-breadcrumb></app-patient-breadcrumb>
<!-- Page Content -->
<div class="content">
    <div class="container">
        <div class="row">
        
            <app-patient-sidebar class="col-lg-4 col-xl-3"></app-patient-sidebar>
            
            <div class="col-lg-8 col-xl-9">
                
                <form >
                    <div class="setting-card">
                        <div class="change-avatar img-upload">
                            <div class="profile-img">
                                <i class="fa-solid fa-file-image"></i>
                            </div>
                            <div class="upload-img">
                                <h5>Profile Image</h5>
                                <div class="imgs-load d-flex align-items-center">
                                    <div class="change-photo">
                                        Upload New 
                                        <input type="file" class="upload">
                                    </div>
                                    <a href="javascript:void(0);" class="upload-remove">Remove</a>
                                </div>
                                <p class="form-text">Your Image should Below 4 MB, Accepted format Jpg,Png,Svg</p>
                            </div>			
                        </div>			
                    </div>
                    <div class="setting-title">
                        <h5>Information</h5>
                    </div>
                    <div class="setting-card">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="form-wrap">
                                    <label class="col-form-label" for="First">First Name <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-wrap">
                                    <label class="col-form-label" for="last">Last Name <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-wrap">
                                    <label class="col-form-label" for="Date">Date of Birth <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-wrap">
                                    <label class="col-form-label" for="phone">Phone Number <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-wrap">
                                    <label class="col-form-label" for="email">Email Address <span class="text-danger">*</span></label>
                                    <input type="email" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="form-wrap">
                                    <label class="col-form-label" for="bloodgroup">Blood Group <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="setting-title">
                        <h5>Address</h5>
                    </div>
                    <div class="setting-card">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-wrap">
                                    <label class="col-form-label" for="Address">Address <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-wrap">
                                    <label class="col-form-label" for="city">City <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-wrap">
                                    <label class="col-form-label" for="state">State <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-wrap">
                                    <label class="col-form-label" for="country">Country <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-wrap">
                                    <label class="col-form-label" for="pincode">Pincode <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-btn text-end">
                        <a href="javascript:void(0);" class="btn btn-gray">Cancel</a>
                        <button type="submit" class="btn btn-primary prime-btn">Save Changes</button>
                    </div>

                </form>
            </div>

        </div>
    </div>

</div>		
<!-- /Page Content -->