<!-- Breadcrumb -->
<!-- <div class="breadcrumb-bar-two">
    <div class="container">
        <div class="row align-items-center inner-banner">
            <div class="col-md-12 col-12 text-center">
                <h2 class="breadcrumb-title">FAQ</h2>
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink] = "routes.home1">Home</a></li>
                        <li class="breadcrumb-item" aria-current="page">FAQ</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div> -->
<!-- /Breadcrumb -->

<!-- FAQ Section -->
<section class="faq-inner-page">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="section-inner-header text-center">
                    <h2>Frequently Asked Questions</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <ng-container *ngFor="let faq of faqs; let i = index">
                <div class="col-lg-6 col-md-6">
                  <div class="faq-info faq-inner-info">
                    <div class="accordion" id="faq-details">
                      <!-- FAQ Item -->
                      <div class="accordion-item">
                        <h2 class="accordion-header" [attr.id]="'heading' + i">
                          <a href="javascript:void(0)" 
                             class="accordion-button collapsed"  
                             data-bs-toggle="collapse" 
                             [attr.data-bs-target]="'#collapse' + i" 
                             aria-expanded="false" 
                             [attr.aria-controls]="'collapse' + i">
                            {{faq.ques}} 
                          </a>
                        </h2>
                        <div [attr.id]="'collapse' + i" 
                             class="accordion-collapse collapse" 
                             [attr.aria-labelledby]="'heading' + i" 
                             data-bs-parent="#faq-details">
                          <div class="accordion-body">
                            <div class="accordion-content">
                              <p>{{faq.description}}</p>
                            </div> 
                          </div>
                        </div>
                      </div>
                      <!-- /FAQ Item -->
                    </div>
                  </div>
                </div>
              </ng-container>
        </div>
    </div>
</section>
<!-- /FAQ Section -->