
@media (max-width: 768px) {
    .view-prescribe.invoice-content .invoice-item .invoice-details {
        font-size: 11px;
        color: #334155;
        font-weight: 400;
    }
  }
  .logo_text{
    color: #0E82FD;
  }