<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-7 col-auto">
          <h3 class="page-title">Categories</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink] = "routes.pharmacyDashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Categories</li>
          </ul>
        </div>
        <div class="col-sm-5 col">
          <a href="#Add_Specialities_details" data-bs-toggle="modal" class="btn btn-primary float-end mt-2">Add</a>
        </div>
      </div>
    </div>
    <!-- /Page Header -->
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <app-pagination-header></app-pagination-header>
              <table matSort (matSortChange)="sortData($event)" class="datatable table table-hover table-center mb-0">
                <thead>
                  <tr>
                    <th mat-sort-header="id">#</th>
                    <th mat-sort-header="name">name</th>
                    <th mat-sort-header="createdDate">Created date</th>
                    <th mat-sort-header="actions">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  @for (data of tableData; track data) {
                    <tr>
                      <td>{{data.id}}</td>
                      <td>
                        <h2 class="table-avatar">
                          {{data.name}}
                        </h2>
                      </td>
                      <td>{{data.createdDate}}</td>
                      <td>
                        <div class="actions">
                          <a class="btn btn-sm bg-success-light me-1" data-bs-toggle="modal" href="#edit_specialities_details">
                            <i class="fe fe-pencil"></i> {{data.actions1}}
                          </a>
                          <a  data-bs-toggle="modal" href="#delete_modal" class="btn btn-sm bg-danger-light">
                            <i class="fe fe-trash"></i> {{data.actions2}}
                          </a>
                        </div>
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
            <app-custom-pagination></app-custom-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>