 

<!-- Page Content -->
<div class="content doctor-content">
    <div class="container">

        <div class="row">
            
            <!-- Profile Sidebar -->
            <app-patient-sidebar class="col-lg-4 col-xl-3 mt-5"></app-patient-sidebar>
            <!-- / Profile Sidebar -->
            
            <div class="col-lg-8 col-xl-9 mt-5">
                <div class="dashboard-header">
                    <h3>Appointments</h3>
                </div>
                <div class="appointment-tab-head">
                    <div class="appointment-tabs">
                        <ul class="nav nav-pills inner-tab" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                              <button
                                class="nav-link"
                                [class.active]="activeTab === 'upcoming'"
                                [attr.aria-selected]="activeTab === 'upcoming'"
                                (click)="showFilterData('upcoming')">
                                Upcoming<span>{{appointmentsDetail?.data?.upcomingCount}}</span>
                              </button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button
                                class="nav-link"
                                [class.active]="activeTab === 'cancelled'"
                                [attr.aria-selected]="activeTab === 'cancelled'"
                                (click)="showFilterData('cancelled')">
                                Cancelled<span>{{appointmentsDetail?.data?.cancelledCount}}</span>
                              </button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button
                                class="nav-link"
                                [class.active]="activeTab === 'completed'"
                                [attr.aria-selected]="activeTab === 'completed'"
                                (click)="showFilterData('completed')">
                                Completed<span>{{appointmentsDetail?.data?.completedCount}}</span>
                              </button>
                            </li>
                          </ul>
                          
                          
                    </div>
                    <div class="filter-head">
                        <div class="position-relative daterange-wraper me-2">
                            <div class="input-groupicon calender-input">
                                <input type="text" class="form-control date-range bookingrange" 
                                placeholder="From Date - To Date" 
                                bsDaterangepicker 
                                [(ngModel)]="bsRangeValue"
                                (bsValueChange)="dateSelectionChanged($event)">
                            </div>
                            <i class="fa-solid fa-calendar-days"></i>
                        </div>
                    </div>
                </div>

                <div class="tab-content appointment-tab-content">
                    <div class="tab-pane fade show active" id="pills-upcoming" role="tabpanel" aria-labelledby="pills-upcoming-tab">
                        <!-- Appointment List -->
                            <ng-container *ngFor="let data of appointmentsDetail?.data?.appointments; let i = index">
                            <div class="appointment-wrap">
                                <ul>
                                    <li>
                                        <div class="patinet-information">
                                            <a >
                                                <img *ngIf="!data.doctorImage" src="../../../../../assets/img/dummy/doload.jpg" alt="User Image">
                                                <img *ngIf="data.doctorImage" [src]="generateImageUrl(data.doctorImage)" (error)="handleImageError($event)" alt="User Image">
                                            </a>
                                            <div class="patient-info">
                                                <p>Appointment {{i+1}}</p>
                                                <h6><a >{{data.doctorName}}</a></h6>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="appointment-info">
                                        <p><i class="fa-solid fa-clock"></i>{{data.appointmentDate | date: 'dd/MMM/yy'}} {{data.startTime}}</p>
                                        <ul class="d-flex apponitment-types">
                                            <li>General Visit</li>
                                            <li>Video Call</li>
                                        </ul>												
                                    </li>
                                    <li class="mail-info-patient">
                                        <ul>
                                            <li><i class="fa-solid fa-envelope"></i>{{data.doctorEmail}}</li>
                                            <li><i class="fa-solid fa-phone"></i>{{data.doctorPhone}}</li>
                                        </ul>
                                    </li>
                                    <li class="appointment-action">
                                        <ul>
                                            <li>
                                                <a (click)="navigateToPatientUpcomingAppointment(data)"><i class="fa-solid fa-eye"></i></a>
                                            </li>
                                            <!-- <li>
                                                <a href="javascript:void(0);"><i class="fa-solid fa-comments"></i></a>
                                            </li> -->
                                            <!-- <li>
                                                <a href="javascript:void(0);"><i class="fa-solid fa-xmark"></i></a>
                                            </li> -->
                                        </ul>
                                    </li>
                                    <li *ngIf="data.isUpcomming===true" class="appointment-detail-btn" >
                                        <button  target="_blank" class="start-link reshedule_btn" [disabled]="isAttendButtonDisabled(data.startTime, data.endTime,data.appointmentDate)" [ngStyle]="{
                                            'color': isAttendButtonDisabled(data.startTime, data.endTime,data.appointmentDate) ? 'grey' : '',
                                            'border-color': isAttendButtonDisabled(data.startTime, data.endTime,data.appointmentDate) ? 'grey' : ''
                                          }" (click)="attend(data.zoomLink)" ><i class="fa-solid fa-calendar-check me-1"></i>Attend</button>
                                    </li>
                                    <li *ngIf="data.isUpcomming===true" class="appointment-detail-btn">
                                        <button [disabled]="isButtonDisabled(data.appointmentDate, data.startTime)" [ngStyle]="{
                                            'color': isButtonDisabled(data.appointmentDate, data.startTime) ? 'grey' : '',
                                            'border-color': isButtonDisabled(data.appointmentDate, data.startTime) ? 'grey' : ''
                                          }" class="start-link reshedule_btn" (click)="openModal(data)"><i class="fa-solid fa-calendar-alt me-1"></i>Reschedule</button>
                                    </li>
                                </ul>
                            </div>
                        </ng-container>
                        

                    </div>
                    <div class="tab-pane fade" id="pills-cancel" role="tabpanel" aria-labelledby="pills-cancel-tab">
                        <!-- Appointment List -->
                        <div class="appointment-wrap">
                            <ul>
                                <li>
                                    <div class="patinet-information">
                                        <a >
                                            <img src="assets/img/doctors/doctor-thumb-21.jpg" alt="User Image">
                                        </a>
                                        <div class="patient-info">
                                            <p>#Apt00011</p>
                                            <h6><a >Dr Edalin</a></h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="appointment-info">
                                    <p><i class="fa-solid fa-clock"></i>11 Nov 2024 10.45 AM</p>
                                    <ul class="d-flex apponitment-types">
                                        <li>General Visit</li>
                                        <li>Video Call</li>
                                    </ul>
                                    
                                </li>
                                <li class="appointment-detail-btn">
                                    <a  class="start-link">View Details<i class="fa-regular fa-circle-right ms-1"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!-- /Appointment List -->

                        <!-- Appointment List -->
                        <div class="appointment-wrap">
                            <ul>
                                <li>
                                    <div class="patinet-information">
                                        <a>
                                            <img src="assets/img/doctors/doctor-thumb-13.jpg" alt="User Image">
                                        </a>
                                        <div class="patient-info">
                                            <p>#Apt0002</p>
                                            <h6><a >Dr.Shanta</a><span class="badge new-tag">New</span></h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="appointment-info">
                                    <p><i class="fa-solid fa-clock"></i>05 Nov 2024 11.50 AM</p>
                                    <ul class="d-flex apponitment-types">
                                        <li>General Visit</li>
                                        <li>Audio Call</li>
                                    </ul>
                                    
                                </li>
                                <li class="appointment-detail-btn">
                                    <a   class="start-link">View Details<i class="fa-regular fa-circle-right ms-1"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!-- /Appointment List -->

                        <!-- Appointment List -->
                        <div class="appointment-wrap">
                            <ul>
                                <li>
                                    <div class="patinet-information">
                                        <a >
                                            <img src="assets/img/doctors/doctor-thumb-14.jpg" alt="User Image">
                                        </a>
                                        <div class="patient-info">
                                            <p>#Apt0003</p>
                                            <h6><a >Dr.John</a></h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="appointment-info">
                                    <p><i class="fa-solid fa-clock"></i>27 Oct 2024 09.30 AM</p>
                                    <ul class="d-flex apponitment-types">
                                        <li>General Visit</li>
                                        <li>Video Call</li>
                                    </ul>
                                    
                                </li>
                                <li class="appointment-detail-btn">
                                    <a   class="start-link">View Details<i class="fa-regular fa-circle-right ms-1"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!-- /Appointment List -->

                        <!-- Appointment List -->
                        <div class="appointment-wrap">
                            <ul>
                                <li>
                                    <div class="patinet-information">
                                        <a  >
                                            <img src="assets/img/doctors/doctor-thumb-15.jpg" alt="User Image">
                                        </a>
                                        <div class="patient-info">
                                            <p>#Apt0004</p>
                                            <h6><a  >Dr.Susan</a></h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="appointment-info">
                                    <p><i class="fa-solid fa-clock"></i>18 Oct 2024 12.20 PM</p>
                                    <ul class="d-flex apponitment-types">
                                        <li>General Visit</li>
                                        <li>Direct Visit</li>
                                    </ul>
                                    
                                </li>
                                <li class="appointment-detail-btn">
                                    <a   class="start-link">View Details<i class="fa-regular fa-circle-right ms-1"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!-- /Appointment List -->

                        <!-- Appointment List -->
                        <div class="appointment-wrap">
                            <ul>
                                <li>
                                    <div class="patinet-information">
                                        <a  >
                                            <img src="assets/img/doctors/doctor-thumb-16.jpg" alt="User Image">
                                        </a>
                                        <div class="patient-info">
                                            <p>#Apt0005</p>
                                            <h6><a  >Dr.Juliet</a></h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="appointment-info">
                                    <p><i class="fa-solid fa-clock"></i>10 Oct 2024 11.30 AM</p>
                                    <ul class="d-flex apponitment-types">
                                        <li>General Visit</li>
                                        <li>Chat</li>
                                    </ul>
                                    
                                </li>
                                <li class="appointment-detail-btn">
                                    <a   class="start-link">View Details<i class="fa-regular fa-circle-right ms-1"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!-- /Appointment List -->

                        <!-- Appointment List -->
                        <div class="appointment-wrap">
                            <ul>
                                <li>
                                    <div class="patinet-information">
                                        <a  >
                                            <img src="assets/img/doctors/doctor-thumb-17.jpg" alt="User Image">
                                        </a>
                                        <div class="patient-info">
                                            <p>#Apt0006</p>
                                            <h6><a  >Dr.Joseph</a></h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="appointment-info">
                                    <p><i class="fa-solid fa-clock"></i>26 Sep 2024 10.20 AM</p>
                                    <ul class="d-flex apponitment-types">
                                        <li>General Visit</li>
                                        <li>Chat</li>
                                    </ul>
                                    
                                </li>
                                <li class="appointment-detail-btn">
                                    <a   class="start-link">View Details<i class="fa-regular fa-circle-right ms-1"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!-- /Appointment List -->

                        <!-- Appointment List -->
                        <div class="appointment-wrap">
                            <ul>
                                <li>
                                    <div class="patinet-information">
                                        <a  >
                                            <img src="assets/img/doctors/doctor-thumb-18.jpg" alt="User Image">
                                        </a>
                                        <div class="patient-info">
                                            <p>#Apt0007</p>
                                            <h6><a  >Dr.Victoria</a></h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="appointment-info">
                                    <p><i class="fa-solid fa-clock"></i>14 Sep 2024 08.10 AM</p>
                                    <ul class="d-flex apponitment-types">
                                        <li>General Visit</li>
                                        <li>Chat</li>
                                    </ul>
                                    
                                </li>
                                <li class="appointment-detail-btn">
                                    <a   class="start-link">View Details<i class="fa-regular fa-circle-right ms-1"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!-- /Appointment List -->

                        <!-- Appointment List -->
                        <div class="appointment-wrap">
                            <ul>
                                <li>
                                    <div class="patinet-information">
                                        <a  >
                                            <img src="assets/img/doctors/doctor-thumb-19.jpg" alt="User Image">
                                        </a>
                                        <div class="patient-info">
                                            <p>#Apt0008</p>
                                            <h6><a  >Dr.Benjamin</a></h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="appointment-info">
                                    <p><i class="fa-solid fa-clock"></i>03 Sep 2024 06.00 PM</p>
                                    <ul class="d-flex apponitment-types">
                                        <li>General Visit</li>
                                        <li>Video Call</li>
                                    </ul>
                                    
                                </li>
                                <li class="appointment-detail-btn">
                                    <a   class="start-link">View Details<i class="fa-regular fa-circle-right ms-1"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!-- /Appointment List -->

                    </div>
                    <div class="tab-pane fade" id="pills-complete" role="tabpanel" aria-labelledby="pills-complete-tab">
                        <!-- Appointment List -->
                        <div class="appointment-wrap">
                            <ul>
                                <li>
                                    <div class="patinet-information">
                                        <a   >
                                            <img src="assets/img/doctors/doctor-thumb-21.jpg" alt="User Image">
                                        </a>
                                        <div class="patient-info">
                                            <p>#Apt0001</p>
                                            <h6><a   >Dr Edalin</a></h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="appointment-info">
                                    <p><i class="fa-solid fa-clock"></i>11 Nov 2024 10.45 AM</p>
                                    <ul class="d-flex apponitment-types">
                                        <li>General Visit</li>
                                        <li>Video Call</li>
                                    </ul>
                                    
                                </li>
                                <li class="appointment-detail-btn">
                                    <a    class="start-link">View Details<i class="fa-regular fa-circle-right ms-1"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!-- /Appointment List -->

                        <!-- Appointment List -->
                        <div class="appointment-wrap">
                            <ul>
                                <li>
                                    <div class="patinet-information">
                                        <a   >
                                            <img src="assets/img/doctors/doctor-thumb-13.jpg" alt="User Image">
                                        </a>
                                        <div class="patient-info">
                                            <p>#Apt0002</p>
                                            <h6><a   >Dr.Shanta</a><span class="badge new-tag">New</span></h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="appointment-info">
                                    <p><i class="fa-solid fa-clock"></i>05 Nov 2024 11.50 AM</p>
                                    <ul class="d-flex apponitment-types">
                                        <li>General Visit</li>
                                        <li>Audio Call</li>
                                    </ul>
                                    
                                </li>
                                <li class="appointment-detail-btn">
                                    <a    class="start-link">View Details<i class="fa-regular fa-circle-right ms-1"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!-- /Appointment List -->

                        <!-- Appointment List -->
                        <div class="appointment-wrap">
                            <ul>
                                <li>
                                    <div class="patinet-information">
                                        <a   >
                                            <img src="assets/img/doctors/doctor-thumb-14.jpg" alt="User Image">
                                        </a>
                                        <div class="patient-info">
                                            <p>#Apt0003</p>
                                            <h6><a   >Dr.John</a></h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="appointment-info">
                                    <p><i class="fa-solid fa-clock"></i>27 Oct 2024 09.30 AM</p>
                                    <ul class="d-flex apponitment-types">
                                        <li>General Visit</li>
                                        <li>Video Call</li>
                                    </ul>
                                    
                                </li>
                                <li class="appointment-detail-btn">
                                    <a    class="start-link">View Details<i class="fa-regular fa-circle-right ms-1"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!-- /Appointment List -->

                        <!-- Appointment List -->
                        <div class="appointment-wrap">
                            <ul>
                                <li>
                                    <div class="patinet-information">
                                        <a   >
                                            <img src="assets/img/doctors/doctor-thumb-15.jpg" alt="User Image">
                                        </a>
                                        <div class="patient-info">
                                            <p>#Apt0004</p>
                                            <h6><a   >Dr.Susan</a></h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="appointment-info">
                                    <p><i class="fa-solid fa-clock"></i>18 Oct 2024 12.20 PM</p>
                                    <ul class="d-flex apponitment-types">
                                        <li>General Visit</li>
                                        <li>Direct Visit</li>
                                    </ul>
                                    
                                </li>
                                <li class="appointment-detail-btn">
                                    <a    class="start-link">View Details<i class="fa-regular fa-circle-right ms-1"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!-- /Appointment List -->

                        <!-- Appointment List -->
                        <div class="appointment-wrap">
                            <ul>
                                <li>
                                    <div class="patinet-information">
                                        <a   >
                                            <img src="assets/img/doctors/doctor-thumb-16.jpg" alt="User Image">
                                        </a>
                                        <div class="patient-info">
                                            <p>#Apt0005</p>
                                            <h6><a   >Dr.Juliet</a></h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="appointment-info">
                                    <p><i class="fa-solid fa-clock"></i>10 Oct 2024 11.30 AM</p>
                                    <ul class="d-flex apponitment-types">
                                        <li>General Visit</li>
                                        <li>Chat</li>
                                    </ul>
                                    
                                </li>
                                <li class="appointment-detail-btn">
                                    <a    class="start-link">View Details<i class="fa-regular fa-circle-right ms-1"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!-- /Appointment List -->

                        <!-- Appointment List -->
                        <div class="appointment-wrap">
                            <ul>
                                <li>
                                    <div class="patinet-information">
                                        <a   >
                                            <img src="assets/img/doctors/doctor-thumb-17.jpg" alt="User Image">
                                        </a>
                                        <div class="patient-info">
                                            <p>#Apt0006</p>
                                            <h6><a   >Dr.Joseph</a></h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="appointment-info">
                                    <p><i class="fa-solid fa-clock"></i>26 Sep 2024 10.20 AM</p>
                                    <ul class="d-flex apponitment-types">
                                        <li>General Visit</li>
                                        <li>Chat</li>
                                    </ul>
                                    
                                </li>
                                <li class="appointment-detail-btn">
                                    <a    class="start-link">View Details<i class="fa-regular fa-circle-right ms-1"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!-- /Appointment List -->

                        <!-- Appointment List -->
                        <div class="appointment-wrap">
                            <ul>
                                <li>
                                    <div class="patinet-information">
                                        <a   >
                                            <img src="assets/img/doctors/doctor-thumb-18.jpg" alt="User Image">
                                        </a>
                                        <div class="patient-info">
                                            <p>#Apt0007</p>
                                            <h6><a   >Dr.Victoria</a></h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="appointment-info">
                                    <p><i class="fa-solid fa-clock"></i>14 Sep 2024 08.10 AM</p>
                                    <ul class="d-flex apponitment-types">
                                        <li>General Visit</li>
                                        <li>Chat</li>
                                    </ul>
                                    
                                </li>
                                <li class="appointment-detail-btn">
                                    <a    class="start-link">View Details<i class="fa-regular fa-circle-right ms-1"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!-- /Appointment List -->

                        <!-- Appointment List -->
                        <div class="appointment-wrap">
                            <ul>
                                <li>
                                    <div class="patinet-information">
                                        <a   >
                                            <img src="assets/img/doctors/doctor-thumb-19.jpg" alt="User Image">
                                        </a>
                                        <div class="patient-info">
                                            <p>#Apt0008</p>
                                            <h6><a   >Dr.Benjamin</a></h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="appointment-info">
                                    <p><i class="fa-solid fa-clock"></i>03 Sep 2024 06.00 PM</p>
                                    <ul class="d-flex apponitment-types">
                                        <li>General Visit</li>
                                        <li>Video Call</li>
                                    </ul>
                                    
                                </li>
                                <li class="appointment-detail-btn">
                                    <a    class="start-link">View Details<i class="fa-regular fa-circle-right ms-1"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!-- /Appointment List -->

                    </div>
                </div>
                
            </div>
        </div>

    </div>

</div>		
<!-- /Page Content -->
<div class="custom-modal" *ngIf="isModalOpen">
    <div class="custom-modal-content">
      <div class="custom-modal-header">
        <h3 class="custom-modal-title">Select Preferred Date and Available Time Slot</h3>
        <button type="button" class="close" (click)="closeModal()">
          <i class="fa-regular fa-circle-xmark text-black"></i>
        </button>
      </div>
      <div class="custom-modal-body">
        <div class="row mt-3">
          <div class="col-lg-6  d-flex justify-content-center align-items-center">
            <p-calendar [(ngModel)]="selectedDate"  inline="true" dateFormat="yy-mm-dd"
              (onSelect)="onSelectDate($event)" class="calendar-p" (ngModelChange)="onDateChange($event)"
              (onInput)="onDateChange($event)"></p-calendar>
          </div>
          <div class="col-lg-6  justify-content-center">
            <!-- Available Times --> 
            <h6 class="text-center mt-md-5">Available Time Slots</h6>
            <div class="row mt-md-5 mb-5" >
              <div *ngFor="let slot of filteredAppointments" class="col-lg-3 col-md-4 col-sm-4 col-6 mt-2"
                (click)="onSelectTimeSlot(slot)">
                <div [ngClass]="{
                    selected: tempSelectedTimeSlot === slot,
                    'not-selected': tempSelectedTimeSlot !== slot
                  }"
                >
                  {{ slot.startTime }}
                </div>
              </div>
              <div *ngIf="!filteredAppointments?.length" class="alt_text">
                no slots available
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="tempSelectedTimeSlot" class=" row ps-5 pe-5">
          <div class="col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center align-items-center">
            <p class="mb-0 text-center">Selected Slot: <strong class="strong_color">{{ tempSelectedTimeSlot.startTime }}, {{
                selectedDate | date: 'yyyy-MM-dd'
                }}</strong></p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center align-items-center">
            <button class="modal_btn" (click)="confirmSlot();slotConfirmed=true">Reschedule Slot</button>
          </div>
        </div>
      </div>
    </div>
  </div>