::ng-deep .custom-daterangepicker-container {
    transform: translate3d(940px, 225px, 0px) !important;
}
.reshedule_btn{
     border: 1px solid #0E82FD; 
     color: #0E82FD; 
     font-weight: 600; 
     padding: 5px 10px; 
     border-radius: 6px; 
     background: white;
}