<app-doctor-breadcrumb></app-doctor-breadcrumb>

<!-- Page Content -->
<div class="content  doctor-content">
  <div class="container">

    <div class="row">
      <div class="col-lg-4 col-xl-3 theiaStickySidebar">

        <!-- Profile Sidebar -->
        <app-doctor-sidebar class="col-md-5 col-lg-4 col-xl-3"></app-doctor-sidebar>
        <!-- /Profile Sidebar -->

      </div>
      <div class="col-lg-8 col-xl-9">

        <!-- Profile Settings -->
        <div class="dashboard-header">
          <h3>Profile Settings</h3>
        </div>

        <!-- Settings List -->
        <div class="setting-tab">
          <div class="appointment-tabs">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" [routerLink] = "routes.doctorProfileSettings">Basic Details</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink] = "routes.doctorExperienceSettings">Experience</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink] = "routes.doctorEducationSettings">Education</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" [routerLink] = "routes.doctorAwardsSettings">Awards</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink] = "routes.doctorInsuranceSettings">Insurances</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink] = "routes.doctorClinicSettings">Clinics</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink] = "routes.doctorBusinessSettings">Business Hours</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- /Settings List -->

        <div class="dashboard-header border-0 mb-0">
          <h3>Awards</h3>
          <ul>
            <li>
              <a href="javascript:void(0);" (click)="addAward()" class="btn btn-primary prime-btn add-awrads">Add New Award</a>
            </li>
          </ul>
        </div>

        <form>

          <div class="accordions awrad-infos" id="list-accord">

            <!-- Awards Item -->
            <div class="user-accordion-item">
              <a href="javascript:void(0);" class="accordion-wrap" data-bs-toggle="collapse" data-bs-target="#award1">Awards<span>Delete</span></a>
              <div class="accordion-collapse collapse show" id="award1" data-bs-parent="#list-accord">
                <div class="content-collapse">
                  <div class="add-service-info">
                    <div class="add-info">
                      <div class="row align-items-center">
                        <div class="col-md-6">
                          <div class="form-wrap">
                            <label class="col-form-label"for=award>Award Name</label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-wrap">
                            <label class="col-form-label" for="year">Year <span class="text-danger">*</span></label>
                            <div class="form-icon">
                              <input type="text" class="form-control datetimepicker" bsDatepicker [bsConfig]="{ adaptivePosition: true }">
                              <span class="icon"><i class="fa-regular fa-calendar-days"></i></span>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-12">
                          <div class="form-wrap">
                            <label class="col-form-label" for="describtion">Description <span class="text-danger">*</span></label>
                            <textarea class="form-control" rows="3"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="text-end">
                      <a href="javascript:void(0);" class="reset more-item">Reset</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Awards Item -->

            <!-- Awards Item -->
            <div class="user-accordion-item">
              <a href="javascript:void(0);" class="collapsed accordion-wrap" data-bs-toggle="collapse" data-bs-target="#award2">Best Surgeon<span>Delete</span></a>
              <div class="accordion-collapse collapse" id="award2" data-bs-parent="#list-accord">
                <div class="content-collapse">
                  <div class="add-service-info">
                    <div class="add-info">
                      <div class="row align-items-center">
                        <div class="col-md-6">
                          <div class="form-wrap">
                            <label class="col-form-label" for="awardname">Award Name</label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-wrap">
                            <label class="col-form-label" for="year">Year <span class="text-danger">*</span></label>
                            <div class="form-icon">
                              <input type="text" class="form-control datetimepicker" bsDatepicker [bsConfig]="{ adaptivePosition: true }">
                              <span class="icon"><i class="fa-regular fa-calendar-days"></i></span>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-12">
                          <div class="form-wrap">
                            <label class="col-form-label" for="description">Description <span class="text-danger">*</span></label>
                            <textarea class="form-control" rows="3"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="text-end">
                      <a href="javascript:void(0);" class="reset more-item">Reset</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Awards Item -->

            <!-- New Awards Item -->
            @for (item of award; track item) {
              <div class="awrad-content">
                <div class="user-accordion-item">
                  <a href="javascript:void(0);" class="accordion-wrap" data-bs-toggle="collapse"
                    data-bs-target="#award">Award<span class="trash">Delete</span></a>
                    <div class="accordion-collapse collapse show" id="award" data-bs-parent="#list-accord">
                      <div class="content-collapse">
                        <div class="add-service-info">
                          <div class="add-info">
                            <div class="row align-items-center">
                              <div class="col-md-6">
                                <div class="form-wrap">
                                  <label class="col-form-label" for="awardname">Award Name</label>
                                  <input type="text" class="form-control">
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-wrap">
                                  <label class="col-form-label" for="year">Year <span
                                  class="text-danger">*</span></label>
                                  <div class="form-icon">
                                    <input type="text" class="form-control datetimepicker" bsDatepicker [bsConfig]="{ adaptivePosition: true }">
                                    <span class="icon"><i
                                    class="fa-regular fa-calendar-days"></i></span>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-12">
                                <div class="form-wrap">
                                  <label class="col-form-label" for="jobdescription">Job Description <span
                                  class="text-danger">*</span></label>
                                  <textarea class="form-control" rows="3"></textarea>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="text-end">
                            <a href="javascript:void(0);" class="reset more-item">Reset</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              }
              <!-- /New Awards Item -->
            </div>

            <div class="modal-btn text-end">
              <a href="javascript:void(0);" class="btn btn-gray">Cancel</a>
              <button type="submit" class="btn btn-primary prime-btn">Save Changes</button>
            </div>

          </form>
          <!-- /Profile Settings -->

        </div>
      </div>
    </div>
  </div>
  <!-- /Page Content -->