<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="page-title">List of Patient</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Users</a></li>
            <li class="breadcrumb-item active">Patient</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <app-pagination-header></app-pagination-header>
              <table matSort (matSortChange)="sortData($event)"
                class="datatable table table-hover table-center mb-0">
                <thead>
                  <tr>
                    <th mat-sort-header="patientId">Patient ID</th>
                    <th mat-sort-header="patientName">Patient Name</th>
                    <th mat-sort-header="age">Age</th>
                    <th mat-sort-header="address">Address</th>
                    <th mat-sort-header="phone">Phone</th>
                    <th mat-sort-header="lastVisit">Last Visit</th>
                    <th mat-sort-header="paid">Paid</th>
                  </tr>
                </thead>
                <tbody>
                  @for (data of tableData; track data) {
                    <tr>
                      <td>{{data.patientId}}</td>
                      <td>
                        <h2 class="table-avatar">
                          <a [routerLink]="routes.adminProfile" class="avatar avatar-sm me-2"><img
                            class="avatar-img rounded-circle" [src]="data.img"
                          alt="User Image"></a>
                          <a [routerLink]="routes.adminProfile">{{data.patientName}} </a>
                        </h2>
                      </td>
                      <td>{{data.age}}</td>
                      <td>{{data.address}}</td>
                      <td>{{data.phone}}</td>
                      <td>{{data.lastVisit}}</td>
                      <td>{{data.paid}}</td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
            <app-custom-pagination></app-custom-pagination>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>