<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="page-title">Reviews</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink] = "routes.adminDashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Reviews</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <app-pagination-header></app-pagination-header>
              <table matSort (matSortChange)="sortData($event)" class="datatable table table-hover table-center mb-0">
                <thead>
                  <tr>
                    <th mat-sort-header="patientName">Patient Name</th>
                    <th mat-sort-header="doctorName">Doctor Name</th>
                    <th mat-sort-header="ratings">Ratings</th>
                    <th mat-sort-header="description">Description</th>
                    <th mat-sort-header="date">Date</th>
                    <th mat-sort-header="actions">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  @for (data of tableData; track data) {
                    <tr>
                      <td>
                        <h2 class="table-avatar">
                          <a [routerLink] = "routes.adminProfile" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" [src]="data.img1" alt="User Image"></a>
                          <a [routerLink] = "routes.adminProfile">{{data.patientName}} </a>
                        </h2>
                      </td>
                      <td>
                        <h2 class="table-avatar">
                          <a [routerLink] = "routes.adminProfile" class="avatar avatar-sm me-2"><img class="avatar-img rounded-circle" [src]="data.img2" alt="User Image"></a>
                          <a [routerLink] = "routes.adminProfile">{{data.doctorName}}</a>
                        </h2>
                      </td>
                      <td>
                        <i class="fe fe-star text-warning"></i>
                        <i class="fe fe-star text-warning"></i>
                        <i class="fe fe-star text-warning"></i>
                        <i class="fe fe-star text-warning"></i>
                        <i class="fe fe-star-o text-secondary"></i>
                      </td>
                      <td>
                        {{data.description}}
                      </td>
                      <td>{{data.date}} <br><small>09.59 AM</small></td>
                      <td>
                        <div class="actions">
                          <a class="btn btn-sm bg-danger-light" data-bs-toggle="modal" href="#delete_modal">
                            <i class="fe fe-trash"></i> {{data.actions}}
                          </a>
                        </div>
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
            <app-custom-pagination></app-custom-pagination>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- /Page Wrapper -->
