<app-doctor-breadcrumb></app-doctor-breadcrumb>
<!-- Page Content -->
<div class="content">
    <div class="container">

        <div class="row">
            <app-doctor-sidebar class="col-md-5 col-lg-4 col-xl-3"></app-doctor-sidebar>
            
            <div class="col-lg-8 col-xl-9">
                <div class="dashboard-header">
                    <div class="header-back">
                        <a [routerLink]="routes.appointmentsListUser" class="back-arrow"><i class="fa-solid fa-arrow-left"></i></a>
                        <h3>Appointment Details</h3>
                    </div>
                </div>
                <div class="appointment-details-wrap">

                    <!-- Appointment Detail Card -->
                    <div class="appointment-wrap appointment-detail-card">
                        <ul>
                            <li>
                                <div class="patinet-information">
                                    <a href="javascript:void(0)">
                                        <img src="assets/img/doctors-dashboard/profile-02.jpg" alt="User Image">
                                    </a>
                                    <div class="patient-info">
                                        <p>#Apt0001</p>
                                        <h6><a href="javascript:void(0)">Kelly Joseph </a><span class="badge new-tag">New</span></h6>
                                        <div class="mail-info-patient">
                                            <ul>
                                                <li><i class="fa-solid fa-envelope"></i>kelly&#64;example.com</li>
                                                <li><i class="fa-solid fa-phone"></i>+1 504 368 6874</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="appointment-info">
                                <div class="person-info">
                                    <p>Person with patient</p>
                                    <ul class="d-flex apponitment-types">
                                        <li>Andrew</li>
                                    </ul>
                                </div>
                                <div class="person-info">
                                    <p>Type of Appointment</p>
                                    <ul class="d-flex apponitment-types">
                                        <li><i class="fa-solid fa-video text-indigo"></i>Video Call</li>
                                    </ul>
                                </div>
                                
                            </li>
                            <li class="appointment-action">
                                <div class="detail-badge-info">
                                    <span class="badge bg-green">Completed</span>
                                </div>
                                <div class="consult-fees">
                                    <h6>Consultation Fees : $200</h6>
                                </div>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)"><i class="fa-solid fa-comments"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><i class="fa-solid fa-xmark"></i></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="detail-card-bottom-info">
                            <li>
                                <h6>Appointment Date & Time</h6>
                                <span>22 Jul 2023 - 12:00 pm</span>
                            </li>
                            <li>
                                <h6>Visit Type</h6>
                                <span>General</span>
                            </li>
                            <li class="appointment-detail-btn">
                                <a href="#view_prescription" data-bs-toggle="modal">View Details</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /Appointment Detail Card -->

                    <div class="recent-appointments">
                        <h5 class="head-text">Recent Appointments</h5>
                        <!-- Appointment List -->
                        <div class="appointment-wrap">
                            <ul>
                                <li>
                                    <div class="patinet-information">
                                        <a href="javascript:void(0)">
                                            <img src="assets/img/doctors-dashboard/profile-01.jpg" alt="User Image">
                                        </a>
                                        <div class="patient-info">
                                            <p>#Apt0001</p>
                                            <h6><a href="javascript:void(0)">Adrian</a></h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="appointment-info">
                                    <p><i class="fa-solid fa-clock"></i>11 Nov 2024 10.45 AM</p>
                                    <ul class="d-flex apponitment-types">
                                        <li>General Visit</li>
                                        <li>Chat</li>
                                    </ul>
                                    
                                </li>
                                <li class="mail-info-patient">
                                    <ul>
                                        <li><i class="fa-solid fa-envelope"></i>adran&#64;example.com</li>
                                        <li><i class="fa-solid fa-phone"></i>+1 504 368 6874</li>
                                    </ul>
                                </li>
                                <li class="appointment-action">
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)"><i class="fa-solid fa-eye"></i></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- /Appointment List -->
                        <!-- Appointment List -->
                        <div class="appointment-wrap">
                            <ul>
                                <li>
                                    <div class="patinet-information">
                                        <a href="javascript:void(0)">
                                            <img src="assets/img/doctors-dashboard/profile-03.jpg" alt="User Image">
                                        </a>
                                        <div class="patient-info">
                                            <p>#Apt0003</p>
                                            <h6><a href="javascript:void(0)">Samuel</a></h6>
                                        </div>
                                    </div>
                                </li>
                                <li class="appointment-info">
                                    <p><i class="fa-solid fa-clock"></i>27 Oct 2024 09.30 AM</p>
                                    <ul class="d-flex apponitment-types">
                                        <li>General Visit</li>
                                        <li>Video Call</li>
                                    </ul>
                                    
                                </li>
                                <li class="mail-info-patient">
                                    <ul>
                                        <li><i class="fa-solid fa-envelope"></i>samuel&#64;example.com</li>
                                        <li><i class="fa-solid fa-phone"></i> +1 749 104 6291</li>
                                    </ul>
                                </li>
                                <li class="appointment-action">
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)"><i class="fa-solid fa-eye"></i></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- /Appointment List -->
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>		
<!-- /Page Content -->
<!-- Appointment Details Modal -->
<div class="modal fade custom-modal custom-modal-two" id="reject_reason">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reject Reason</h5>
                <button type="button" data-bs-dismiss="modal" aria-label="Close">
                    <span><i class="fa-solid fa-x"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="reason-of-rejection">
                    <p>I have an urgent surgery, while our Appointment so i am rejecting appointment, you can book an reschedule by next week.</p>
                    <span class="text-danger">Cancelled By You on 23 March 2023</span>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- /Appointment Details Modal -->
