 
<!-- Page Content -->
<div class="content">
  <div class="container">

    <div class="row">

      <app-patient-sidebar class="col-lg-4 col-xl-3"></app-patient-sidebar>

      <div class="col-lg-8 col-xl-9">
        <div class="dashboard-header">
          <h3>Dashboard</h3>
        </div>
        <div class="row">
          
          <!-- <div class="col-xl-5">
            <div class="dashboard-card w-100 card-appointment">
              <div class="dashboard-card-head">
                <div class="header-title">
                  <h5><span class="card-head-icon"><i class="fa-solid fa-calendar-days"></i></span>Appointment</h5>
                </div>
                <div class="card-view-link">
                  <div class="owl-nav slide-nav text-end nav-control"></div>
                </div>
              </div>
              <div class="dashboard-card-body">
                <div class="apponiment-dates">
                  <ul class="appointment-calender-slider">
                    <owl-carousel-o [options]="patientSliderOptions">
                      <ng-template carouselSlide>
                        <li>
                          <a href="javascript:void(0);">
                            <h5>19 <span>Mon</span></h5>
                          </a>
                        </li>
                      </ng-template>
                      <ng-template carouselSlide>
                        <li>
                          <a href="javascript:void(0);">
                            <h5>20 <span>Mon</span></h5>
                          </a>
                        </li>
                      </ng-template>
                      <ng-template carouselSlide>
                        <li>
                          <a href="javascript:void(0);" class="available-date">
                            <h5>21 <span>Tue</span></h5>
                          </a>
                        </li>
                      </ng-template>
                      <ng-template carouselSlide>
                        <li>
                          <a href="javascript:void(0);" class="available-date">
                            <h5>22 <span>Wed</span></h5>
                          </a>
                        </li>
                      </ng-template>
                      <ng-template carouselSlide>
                        <li>
                          <a href="javascript:void(0);">
                            <h5>23 <span>Thu</span></h5>
                          </a>
                        </li>
                      </ng-template>
                      <ng-template carouselSlide>
                        <li>
                          <a href="javascript:void(0);">
                            <h5>24 <span>Fri</span></h5>
                          </a>
                        </li>
                      </ng-template>
                      <ng-template carouselSlide>
                        <li>
                          <a href="javascript:void(0);">
                            <h5>25 <span>Sat</span></h5>
                          </a>
                        </li>
                      </ng-template>
                    </owl-carousel-o>
                  </ul>
                  @for (data of appointmentDetails?.data.appointments; track data){
                  <div class="appointment-dash-card">
                      <div class="doctor-fav-list">
                        <div class="doctor-info-profile">
                          <a href="javascript:void(0);" class="table-avatar">
                            <img src="assets/img/doctors-dashboard/doctor-profile-img.jpg" alt="Img">
                          </a>
                          <div class="doctor-name-info">
                            <h5><a href="javascript:void(0);">{{data.doctorName}}</a></h5>
                            <span>Dentist</span>
                          </div>
                        </div>
                        <a href="javascript:void(0);" class="cal-plus-icon"><i class="fa-solid fa-hospital"></i></a>
                      </div>
                      <div class="date-time">
                        <p><i class="fa-solid fa-clock"></i>{{formatDate(data.appointmentDate)}} - {{data.appointmentTime}} </p>
                      </div>
                      <div class="card-btns">
                        <a [routerLink]="routes.chat" class="btn btn-gray"><i class="fa-solid fa-comment-dots"></i>Chat Now</a>
                        <a class="btn btn-outline-primary"><i
                            class="fa-solid fa-calendar-check"></i>Attend</a>
                              [routerLink]="routes.patientAppointment" 
                      </div>
                    </div>
                  }
                  <div class="appointment-dash-card">
                    <div class="doctor-fav-list">
                      <div class="doctor-info-profile">
                        <a href="javascript:void(0);" class="table-avatar">
                          <img src="assets/img/doctors/doctor-17.jpg" alt="Img">
                        </a>
                        <div class="doctor-name-info">
                          <h5><a href="javascript:void(0);">Dr.Juliet Gabriel</a></h5>
                          <span>Cardiologist</span>
                        </div>
                      </div>
                      <a href="javascript:void(0);" class="cal-plus-icon"><i class="fa-solid fa-video"></i></a>
                    </div>
                    <div class="date-time">
                      <p><i class="fa-solid fa-clock"></i>22 Mar 2024 - 10:30 PM </p>
                    </div>
                    <div class="card-btns">
                      <a [routerLink]="routes.chat" class="btn btn-gray"><i class="fa-solid fa-comment-dots"></i>Chat Now</a>
                      <a [routerLink]="routes.patientAppointment" class="btn btn-outline-primary"><i
                          class="fa-solid fa-calendar-check"></i>Attend</a>
                    </div>
                  </div> 
                </div>
              </div>

            </div>
            
          </div>
          <div class="col-xl-7">
           
             <div class="favourites-dashboard w-100">
              <div class="book-appointment-head">
                <h3><span>Book a new</span>Appointment</h3>
                <span class="add-icon"><a href="javascript:void(0);"><i class="fa-solid fa-circle-plus"></i></a></span>
              </div>
              
            </div> 
            <div class="dashboard-card w-100">
              <div class="dashboard-card-head">
                <div class="header-title">
                  <h5>Past Appointments</h5>
                </div>
                <div class="card-view-link">
                  <div class="owl-nav slide-nav2 text-end nav-control"></div>
                </div>
              </div>
              <div class="dashboard-card-body">

                <div class="past-appointments-slider">
                  <owl-carousel-o [options]="doctorSliderOptions">
                    <ng-template carouselSlide>
                      <div class="appointment-dash-card past-appointment">
                        <div class="appointment-date-info">
                          <h4>Thursday, Mar 2024</h4>
                          <ul>
                            <li>
                              <span><i class="fa-solid fa-clock"></i></span>Time : 04:00 PM - 04:30 PM (30 Min)
                            </li>
                            <li>
                              <span><i class="fa-solid fa-location-dot"></i></span>Newyork, United States
                            </li>
                          </ul>
                        </div>
                        <div class="doctor-fav-list">
                          <div class="doctor-info-profile">
                            <a href="javascript:void(0);" class="table-avatar">
                              <img src="assets/img/doctors-dashboard/doctor-profile-img.jpg" alt="Img">
                            </a>
                            <div class="doctor-name-info">
                              <h5><a href="javascript:void(0);">Dr.Edalin Hendry</a></h5>
                              <span>Dental Specialist</span>
                            </div>
                          </div>
                        </div>
                        <div class="card-btns">
                          <a [routerLink]="routes.patientAppointment"
                            class="btn btn-outline-primary ms-0 me-3">Reschedule</a>
                          <a [routerLink]="routes.patientAppointmentDetails" class="btn btn-primary prime-btn">View
                            Details</a>
                        </div>
                      </div>
                    </ng-template>
                    <ng-template carouselSlide>
                      <div class="appointment-dash-card past-appointment">
                        <div class="appointment-date-info">
                          <h4>Friday, Mar 2024</h4>
                          <ul>
                            <li>
                              <span><i class="fa-solid fa-clock"></i></span>Time : 03:00 PM - 03:30 PM (30 Min)
                            </li>
                            <li>
                              <span><i class="fa-solid fa-location-dot"></i></span>Newyork, United States
                            </li>
                          </ul>
                        </div>
                        <div class="doctor-fav-list">
                          <div class="doctor-info-profile">
                            <a href="javascript:void(0);" class="table-avatar">
                              <img src="assets/img/doctors/doctor-17.jpg" alt="Img">
                            </a>
                            <div class="doctor-name-info">
                              <h5><a href="javascript:void(0);">Dr.Juliet Gabriel</a></h5>
                              <span>Cardiologist</span>
                            </div>
                          </div>
                        </div>
                        <div class="card-btns">
                          <a [routerLink]="routes.patientAppointment"
                            class="btn btn-outline-primary ms-0 me-3">Reschedule</a>
                          <a [routerLink]="routes.medicaldetails" class="btn btn-primary prime-btn">View Details</a>
                        </div>
                      </div>
                    </ng-template>
                  </owl-carousel-o>
                </div>

              </div>
            </div>
            
          </div>  -->
          <div class="col-xl-12 d-flex">
            <div class="dashboard-card w-100">
              <div class="dashboard-card-head">
                <div class="header-title">
                  <h5>Reports</h5>
                </div>
               

              </div>
              <div class="dashboard-card-body">
                <div class="account-detail-table">
                  <!-- Tab Menu -->
                  <nav class="patient-dash-tab border-0 pb-0 mb-3 mt-3">
                    <ul class="nav nav-tabs-bottom">
                      <li class="nav-item">
                        <a class="nav-link active" href="#appoint-tab" data-bs-toggle="tab">Appointments</a>
                      </li>
                      <!-- <li class="nav-item">
                        <a class="nav-link" href="#medical-tab" data-bs-toggle="tab">Medical Records</a>
                      </li> -->
                      <li class="nav-item">
                        <a class="nav-link" href="#prsc-tab" data-bs-toggle="tab">Prescriptions</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#invoice-tab" data-bs-toggle="tab">Invoices</a>
                      </li>
                    </ul>
                  </nav>
                  <!-- /Tab Menu -->

                  <!-- Tab Content -->
                  <div class="tab-content pt-0">

                    <!-- Appointments Tab -->
                    <div id="appoint-tab" class="tab-pane fade show active">
                      <div class="custom-new-table">
                        <div class="table-responsive">
                          <table class="table table-hover table-center mb-0">
                            <thead>
                              <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Date</th>
                                <th>Phone Number</th>
                                <th>Email</th>
                                <th>Comments</th>
                                <th>Status</th>
                              </tr>
                            </thead>
                            <tbody>
                              <ng-container *ngFor="let data of appointmentDetails?.data.appointments,let i=index">
                                <tr>
                                  <td>
                                    <a href="javascript:void(0);"><span class="text-blue">#PR-00{{i+1}}</span></a>
                                  </td>
                                  <td>
                                    {{data.doctorName}}
                                  </td>
                                  <td>{{formatDate(data.appointmentDate)}}</td>
                                  <td>{{data.doctorPhone}}</td>
                                  <td>{{data.doctorEmail}}</td>
                                  <td>Good take rest</td>
                                  <td>
                                    <span *ngIf="data.isUpcomming === true" class="badge badge-warning-bg">Upcoming</span>
                                    <span *ngIf="data.isCancelled === true" class="badge badge-danger-bg">Cancelled</span>
                                    <span *ngIf="data.isCompleted === true" class="badge badge-success-bg">Completed</span>
                                  </td>
                                </tr>
                              </ng-container>
                              
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <!-- /Appointments Tab -->

                    <!-- Medical Records Tab -->
                    <!-- <div class="tab-pane fade" id="medical-tab">
                      <div class="custom-table">
                        <div class="table-responsive">
                          <table class="table table-center mb-0">
                            <thead>
                              <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Date</th>
                                <th>Description</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="text-blue-600"><a href="javascript:void(0);">#MR-123</a></td>
                                <td>
                                  <a href="javascript:void(0);" class="lab-icon">
                                    <span><i class="fa-solid fa-paperclip"></i></span>Lab Report
                                  </a>
                                </td>
                                <td>24 Mar 2024</td>
                                <td>Glucose Test V12</td>
                                <td>
                                  <div class="action-item">
                                    <a href="javascript:void(0);">
                                      <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                    <a href="javascript:void(0);">
                                      <i class="fa-solid fa-download"></i>
                                    </a>
                                    <a href="javascript:void(0);">
                                      <i class="fa-solid fa-trash-can"></i>
                                    </a>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="text-blue-600"><a href="javascript:void(0);">#MR-124</a></td>
                                <td>
                                  <a href="javascript:void(0);" class="lab-icon">
                                    <span><i class="fa-solid fa-paperclip"></i></span>Lab Report
                                  </a>
                                </td>
                                <td>27 Mar 2024</td>
                                <td>Complete Blood Count(CBC)</td>
                                <td>
                                  <div class="action-item">
                                    <a href="javascript:void(0);">
                                      <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                    <a href="javascript:void(0);">
                                      <i class="fa-solid fa-download"></i>
                                    </a>
                                    <a href="javascript:void(0);">
                                      <i class="fa-solid fa-trash-can"></i>
                                    </a>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="text-blue-600"><a href="javascript:void(0);">#MR-125</a></td>
                                <td>
                                  <a href="javascript:void(0);" class="lab-icon">
                                    <span><i class="fa-solid fa-paperclip"></i></span>Lab Report
                                  </a>
                                </td>
                                <td>10 Apr 2024</td>
                                <td>Echocardiogram</td>
                                <td>
                                  <div class="action-item">
                                    <a href="javascript:void(0);">
                                      <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                    <a href="javascript:void(0);">
                                      <i class="fa-solid fa-download"></i>
                                    </a>
                                    <a href="javascript:void(0);">
                                      <i class="fa-solid fa-trash-can"></i>
                                    </a>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="text-blue-600"><a href="javascript:void(0);">#MR-126</a></td>
                                <td>
                                  <a href="javascript:void(0);" class="lab-icon">
                                    <span><i class="fa-solid fa-paperclip"></i></span>Lab Report
                                  </a>
                                </td>
                                <td>19 Apr 2024</td>
                                <td>COVID-19 Test</td>
                                <td>
                                  <div class="action-item">
                                    <a href="javascript:void(0);">
                                      <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                    <a href="javascript:void(0);">
                                      <i class="fa-solid fa-download"></i>
                                    </a>
                                    <a href="javascript:void(0);">
                                      <i class="fa-solid fa-trash-can"></i>
                                    </a>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="text-blue-600"><a href="javascript:void(0);">#MR-127</a></td>
                                <td>
                                  <a href="javascript:void(0);" class="lab-icon">
                                    <span><i class="fa-solid fa-paperclip"></i></span>Lab Report
                                  </a>
                                </td>
                                <td>27 Apr 2024</td>
                                <td>Allergy Tests</td>
                                <td>
                                  <div class="action-item">
                                    <a href="javascript:void(0);">
                                      <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                    <a href="javascript:void(0);">
                                      <i class="fa-solid fa-download"></i>
                                    </a>
                                    <a href="javascript:void(0);">
                                      <i class="fa-solid fa-trash-can"></i>
                                    </a>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="text-blue-600"><a href="javascript:void(0);">#MR-128</a></td>
                                <td>
                                  <a href="javascript:void(0);" class="lab-icon">
                                    <span><i class="fa-solid fa-paperclip"></i></span>Lab Report
                                  </a>
                                </td>
                                <td>02 May  2024</td>
                                <td>Lipid Panel </td>
                                <td>
                                  <div class="action-item">
                                    <a href="javascript:void(0);">
                                      <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                    <a href="javascript:void(0);">
                                      <i class="fa-solid fa-download"></i>
                                    </a>
                                    <a href="javascript:void(0);">
                                      <i class="fa-solid fa-trash-can"></i>
                                    </a>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div> -->
                    <!-- /Medical Records Tab -->

                    <!-- Prescriptions Tab -->
                    <div class="tab-pane fade" id="prsc-tab">
                      <div class="custom-table">
                        <div class="table-responsive">
                          <table class="table table-center mb-0">
                            <thead>
                              <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Created Date</th>
                                <th>Prescriped By</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <ng-container *ngFor="let data of Prescriptions">
                                <tr>
                                  <td class="text-blue-600"><a href="javascript:void(0);"  data-bs-toggle="modal" data-bs-target="#view_prescription">{{data.customPrescriptionID}}</a></td>
                                  <td>
                                    <a href="javascript:void(0);" class="lab-icon prescription">
                                      <span><i class="fa-solid fa-prescription"></i></span>Prescription
                                    </a>
                                  </td>
                                  <td>{{formatDateString(data.createdDate)}}</td>
                                  <td>
                                    <h2 class="table-avatar">
                                      <a [routerLink] = "routes.doctorProfile2" class="avatar avatar-sm me-2">
                                        <img class="avatar-img rounded-3" src="assets/img/doctors/doctor-thumb-02.jpg" alt="User Image">
                                      </a>
                                      <a [routerLink] = "routes.doctorProfile2">{{data.doctorName}}</a>
                                    </h2>
                                  </td>
                                  <td>
                                    <div class="action-item">
                                      <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#view_prescription">
                                        <i class="fa-solid fa-link"></i>
                                      </a>
                                      <a [href]="fullFilePath(data.pdfFilePath)" [download]="fullFilePath(data.pdfFilePath)" target="_blank">
                                        <i class="fa-solid fa-download"></i>
                                    </a>
                                    <a href="javascript:void(0);" (click)="delete(data.prescriptionID)">
                                      <i class="fa-solid fa-trash-can"></i>
                                    </a>
                                    </div>
                                  </td>
                                </tr>
                              </ng-container>
                              
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <!-- Prescriptions Tab -->

                    <!--Invoices Tab -->
                    <div class="tab-pane fade" id="invoice-tab">
                      <div class="custom-table">
                        <div class="table-responsive">
                          <table class="table table-center mb-0">
                            <thead>
                              <tr>
                                <th>ID</th>
                                <th>Doctor</th>
                                <th>Appointment Date</th>
                                <th>Booked on</th>
                                <th>Amount</th>
                              </tr>
                            </thead>
                            <tbody>
                              <ng-container *ngFor="let invoice of invoices;let i = index">
                                <tr>
                                  <td class="text-blue-600"><a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#invoice_view">#Inv-{{i+1}}</a></td>
                                  <td>
                                    <h2 class="table-avatar">
                                      <a [routerLink] = "routes.doctorProfile2" class="avatar avatar-sm me-2">
                                        <img class="avatar-img rounded-3" src="assets/img/doctors/doctor-thumb-21.jpg" alt="User Image">
                                      </a>
                                      <a [routerLink] = "routes.doctorProfile2">{{invoice.doctorName}}</a>
                                    </h2>
                                  </td>
                                  <td>{{formatDate(invoice.appointmentDate)}}</td>
                                  <td>{{formatDate(invoice.bookedDate)}}</td>
                                  <td>{{invoice.amount}}</td>
                                  <!-- <td>
                                    <div class="action-item">
                                      <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#invoice_view">
                                        <i class="fa-solid fa-link"></i>
                                      </a>
                                      <a href="javascript:void(0);">
                                        <i class="fa-solid fa-print"></i>
                                      </a>
                                    </div>
                                  </td> -->
                                </tr>
                              </ng-container>
                             
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <!-- Invoices Tab -->

                  </div>
                  <!-- Tab Content -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
<!-- /Page Content -->